<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Click and Cheers{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css')}}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css')}}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body onmousemove="souris(event);">
        {% block navbar %}
            {% include '::navbar.html.twig' %}
        {% endblock navbar %}
        
        <div class="mainContainer">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/jquery-2.1.0.js') }}" type="text/javascript" /></script>
            <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript" /></script>
            <script src="{{ asset('js/function.js') }}" type="text/javascript" /></script>
        {% endblock %}
    </body>
</html>
