<footer>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="colFooter col-xs-12 col-sm-4 col-md-4 noPadding">
			<h2>A propos de nous</h2><br/>
			<p>Qui sommes nous ?</p><br/>
			<p>Le concept</p><br/>
			<p>Ils parlent de nous</p><br/>
			<a href="mailto:contact@click-and-cheers.com?subject=Quelques%20petits%20conseils">Vos suggestions nous interressent</a><br/>
		</div>
		<div class="colFooter col-xs-12 col-sm-4 col-md-4 noPadding">
			<h2>Besoin d'aide ?</h2><br/>
			<a href="mailto:contact@click-and-cheers.com?subject=Aidez%20moi%20!">Contactez nous</a><br/>
			<p>F.A.Q.</p><br/>
			<p>C.G.U. / Mentions légales</p><br/>
		</div>
		<div class="colFooter col-xs-12 col-sm-4 col-md-4 noPadding">
			<h2>Click and cheers pro</h2><br/>
			{% if is_granted('ROLE_BIGBOSS') %}
				<a href="{{ path('fos_user_security_logout') }}"><p>Se déconnecter</p></a><br/>
			{% else %}
				<a href="{{ path('bigboss_register') }}"><p>Inscrivez vous !</p></a><br/>
			{% endif %}
			<a href="mailto:pro@click-and-cheers.com?subject=Demande%20de%20renseignements">Contactez nous</a><br/>
			<p>Soyez rappelé immédiatement</p><br/>
		</div>
	</div>
	<div class="footerInfo col-xs-12 col-sm-12 col-md-12 noPadding">
		<div class="footerRS">
			
			<img src="{{asset('img/twitter.png')}}" alt="">
			<img src="{{asset('img/pinterest.png')}}" alt="">
			<img src="{{asset('img/facebook.png')}}" alt="">
		</div>
	</div>
	<p class="droitReserve">@2015 Click and cheers</p>
	<div class="clear"></div>
</footer>