<div class="isConnexion">
</div>
  <div class="forConnexion">
  <div class="closeForConnexion">
    <img src="{{asset('img/crossClose.png')}}" alt="">
  </div>
  <h2>CONNEXION</h2>
  <div class="container-modal">
  </div>
  <div class="facebookLogin">
    <h2>Se connecter avec facebook</h2>
  </div>
  <a href="{{ path('user_register') }}"><div class="inscrivezVous">
    <h2>INSCRIVEZ VOUS</h2>
  </div></a>
</div>
  <div class="forConfirmation">
    <p>Un mail viens de vous être envoyé, cliquer sur le lien pour confirmer définitivement votre inscription.<br><br>A tout de suite ! </p>
  </div>
<nav>
    <button class="hidden-sm hidden-md hidden-lg menu__handle">
        <span>Menu</span>
    </button>
    <div class="contentLogo">
        <a href="{{ path('home') }}">
            <img src="{{asset('img/LogoClickandcheers.svg')}}" alt="Click and Cheers">
        </a>
    </div>
    <div class="menuMob">
        
    
        <div class="administration">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="profileUserNav">
                  <img class="hidden-sm hidden-md hidden-lg" src="{{asset('img/imgProfilBasic.png')}}">
                  <p>Bonjour <span class="nameInHeader">{{ app.user.firstname}}</span> </p>
                </div>
                <div class="row">
                  <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-4 hidden-sm hidden-md hidden-lg">
                      <img src="{{asset('img/pictoHeader/reservation.svg')}}">
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
                <ul>
                    <li>
                      {% if is_granted('ROLE_BIGBOSS') %}
                        <a href="{{ path('bar_new') }}"><p>Créer un bar</p></a>
                      {% endif %}
                    </li>
                    
                    <li><a class="monCompte" href="{{ path('compte', { id : bar.id }) }}"><p>Mon compte pro</p></a></li>
                    
                    <li class="logout"><a href="{{ path('fos_user_security_logout') }}"><p>Déconnexion</p></a></li>
                </ul>
            {% else %}
                <div class="connexionInscription">
                    <p class="animConnexion">Connexion</p>
                    <p><a href="{{ path('user_register') }}">Inscription</a></p>
                </div>
                <!-- <li class="connexionAndCreate col-sm-4 col-md-4 noPadding">
                      <a class="animConnexion col-sm-6 col-md-6 noPadding" href="#">Connexion</a>
                      <a class="InscriptionHeader animRegister col-sm-6 col-md-6 noPadding" href="{{ path('user_register') }}">Inscrivez<br>vous</a></li> -->
            {% endif %}
        </div>
        <div class="contentNav">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                    <div class="col-xs-12 col-sm-4 col-md-4 noPadding">
                        <p class="leftMobile"><a href="{{ path('bars_offer', { id : bar.id }) }}">Gestions des offres</a></p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 noPadding">
                        <p class="leftMobile"><a href="{{ path('bars_offerFeedback', { id : bar.id }) }}">Retour des offres</a></p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 noPadding">
                        <p class="leftMobile"><a href="{{ path('bars_option', { id : bar.id }) }}">Options</a></p>
                    </div>
                    <div class="clear"></div>
                    <div class="separationHeader"></div>
                    {% if is_granted('ROLE_BIGBOSS') %}
                      <div class="col-xs-12 hidden-sm hidden-md hidden-lg noPadding">
                          <p class="leftMobile"><a href="{{ path('bar_new') }}">Créer un bar</a></p>
                      </div>
                    {% endif %}
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg noPadding">
                        <p class="leftMobile"><a href="{{ path('compte', { id : bar.id }) }}">Mon compte pro</a></p>
                        <p class="logout"><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</nav>

<script type="text/javascript">
function souris(event)
{
  var x = event.clientX;
  var y = event.clientY;
  //alert('Vous avez cliqué au point de coordonnés: ' + x + ', ' + y );
}</script>