<div class="isConnexion">
</div>

<div class="forConnexion">
  <div class="closeForConnexion">
    <img src="{{asset('img/crossClose.png')}}" alt="">
  </div>
  <h2>CONNEXION</h2>
  <div class="container-modal">
  </div>
  <div class="facebookLogin">
    <h2>Se connecter avec facebook</h2>
  </div>
  <a href="{{ path('user_register') }}"><div class="inscrivezVous">
    <h2>INSCRIVEZ VOUS</h2>
  </div></a>
</div>

<nav class="navbar navbar-default" role="navigation">
  <div class="row">
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <div class="center hidden-sm hidden-md hidden-lg">
          <a class="logo-afterscroll" href="{{ path('home') }}"><img src="{{asset('img/logo.png')}}" alt="Click and Cheers"></a>
        </div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav col-xs-12 col-sm-5 col-md-5 noPadding">
          <li class="col-sm-6 col-md-6"><a class="trouverBar" href="{{ path('bars') }}">TROUVER UN BAR</a></li>
          <li class="col-sm-6 col-md-6"><a class="map" href="{{ path('map') }}">MAP</a></li>
        </ul>
        <div class="nav navbar-nav hidden-xs col-sm-2 col-md-2">
          <div class="containeurLogo">
            <div class="logoradius">
              <a href="{{ path('home') }}"><img src="{{asset('img/logo.png')}}" alt="Click and Cheers"></a>
            </div>
          </div>
        </div>
        <div class="row">
          <ul class="nav navbar-nav hidden-xs col-sm-5 col-md-5">
            <li class="col-sm-4 col-md-4 noPadding"><a class="hasard" href="{{ path('randomBar') }}">AU HASARD</a></li>
            <li class="col-sm-4 col-md-4 noPadding"><a class="parrainage" href="#">PARRAINAGE</a></li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
              <li class="dropdown col-sm-4 col-md-4 noPadding">
                <a href="#" class="monCompteUser dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ app.user.firstname }}</a>
                  <ul class="dropdown-menu" role="menu"> 
                    <li>
                      {% if is_granted('ROLE_BIGBOSS') %}
                        <!-- ICI METTRE LIEN VERS BACK OFFICE BAR -->
                        <!-- <a href="{{ path('fos_user_profile_show') }}">{{ app.user.firstname }}</a> -->
                        <li><a href="{{ path('bar_new') }}">Créer un bar</a></li>
                      {% else %}
                        <!-- <a href="{{ path('fos_user_profile_show') }}">{{ app.user.firstname }}</a> -->
                      {% endif %}
                    </li>
                    <li><a class="mesReservation" href="#">Mes réservations</a></li>
                    <li><a class="mesParrainage" href="#">Mes parrainage</a></li>
                    <li><a class="monCompte" href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
                    <li><a href="#">Mes points</a></li>
                    <li class="logout"><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                  </ul>
              </li>
              {% else %}
                <li class="connexionAndCreate col-sm-4 col-md-4 noPadding">
                  <a class="animConnexion col-sm-6 col-md-6 noPadding" href="#">Connexion</a>
                  <a class="InscriptionHeader animRegister col-sm-6 col-md-6 noPadding" href="{{ path('user_register') }}">Inscrivez<br>vous</a></li>
              {% endif %}
          </ul>
        </div>
        <ul class="nav navbar-nav col-xs-12 hidden-sm hidden-md hidden-lg">
          <li><a href="{{ path('randomBar') }}">AU HASARD</a></li>
          <li><a href="#">PARRAINAGE</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">MON COMPTE <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="pull-right"><a href="{{ path('fos_user_security_logout') }}">X</a></li>
                <li class="pull-right">
                  {% if is_granted('ROLE_BIGBOSS') %}
                    <!-- ICI METTRE LIEN VERS BACK OFFICE BAR -->
                    <a href="{{ path('fos_user_profile_show') }}">{{ app.user.firstname }}</a>
                  {% else %}
                    <a href="{{ path('fos_user_profile_show') }}">{{ app.user.firstname }}</a>
                  {% endif %}
                </li>
                {% if is_granted('ROLE_BIGBOSS') %}
                  <li class="pull-right"><a href="{{ path('bar_new') }}">Créer un bar</a></li>
                {% endif %}
              {% else %}
                <li class="pull-right"><a class="animRegister" href="{{ path('user_register') }}">Créer un compte</a></li>
                <li class="pull-right"><a class="animConnexion" href="#">Connexion</a></li>
              {% endif %}
            </ul>
          </li>
           
        </ul>
      </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
  </div>
</nav>

<!-- After scroll nav -->
<div class="navbar navbar-afterscroll stuck">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav col-xs-12 col-sm-5 col-md-5">
        <li class="col-sm-6 col-md-6"><a class="trouverBar" href="{{ path('bars') }}">TROUVER UN BAR</a></li>
          <li class="col-sm-6 col-md-6"><a class="map" href="{{ path('map') }}">MAP</a></li>
      </ul>
      <div class="nav navbar-nav hidden-xs col-sm-2 col-md-2">
        <div class="containeurLogo">
            <a class="logo-afterscroll" href="{{ path('home') }}"><img src="{{asset('img/logo.png')}}" alt="Click and Cheers"></a>
        </div>
      </div>
      <div class="row">
          <ul class="nav navbar-nav hidden-xs col-sm-5 col-md-5">
            <li class="col-sm-4 col-md-4 noPadding"><a class="hasard" href="{{ path('randomBar') }}">AU HASARD</a></li>
            <li class="col-sm-4 col-md-4 noPadding"><a class="parrainage" href="#">PARRAINAGE</a></li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
              <li class="dropdown col-sm-4 col-md-4 noPadding">
                <a href="#" class="monCompteUser dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ app.user.firstname }}</a>
                  <ul class="dropdown-menu" role="menu"> 
                    <li>
                      {% if is_granted('ROLE_BIGBOSS') %}
                        <!-- ICI METTRE LIEN VERS BACK OFFICE BAR -->
                        <!-- <a href="{{ path('fos_user_profile_show') }}">{{ app.user.firstname }}</a> -->
                        <li><a href="{{ path('bar_new') }}">Créer un bar</a></li>
                      {% else %}
                        <!-- <a href="{{ path('fos_user_profile_show') }}">{{ app.user.firstname }}</a> -->
                      {% endif %}
                    </li>
                    <li><a class="mesReservation" href="#">Mes réservations</a></li>
                    <li><a class="mesParrainage" href="#">Mes parrainage</a></li>
                    <li><a class="monCompte" href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
                    <li><a href="#">Mes points</a></li>
                    <li class="logout"><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                  </ul>
              </li>
              {% else %}
                <li class="connexionAndCreate col-sm-4 col-md-4 noPadding">
                  <a class="animConnexion col-sm-6 col-md-6 noPadding" href="#">Connexion</a>
                  <a class="InscriptionHeader animRegister col-sm-6 col-md-6 noPadding" href="{{ path('user_register') }}">Inscrivez<br>vous</a></li>
              {% endif %}
          </ul>
        </div>
    </div><!-- /.navbar-collapse -->
  </div>  
</div>

<script type="text/javascript">
function souris(event)
{
  var x = event.clientX;
  var y = event.clientY;
  //alert('Vous avez cliqué au point de coordonnés: ' + x + ', ' + y );
}</script>