<div class="isConnexion">
</div>

<div class="forConnexion">
  <div class="closeForConnexion">
    <img src="{{asset('img/crossClose.png')}}" alt="">
  </div>
  <h2>CONNEXION</h2>
  <div class="container-modal">
  </div>
  <div class="facebookLogin">
    <h2>Se connecter avec facebook</h2>
  </div>
  <a href="{{ path('user_register') }}"><div class="inscrivezVous">
    <h2>INSCRIVEZ VOUS</h2>
  </div></a>
</div>

<div class="forParrainage">
  
  <h2>Saisissez votre code</h2>
  <p>Notre systeme de parrainage unique vous permet d’offrir gratuitement un verre à un ami. Pour cela il vous suffit de renseigner le code que le bar partenaire de click and cheers vous à donner avec votre addition.</p>

  <div class="champsParrainagePopUPHeader">
    <p>Votre code</p>

    <input type="text" class="codeValue" placeholder="Ex: 435e5d">
  </div>

  <button class="ticketVerreValidate">Valider</button>
  
</div>

<nav class="menuNav">
    <button class="hidden-sm hidden-md hidden-lg menu__handle">
        <span>Menu</span>
    </button>
    <div class="contentLogo">
        <a href="{{ path('home') }}">
            <img src="{{asset('img/LogoClickandcheers.svg')}}" alt="Click and Cheers">
        </a>
    </div>
    <div class="menuMob">
        
    
        <div class="administration">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="profileUserNav">
                  <img class="hidden-sm hidden-md hidden-lg" src="{{asset('img/imgProfilBasic.png')}}">
                  {% if is_granted('ROLE_BARMAN') and not is_granted('ROLE_BIGBOSS') %}
                    <p>Bonjour {{ app.user.getUsername()}} </p>
                  {% else %}
                    <p>Bonjour {{ app.user.firstname}} </p>
                  {% endif %}
                </div>
                <div class="row">
                  <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-4 hidden-sm hidden-md hidden-lg">
                      <img src="{{asset('img/pictoHeader/reservation.svg')}}">
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
                <ul>
                    {% if is_granted('ROLE_BIGBOSS') or is_granted('ROLE_BARMAN') %}
                    <li>
                        {% render url('navigation') %}
                        <a href="{{ path('barman_register') }}"><p>Ajouter un barman</p></a>
                        {% if is_granted('ROLE_BIGBOSS') %}<a href="{{ path('bar_new') }}"><p>Créer un bar</p></a>{% endif %}
                    </li>
                    <li class="navToggleBtn logout"><a href="#" class="displayMore"><p>Afficher plus</p></a></li>
                    <li class="navToggle navLine"><div class="lisere"></div></li>
                    <li class="navToggle"><a class="mesReservation" href="#"><p>Mes réservations</p></a></li>
                    <li class="navToggle"><a class="mesParrainage" href="#"><p>Mes parrainage</p></a></li>
                    <li class="navToggle"><a class="monCompte" href="{{ path('fos_user_profile_show') }}"><p>Mon compte</p></a></li>
                    <li class="navToggle hidden"><a href="#"><p>Mes points</p></a></li>
                    {% else %}
                    <li><a class="mesReservation" href="#"><p>Mes réservations</p></a></li>
                    <li><a class="mesParrainage" href="#"><p>Mes parrainage</p></a></li>
                    <li><a class="monCompte" href="{{ path('fos_user_profile_show') }}"><p>Mon compte</p></a></li>
                    <li class="navToggle hidden"><a href="#"><p>Mes points</p></a></li>
                    {% endif %}
                    <li class="logout"><a href="{{ path('fos_user_security_logout') }}"><p>Déconnexion</p></a></li>
                </ul>
            {% else %}
                <div class="connexionInscription">
                    <p class="animConnexion">Connexion</p>
                    <p><a href="{{ path('user_register') }}">Inscription</a></p>
                </div>
                <!-- <li class="connexionAndCreate col-sm-4 col-md-4 noPadding">
                      <a class="animConnexion col-sm-6 col-md-6 noPadding" href="#">Connexion</a>
                      <a class="InscriptionHeader animRegister col-sm-6 col-md-6 noPadding" href="{{ path('user_register') }}">Inscrivez<br>vous</a></li> -->
            {% endif %}
        </div>
        <div class="contentNav">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                    <div class="col-xs-12 col-sm-4 col-md-4 noPadding">
                        <p><a class="trouverBar" href="{{ path('bars') }}">TROUVER UN BAR</a></p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 noPadding">
                        <p><a class="hasard" href="{{ path('randomBar') }}">AU HASARD</a></p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 noPadding">
                        <p><a class="parrainage" href="#">PARRAINAGE</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</nav>

<script type="text/javascript">
function souris(event)
{
  var x = event.clientX;
  var y = event.clientY;
  //alert('Vous avez cliqué au point de coordonnés: ' + x + ', ' + y );
}</script>