{% extends "::basepro.html.twig" %}

{% block body %}
    <div class="topBarPro col-xs-12 col-sm-12 col-md-12 noPadding">
		<img src="{{ asset('uploads/bar/'~bar.path) }}">
		<div class="infoNameBar">
			<h1>{{ bar.name }}</h1>
		</div>
	</div>
	<div class="onglets col-xs-12 col-sm-12 col-md-12 noPadding">
		<h2>Mon compte</h2>
	</div>
	<div class="onglets ongletsOptionPro col-xs-12 col-sm-12 col-md-12 noPadding">
		<div class="ongletOptionPro generalBO col-xs-3 col-sm-3 col-md-3 noPadding">
			<p>Général</p>
		</div>
		<div class="ongletOptionPro ModifBO col-xs-3 col-sm-3 col-md-3 noPadding">
			<p>Modifier mes infos</p>
		</div>
		<div class="ongletOptionPro factureBO col-xs-3 col-sm-3 col-md-3 noPadding">
			<p>Mes factures</p>
		</div>
		<div class="ongletOptionPro barmanBO col-xs-3 col-sm-3 col-md-3 noPadding">
			<p>Mes barmans</p>
		</div>
	</div>

	<div class="coteneurBackOfficeBar col-xs-12 col-sm-12 col-md-12 noPadding">
		<div class="contentOptionBar">
			<div class="contentOption contentGeneralBO center col-xs-12 col-sm-12 col-md-12">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<p>Ma formule</p>
						{% if plan == 'shooter' %}
							<p class="affichageBO planName" data-plan="shooter">Shooter</p>
						{% elseif plan == 'shootercarte' %}
							<p class="affichageBO planName" data-plan="shootercarte">Shooter + carte</p>
						{% elseif plan == 'cosmocarte' %}
							<p class="affichageBO planName" data-plan="cosmocarte">Cosmopolitain + carte</p>
						{% else %}
							<p class="affichageBO planName" data-plan="cosmo">Cosmopolitain</p>
						{% endif %}
						<p class="underline contactUsBO changePlan">Changer ma formule</p>
					</div>

					
					<div class="col-xs-12 col-sm-6 col-md-6">
						<p>Mon jour de facturation</p>
						
						<p class="affichageBO">
							{{facturationDate | date('d')}}

								{% set months = {'1': 'janvier', '2': 'février', '3': 'maris', '4': 'avril', '5': 'mai', '6': 'juin', '7': 'juillet', '8': 'août', '9': 'septembre', '10': 'octobre', '11': 'novembre', '12': 'décembre'} %}

							    {% for j in 1..12 %}
									{% if facturationDate |date('m') == j %}
										{{ months[j] }}
									{% endif %}
								{% endfor %} 
							{{facturationDate | date('Y')}}</p>
						<p class="underline showFactureBO">Voir mes factures</p>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-12 changeMyAbonnement">
						<div class="row">
							<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

								{% if (plan == 'shooter' or plan == 'shootercarte') %}

									

									<div class="containerAbonnement">

										<div class="typeFormule">
											<div class="closetypeFormule">
												<img src="{{asset('img/crossClose.png')}}" alt="">
											</div>
											<p>Formule 2 : Cosmopolitain</p>
										</div>
										<div class="containerService">
											<div class="row">
												<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
													<h3 class="serviceCosmo">Tout les services de la formule Shooter</h3>
													<h2 class="serviceCosmo">+</h2>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12 col-sm-4 col-md-4">
													<div class="service">	
														<p>Gestion multi-comptes</p>
														<img src="{{asset('img/pictoAbonnement/backOffice.png')}}" alt="">
													</div>
												</div>
												<div class="col-xs-12 col-sm-4 col-md-4">
													<div class="service">	
														<p>Gestion multi-utilisateurs</p>
														<img src="{{asset('img/pictoAbonnement/multiUser.png')}}" alt="">
													</div>
												</div>
												<div class="col-xs-12 col-sm-4 col-md-4">
													<div class="service">	
														<p>Photos de votre établissement</p>
														<img src="{{asset('img/pictoAbonnement/photo.png')}}" alt="">
													</div>
												</div>
											</div>
										</div>
										<div class="myAbonnement">
											<h2>Abonnement mensuel : <span>49€</span></h2>
											<p>Comission : 1€ par retour client validé</p>

											<button class="premium"> Souscrire </button>
										</div>
										<div id="append-payment-premium"></div>
									</div>
								{% else %}
									<div class="containerAbonnement">
										<div class="typeFormule">
											<p>Formule 1 : Shooter</p>
										</div>
										<div class="containerService">
											<div class="row">
												<div class="col-xs-6 col-sm-4 col-md-3">
													<div class="service">	
														<p>Vos photos</p>
														<img src="{{asset('img/pictoAbonnement/photo.png')}}" alt="">
													</div>
												</div>
												<div class="col-xs-6 col-sm-4 col-md-3">
													<div class="service">	
														<p>Vos horaires</p>
														<img src="{{asset('img/pictoAbonnement/horaire.png')}}" alt="">
													</div>
												</div>
												<div class="col-xs-6 col-sm-4 col-md-3">
													<div class="service">	
														<p>Vos services</p>
														<img src="{{asset('img/pictoAbonnement/service.png')}}" alt="">
													</div>
												</div>
												<div class="col-xs-6 col-sm-4 col-md-3">
													<div class="service">	
														<p>Votre adresse</p>
														<img src="{{asset('img/pictoAbonnement/adresse.png')}}" alt="">
													</div>
												</div>
												<div class="col-xs-6 col-sm-4 col-md-3">
													<div class="service">	
														<p>Système unique de parrainage</p>
														<img src="{{asset('img/pictoAbonnement/parrainage.png')}}" alt="">
													</div>
												</div>
												<div class="col-xs-6 col-sm-4 col-md-3">
													<div class="service">	
														<p>Plan</p>
														<img src="{{asset('img/pictoAbonnement/plan.png')}}" alt="">
													</div>
												</div>
												<div class="col-xs-6 col-sm-4 col-md-3">
													<div class="service">	
														<p>Vos offres</p>
														<img src="{{asset('img/pictoAbonnement/offre.png')}}" alt="">
													</div>
												</div>
												<div class="col-xs-6 col-sm-4 col-md-3">
													<div class="service">	
														<p>Transports<br>en commun</p>
														<img src="{{asset('img/pictoAbonnement/transport.png')}}" alt="">
													</div>
												</div>
												<div class="col-xs-6 col-sm-4 col-md-3">
													<div class="service">	
														<p>Un back office</p>
														<img src="{{asset('img/pictoAbonnement/backOffice.png')}}" alt="">
													</div>
												</div>
												<div class="col-xs-6 col-sm-4 col-md-3">
													<div class="service">	
														<p>Assistance gratuite</p>
														<img src="{{asset('img/pictoAbonnement/assistance.png')}}" alt="">
													</div>
												</div>
												<div class="col-xs-6 col-sm-4 col-md-3">
													<div class="service">	
														<p>Votre ambiance</p>
														<img src="{{asset('img/pictoAbonnement/ambiance.png')}}" alt="">
													</div>
												</div>
												<div class="col-xs-6 col-sm-4 col-md-3">
													<div class="service">	
														<p>Satistiques</p>
														<img src="{{asset('img/pictoAbonnement/statistique.png')}}" alt="">
													</div>
												</div>
											</div>
										</div>
										<div class="myAbonnement">
											<h2>Abonnement mensuel : <span>Gratuit</span></h2>
											<p>Comission : 1€ par retour client validé</p>

											<button class="freemium"> Souscrire </button>
										</div>
										<div id="append-payment-free"></div>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p class="encours">Mes encours au <span class="dateYesterday"></span></p>
						<p class="affichageBO">{{amoutDue}}€</p>
					</div>
				</div>
			</div>
			<div class="contentOption contentFactureBO col-xs-12 col-sm-12 col-md-12">
				<div class="prochainement">
					<img src="{{asset('img/factureDispo.png')}}" alt="">
					<p>Votre première facture sera disponible le</p>
				</div>
			</div>
			<div class="contentOption center contentBarmanBO col-xs-12 col-sm-12 col-md-12">
				{% render(controller("CacUserBundle:Barman:barmanList", {'idBigboss' : app.user.id, id : bar.id})) %}
		
			</div>
			<div class="contentOption contentModifBO col-xs-12 col-sm-12 col-md-12">
				{#{% render(controller("CacUserBundle:Profile:edit", {'id' : user.id})) %}#}
				{% render(controller("CacBarBundle:Pro:edit", {'id' : bar.id})) %}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{parent()}}
	 <script src="{{ asset('js/sort-affichage.js') }}" type="text/javascript" /></script>
	 <script src="{{ asset('js/switchOnOffBar.js') }}" type="text/javascript" /></script>

	 <script>
		$('.contactUsBO.changePlan').on('click', function(){
			var userid = {{app.user.id}};
			var prevPlan = $('.planName').data('plan');
			if (prevPlan == "shooter") {
				var plan = 'cosmo';
			}
			else if(prevPlan == "shootercarte")
			{
				var plan = 'cosmocarte';
			}
			else if(prevPlan == "cosmo")
			{
				var plan = 'shooter';
			}
			else if(prevPlan == "cosmocarte")
			{
				var plan = 'shootercarte';
			}
			$.ajax( {
	            type: 'GET',
	            url: Routing.generate('change-plan', { 'plan': plan, 'id' : userid }),
	            success: function (data) {
	            	alert(data);
	            }
	        } );
		});
	</script>


{% endblock %}
