{% extends '::base.html.twig' %}

{% block body -%}
    

    {% trans_default_domain 'FOSUserBundle' %}

    <div class="headerProRegister">
    	<p>Nous communiquons pour vous,</p>
    	<p><span>Sur le Web, les Hôtels, Comités d'entreprises</span></p>
    	<p>De nouveaux clients pour votre établissement</p>
    </div>

    <div class="contentOngletPro col-xs-12 col-sm-12 col-md-12">
    	<div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-1">
    		<div class="ongletProRegister" id="zeroFrai">
    			<img src="{{asset('img/zeroFrai.png')}}" alt="">
    			<p>Zéro frais fixes</p>
    		</div>
    	</div>
    	<div class="col-xs-12 col-sm-6 col-md-2">
    		<div class="ongletProRegister" id="sansEngagement">
    			<img src="{{asset('img/sansEngagement.png')}}" alt="">
    			<p>Sans engagement</p>
    		</div>
    	</div>
    	<div class="col-xs-12 col-sm-6 col-md-2">
    		<div class="ongletProRegister" id="assistanceTel">
    			<img src="{{asset('img/assistanceTel.png')}}" alt="">
    			<p>Assistance téléphonique gratuite</p>
    		</div>
    	</div>
    	<div class="col-xs-12 col-sm-6 col-md-2">
    		<div class="ongletProRegister" id="visibiliteWeb">
    			<img src="{{asset('img/visibiliteWeb.png')}}" alt="">
    			<p>Visibilité accrue sur le web</p>
    		</div>
    	</div>
    	<div class="col-xs-12 col-sm-6 col-md-2">
    		<div class="ongletProRegister" id="zeroFrai">
    			<img src="{{asset('img/systemeParrainage.png')}}" alt="">
    			<p>Système de parrainage unique</p>
    		</div>
    	</div>

    </div>
    <div class="clear"></div>
    <div class="contentFormRegisterPro">
    	<div class="inscrireEtablissement">
    		<h1>Inscrivez vous</h1>
    	</div>
    	<div class="formRegisterPro">
    		<form action="{{ path('bigboss_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    			
    			<div class="inscriptionBigBoss col-xs-6 col-sm-6 col-md-4 col-md-offset-2">
    				{{ form_errors(form.gender) }}
					{{ form_widget(form.gender) }}
    				{{ form_label(form.name) }}<span>*</span>
				    <br>
					{{ form_errors(form.name) }}
					{{ form_widget(form.name) }}
    			</div>
    			<div class="inscriptionBigBoss col-xs-6 col-sm-6 col-md-4">
    				{{ form_label(form.firstname) }}<span>*</span>
					<br>
					{{ form_errors(form.firstname) }}
					{{ form_widget(form.firstname) }}
    			</div>

    			<div class="inscriptionBigBoss col-xs-6 col-sm-6 col-md-4 col-md-offset-2">
    				{{ form_label(form.email.first) }}<span>*</span>
					<br>
					{{ form_errors(form.email.first) }}
					{{ form_widget(form.email.first) }}
					<br>
					<br>
					{{ form_label(form.email.second) }}<span>*</span>
					<br>
					{{ form_errors(form.email.second) }}
					{{ form_widget(form.email.second) }}
    			</div>
    			<div class="inscriptionBigBoss col-xs-6 col-sm-6 col-md-4">
    				{{ form_label(form.plainPassword.first) }}<span>*</span>
					<br>
					{{ form_errors(form.plainPassword.first) }}
					{{ form_widget(form.plainPassword.first) }}
					<br>
					<br>
					{{ form_label(form.plainPassword.second) }}<span>*</span>
					<br>
					{{ form_errors(form.plainPassword.second) }}
					{{ form_widget(form.plainPassword.second) }}
    			</div>

    			<div class="inscriptionBigBoss noBorder col-xs-6 col-sm-6 col-md-4 col-md-offset-2">
    				{{ form_label(form.fix_phone) }}
					<br>
					{{ form_errors(form.fix_phone) }}
					{{ form_widget(form.fix_phone) }}
					<br>
					<br>
					{{ form_label(form.company) }}
					<br>
					{{ form_errors(form.company) }}
					{{ form_widget(form.company) }}
    			</div>
    			<div class="inscriptionBigBoss noBorder col-xs-6 col-sm-6 col-md-4">
    				{{ form_label(form.mobile_phone) }}<span>*</span>
					<br>
					{{ form_errors(form.mobile_phone) }}
					{{ form_widget(form.mobile_phone) }}
					<br>
					<br>
					{{ form_label(form.siret) }}
					<br>
					{{ form_errors(form.siret) }}
					{{ form_widget(form.siret) }}
    			</div>

				{{ form_widget(form._token) }}
				<br>
				<div class="clear"></div>
				<div class="center">
		        	<input type="submit" value="Continuer">
		        </div>
			    
			</form>
			
    	</div>
    	
	

			
			
    </div>



{% endblock %}
