{% extends "::base.html.twig" %}

{% block title %}CacBarBundle:Bar:index{% endblock %}

{% block body %}

<div class="topListBar col-xs-12 col-sm-12 col-md-12 noPadding">
			<img src="{{asset('img/accueil.png')}}" alt="">
			<img src="{{asset('img/pershing.png')}}" alt="">
			<img src="{{asset('img/fondFicheBar.png')}}" alt="">
			<div class="infoNameBar">
				
			</div>
</div>
<div class="headerList col-xs-12 col-sm-12 col-md-12 noPadding">
	<div class="menuHeaderList col-xs-6 col-sm-3 col-md-3 noPadding">
		<p class="best">Les bests</p>
	</div>
	<div class="menuHeaderList col-xs-6 col-sm-3 col-md-3 noPadding">
		<p class="hottest">Les nouveaux</p>
	</div>
	<div class="menuHeaderList col-xs-6 col-sm-3 col-md-3 noPadding">
		<p class="small-price">Les petits prix</p>
	</div>
	<div class="col-xs-6 col-sm-3 col-md-3 noPadding">
		<div id="recherche" class="col-xs-10 col-sm-10 col-md-10 noPadding">
			<input type="text" name="recherche" class="col-xs-9 col-sm-9 col-md-10 noPadding"></input>
			<button><span class="glyphicon glyphicon-search col-xs-2 col-sm-2 col-md-2 noPadding"></span></button>
		</div>
	</div>
</div>
<div class="barList col-xs-12 col-sm-12 col-md-12 noPadding">
{% for bar in bars %}
	<div class="barInList col-xs-12 col-sm-6 col-md-3 noPadding">
	<img src="{{ asset('uploads/bar/'~bar.path) }}">
		<a href="{{ path('bar_show', { id : bar.id }) }}"><div class="shadowbarInList col-xs-12 col-sm-12 col-md-12">
			<h3 id="firstWord{{ bar.id }}">{{ bar.name }}</h3>
		</div></a>
	</div>

{% endfor %}

</div>

<div class="clear"></div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
    <script src="{{ asset('js/sort-affichage.js') }}" type="text/javascript" /></script>
{% endblock %}
