{% extends "::base.html.twig" %}

{% block title %}CacBarBundle:Bar:new{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/clockpicker.css')}}">
{% endblock %}
{% block body %}

<div class="mainContaineur">
	<div class="formBar col-xs-12 col-sm-12 col-md-12 noPadding">
		<h1>Votre établissement</h1>
		<div class="separation1"></div>
		<div class="separation2"></div>
	</div>
	<form action="{{ path('bar_create') }}" {{ form_enctype(form) }} method="POST">
		<h2>Formulaire De gauche</h2>

		{{ form_label(form.name) }}
		{{ form_errors(form.name) }}
		{{ form_widget(form.name) }}

		{{ form_label(form.dressCode) }}
		{{ form_errors(form.dressCode) }}
		{{ form_widget(form.dressCode) }}

		{{ form_label(form.priceRange) }}
		{{ form_errors(form.priceRange) }}
		{{ form_widget(form.priceRange) }}

		<h2>Formulaire de droite</h2> 

		{{ form_label(form.access) }}
		{{ form_errors(form.access) }}
		{{ form_widget(form.access) }}

		<div>
			{{ form_label(form.schedule) }}	
			{{ form_errors(form.schedule) }}
			{{ form_widget(form.schedule) }}

			<h1>Lundi</h1>
			De <input class="clockpicker" type="text" value="18:00" data-day="Lundi" data-when="open"> à <input class="clockpicker" type="text" value="23:00" data-day="Lundi" data-when="close">
			Ouvert <input class="close-day" type="checkbox" data-day="Lundi" name="close-day" checked>

			<h1>Mardi</h1>
			De <input class="clockpicker" type="text" value="18:00" data-day="Mardi" data-when="open"> à <input class="clockpicker" type="text" value="23:00" data-day="Mardi" data-when="close">
			Ouvert <input class="close-day" type="checkbox" data-day="Mardi" name="close-day" checked>

			<h1>Mercredi</h1>
			De <input class="clockpicker" type="text" value="18:00" data-day="Mercredi" data-when="open"> à <input class="clockpicker" type="text" value="23:00" data-day="Mercredi" data-when="close">
			Ouvert <input class="close-day" type="checkbox" data-day="Mercredi" name="close-day" checked>

			<h1>Jeudi</h1>
			De <input class="clockpicker" type="text" value="18:00" data-day="Jeudi" data-when="open"> à <input class="clockpicker" type="text" value="23:00" data-day="Jeudi" data-when="close">
			Ouvert <input class="close-day" type="checkbox" data-day="Jeudi" name="close-day" checked>

			<h1>Vendredi</h1>
			De <input class="clockpicker" type="text" value="18:00" data-day="Vendredi" data-when="open"> à <input class="clockpicker" type="text" value="23:00" data-day="Vendredi" data-when="close">
			Ouvert <input class="close-day" type="checkbox" data-day="Vendredi" name="close-day" checked>

			<h1>Samedi</h1>
			De <input class="clockpicker" type="text" value="18:00" data-day="Samedi" data-when="open"> à <input class="clockpicker" type="text" value="23:00" data-day="Samedi" data-when="close">
			Ouvert <input class="close-day" type="checkbox" data-day="Samedi" name="close-day" checked>

			<h1>Dimanche</h1>
			De <input class="clockpicker" type="text" value="18:00" data-day="Dimanche" data-when="open"> à <input class="clockpicker" type="text" value="23:00" data-day="Dimanche" data-when="close">
			Ouvert <input class="close-day" type="checkbox" data-day="Dimanche" name="close-day" checked>
		</div>

		<h2>Les petits plus</h2> 

		Climatisation

		{{ form_label(form.handicappedAccess) }}
		{{ form_errors(form.handicappedAccess) }}
		{{ form_widget(form.handicappedAccess) }}

		{{ form_label(form.patio) }}
		{{ form_errors(form.patio) }}
		{{ form_widget(form.patio) }}

		{{ form_label(form.breathalyser) }}
		{{ form_errors(form.breathalyser) }}
		{{ form_widget(form.breathalyser) }}

		{{ form_label(form.valet) }}
		{{ form_errors(form.valet) }}
		{{ form_widget(form.valet) }}

		{{ form_label(form.valetCost) }}
		{{ form_errors(form.valetCost) }}
		{{ form_widget(form.valetCost) }}

		{{ form_widget(form._token) }}

	    <div>
	        <input type="submit" value="Coucou Kevin !">
	    </div>
	</form>
	<div class="clear"></div>
</div>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery-2.1.0.js') }}" type="text/javascript" /></script>
    <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript" /></script>
    <script src="{{ asset('js/clockpicker.js') }}" type="text/javascript" /></script>
    <script src="{{ asset('js/function.js') }}" type="text/javascript" /></script>
{% endblock %}
