{% extends "::base.html.twig" %}

{% block title %}CacBarBundle:Bar:new{% endblock %}

{% block body %}

<div class="mainContaineur">
	<div class="formBar col-xs-12 col-sm-12 col-md-12 noPadding">
		<h1>Votre établissement</h1>
		<div class="separation1"></div>
		<div class="separation2"></div>
	</div>
<h2>Formulaire De gauche</h2> 	
<!-- @KEVIN Formulaire préconstruit -->
<!--  form(form)}} @KEVIN supprime cette ligne si tu veux faire apparaitre les champs form_widget de la seconde partie -->
<!-- @KEVIN Formulaire décomposé -->

{{ form_label(form.name) }}
{{ form_errors(form.name) }}
{{ form_widget(form.name) }}

{{ form_label(form.dressCode) }}
{{ form_errors(form.dressCode) }}
{{ form_widget(form.dressCode) }}

{{ form_label(form.priceRange) }}
{{ form_errors(form.priceRange) }}
{{ form_widget(form.priceRange) }}

<h2>Formulaire de droite</h2> 

{{ form_label(form.access) }}
{{ form_errors(form.access) }}
{{ form_widget(form.access) }}

HORAIRE

<h2>Les petits plus</h2> 

Climatisation

{{ form_label(form.handicappedAccess) }}
{{ form_errors(form.handicappedAccess) }}
{{ form_widget(form.handicappedAccess) }}

{{ form_label(form.patio) }}
{{ form_errors(form.patio) }}
{{ form_widget(form.patio) }}

{{ form_label(form.breathalyser) }}
{{ form_errors(form.breathalyser) }}
{{ form_widget(form.breathalyser) }}

{{ form_label(form.valet) }}
{{ form_errors(form.valet) }}
{{ form_widget(form.valet) }}

{{ form_label(form.valetCost) }}
{{ form_errors(form.valetCost) }}
{{ form_widget(form.valetCost) }}



<!--<h2>Exemple JO</h2>  
{{ form_label(form.town) }} 
 
	@KEVIN Pour ajouter les champs regarde 
	ceux existants dans Cac\BarBundle\Form\Type\BarType.php 
	et tu remplace le form.town par form.champquetuveux.
	Prends bien la premiere partie.
	form_label correspond au label indiqué dans l'array 'label'
	form_error est le message d'erreur apparaissant s'il y a une erreur au traitement php
	form_widget correspond au champ en lui même, si tu veux le changer il se modifie dans BarType

{{ form_errors(form.town) }}
{{ form_widget(form.town) }}-->

	<div>
        BOUTON D'envoie du form -- JE NE SAIS PAS QUOI METTRE
    </div>
	<div class="clear"></div>
</div>



{% endblock %}
