{% extends "::base.html.twig" %}

{% block title %}CacBarBundle:Bar:new{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/clockpicker.css')}}">
{% endblock %}
{% block body %}


	<div class="formBar col-xs-12 col-sm-12 col-md-12 noPadding">
		<h1>Votre établissement</h1>
		<div class="separation1"></div>
		<div class="separation2"></div>
	</div>
	<div class="subtitlePageRegisterBig">
		<p>Votre établissement</p>

	</div>
	<form action="{{ path('bar_create') }}" {{ form_enctype(form) }} method="POST">
		<div class="inscription center col-xs-6 col-sm-6 col-md-6">
			<div class="border">
				{{ form_label(form.name) }}
				<br>
				{{ form_errors(form.name) }}
				{{ form_widget(form.name) }}
				<br>
				{{ form_label(form.adress) }}
				<br>
				{{ form_errors(form.adress) }}
				{{ form_widget(form.adress) }}
				<br>
				{{ form_label(form.zipcode) }}
				<br>
				{{ form_errors(form.zipcode) }}
				{{ form_widget(form.zipcode) }}
				<br>
				{{ form_label(form.town) }}
				<br>
				{{ form_errors(form.town) }}
				{{ form_widget(form.town) }}
				<br>
				{{ form_label(form.country) }}
				<br>
				{{ form_errors(form.country) }}
				{{ form_widget(form.country) }}
			</div>
			<br>
			<br>
			<div class="border dressCodeBar">
				
				<!--{{ form_label(form.dressCode) }}-->

				<div class="btn-group width100" data-toggle="buttons">
					{{ form_label(form.dressCode) }}
					<br>
					<label class="btn btn-primary active choice">
						<input type="radio" name="cac_barbundle_bar[dressCode]" id="cac_barbundle_bar_dressCode" value="1" checked> Chic
				  	</label>
				  	<label class="btn btn-primary choice">
				    	<input type="radio" name="cac_barbundle_bar[dressCode]" id="cac_barbundle_bar_dressCode" value="2"> Décontracté
				  	</label>
				</div>

				<!--<div class="choice" value="1">
					Décontracté
				</div>
				<div class="choice" value="2">
					Chic
				</div>-->

				<!--{{ form_errors(form.dressCode) }}
				{{ form_widget(form.dressCode) }}-->
				<div class="clear"></div>
			</div>
			<br>
			<br>
			<div class="border">


				<div class="btn-group width100" data-toggle="buttons">
					{{ form_label(form.priceRange) }}
					<br>
				  <label class="btn btn-primary active choice">
				    <input type="radio" name="cac_barbundle_bar[priceRange]" id="cac_barbundle_bar_priceRange_0" value="1" checked> 5€
				  </label>
				  <label class="btn btn-primary choice">
				    <input type="radio" name="cac_barbundle_bar[priceRange]" id="cac_barbundle_bar_priceRange_1" value="2"> 10€
				  </label>
				  <label class="btn btn-primary choice">
				    <input type="radio" name="cac_barbundle_bar[priceRange]" id="cac_barbundle_bar_priceRange_2" value="3"> 15€
				  </label>
				  <label class="btn btn-primary choice">
				    <input type="radio" name="cac_barbundle_bar[priceRange]" id="cac_barbundle_bar_priceRange_3" value="4"> 20€
				  </label>
				  <label class="btn btn-primary-center choice">
				    <input type="radio" name="cac_barbundle_bar[priceRange]" id="cac_barbundle_bar_priceRange_4" value="5"> +20€
				  </label>
				</div>
			</div>
		</div>

		<div class="inscription center col-xs-6 col-sm-6 col-md-6">

			<div class="border access">
				{{ form_label(form.access) }}
				{{ form_errors(form.access) }}
				{{ form_widget(form.access) }}
			</div>
			<br>
			<br>
			<div class="border">
				{{ form_label(form.schedule) }}	
				{{ form_errors(form.schedule) }}
				{{ form_widget(form.schedule) }}
				
				{% set days = {'1': 'Lundi', '2': 'Mardi', '3': 'Mercredi', '4': 'Jeudi', '5': 'Vendredi', '6': 'Samedi', '7': 'Dimanche'} %}
				{% set params = {'1': {'when':'open', 'word': 'de'}, '2': {'when':'close', 'word': 'à'}} %}
				{% for j in 1..7 %}
				<div class="heure center col-xs-12 col-sm-12 col-md-12 noPadding">
					<div class="left col-xs-3 col-sm-3 col-md-3 noPadding">
						{{ days[j] }}
					</div>

					{% for k in 1..2 %}
						<div class="col-xs-1 col-sm-1 col-md-1 noPadding">
							{{ params[k]['word'] }}
						</div>
						<div class="col-xs-2 col-sm-2 col-md-2 noPadding">
							<select class="schedule-picker" data-day="{{ days[j] }}" data-when="{{ params[k]['when'] }}">
								<option></option>
								{% for i in 0..23 %}
								    <option value="{{i}}">{{i}}h</option>
								{% endfor %}
							</select>
						</div>
					{% endfor %}

					<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
						Fermé <input class="close-day" type="checkbox" data-day="{{ days[j] }}" name="close-day">
					</div>
				</div>
				{% endfor %}
				<div class="clear"></div>
			</div>
		</div>
		<div class="inscription center col-xs-12 col-sm-12 col-md-12">
			<h2>Vos petits plus à vous</h2> 

			<div class="contentPetitPlus">
				<div class="btn-group width100" data-toggle="buttons">
				  <label class="btn btn-primary-checkbox petitplus">
				    <input type="checkbox" name="cac_barbundle_bar[smokingArea]" id="cac_barbundle_bar_smokingArea" value="1"> Espace fumeur
				  </label>
				  <label class="btn btn-primary-checkbox petitplus">
				    <input type="checkbox" name="cac_barbundle_bar[handicappedAccess]" id="cac_barbundle_bar_handicappedAccess" value="1"> Accès handicapés
				  </label>
				  <label class="btn btn-primary-checkbox petitplus">
				    <input type="checkbox" name="cac_barbundle_bar[patio]" id="cac_barbundle_bar_patio" value="1"> Terrasse
				  </label>
				  <label class="btn btn-primary-checkbox petitplus">
				    <input type="checkbox" name="cac_barbundle_bar[breathalyser]" id="cac_barbundle_bar_breathalyser" value="1"> Alcotests gratuits
				  </label>
				  <label class="btn btn-primary-checkbox petitplus">
				    <input type="checkbox" name="cac_barbundle_bar[valet]" id="cac_barbundle_bar_valet" value="1"> Voiturier
				  </label>
				  <label class="btn btn-primary-checkbox petitplus">
				    <input type="checkbox" name="cac_barbundle_bar[babyfoot]" id="cac_barbundle_bar_babyfoot" value="1"> Baby Foot
				  </label>
				  <label class="btn btn-primary-checkbox petitplus">
				    <input type="checkbox" name="cac_barbundle_bar[billard]" id="cac_barbundle_bar_billard" value="1"> Billard
				  </label>
				  <label class="btn btn-primary-checkbox petitplus">
				    <input type="checkbox" name="cac_barbundle_bar[flipper]" id="cac_barbundle_bar_flipper" value="1"> Flipper
				  </label>
				  <label class="btn btn-primary-checkbox petitplus">
				    <input type="checkbox" name="cac_barbundle_bar[canape]" id="cac_barbundle_bar_canape" value="1"> Canapé
				  </label>
				  
				    <input name="cac_barbundle_bar[valetCost]" id="cac_barbundle_bar_valetCost" value=" "> 
				  
				</div>
				<!--<div class="petitplus">
					Espace fumeur
				</div>

				<div class="petitplus">
					Accès handicapés
				</div>

				<div class="petitplus">
					Terrasse
				</div>

				<div class="petitplus">
					Alcotests gratuits
				</div>

				<div class="petitplus">
					Voiturier
				</div>

				<div class="petitplus">
					Baby Foot
				</div>

				<div class="petitplus">
					Billard
				</div>

				<div class="petitplus">
					Flipper
				</div>

				<div class="petitplus">
					Canapés
				</div>
				<div class="clear"></div>-->
			</div>
			


			<!--{{ form_label(form.smokingArea) }}
			{{ form_errors(form.smokingArea) }}
			{{ form_widget(form.smokingArea) }}

			{{ form_label(form.handicappedAccess) }}
			{{ form_errors(form.handicappedAccess) }}
			{{ form_widget(form.handicappedAccess) }}

			{{ form_label(form.patio) }}
			{{ form_errors(form.patio) }}
			{{ form_widget(form.patio) }}

			{{ form_label(form.breathalyser) }}
			{{ form_errors(form.breathalyser) }}
			{{ form_widget(form.breathalyser) }}

			{{ form_label(form.valet) }}
			{{ form_errors(form.valet) }}
			{{ form_widget(form.valet) }}

			{{ form_label(form.valetCost) }}
			{{ form_errors(form.valetCost) }}
			{{ form_widget(form.valetCost) }}-->

			
			
			<br><br><br>
			{{ form_label(form.description) }}
			<p class="italic">Utiliser un ton cool, chaleureux, qui donne envie de venir chez vous</p>
			{{ form_errors(form.description) }}
			{{ form_widget(form.description) }}

			{{ form_widget(form._token) }}

		    <div>
		        <input type="submit" value="VALIDER">
		    </div>
		</div>
	</form>
	<div class="clear"></div>



{% endblock %}
