{% extends '::base.html.twig' %}

{% block body %}



	<div class="formBar col-xs-12 col-sm-12 col-md-12 noPadding">
		<h1>Vendez du rêve</h1>
		<div class="separation1"></div>
		<div class="separation2"></div>
	</div>
	<div class="subtitlePageRegisterBig">
		<p>Vos photos</p>

	</div>
	<div class="file_button_container">

		{{ form_start(form) }}
    		{{ form_errors(form) }}

    		    {{ form_row(form.file) }}

    		    <img id="blah" src="#" alt="Votre image" />

    	{{ form_end(form) }}

	 </div>

	<a href="{{ path("bar_show", {'id': id }) }}">Passer cette étape</a>

{% endblock %}