{% extends "::base.html.twig" %}

{% block title %}{{bar.name}} : Réservez dans cet établissement ! Avis, réservation, parrainage, verre offert, promotion. {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('slick/slick.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('slick/slick-theme.css') }}"/>
    {{ parent() }}
{% endblock %}

{% block body %}
	<!-- <div id="fb-root"></div> -->
	<script>
		//(function(d, s, id) {
		//   var js, fjs = d.getElementsByTagName(s)[0];
		//   if (d.getElementById(id)) return;
		//   js = d.createElement(s); js.id = id;
		//   js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.4&appId=375491089283331";
		//   fjs.parentNode.insertBefore(js, fjs);
		// }(document, 'script', 'facebook-jssdk'));
	</script>
		
		
		<div class="contentSuperInfoBar col-xs-12 col-sm-12 col-md-12 noPadding">
			<!--<div class="bandeauEvent">
				<p class="titleBandeauEvent">Match : Paris / OM</p>
				<p class="dateBandeauEvent">Mardi 18 Novembre de 17h à 20h</p>
				<p class="btnBandeauEvent">Réserver</p>
			</div>-->
			<div class="contentAffterSuperInfoBar">

				<div class="col-xs-12 col-sm-8 col-md-8">
                    <div class="topBar col-xs-12 col-sm-12 col-md-12 noPadding">
                        <div class="SlickSlider">

                        {% if (sliderImages is defined and sliderImages|length > 0) %}
                            {% for slide in sliderImages %}
                            <div class="SlickSlider-slickSlide">
                                <img src="{{ asset('uploads/bar/'~slide.path) }}" alt="slider-image-1">
                            </div>
                            {% endfor %}
                        {% else %}
                            <div class="SlickSlider-slickSlide">
                                <img src="{{ asset('uploads/bar/'~bar.path) }}" alt="slider-image-1">
                            </div>
					    {% endif %}
                        </div>
						
						<div class="infoNameBar">
							<h1>{{ bar.name }}</h1>
						
							{% if bar.cocktailPrice <= 5 %}
								<p>€<span>€€€€</span></p>
							{% elseif bar.cocktailPrice <= 10 %}
								<p>€€<span>€€€</span></p>
							{% elseif bar.cocktailPrice <= 15 %}
								<p>€€€<span>€€</span></p>
							{% elseif bar.cocktailPrice <= 20 %}
								<p>€€€€<span>€</span></p>
							{% else %}
								<p>€€€€€</p>
							{% endif %}

							<p class="adresseBarShow">{{ bar.adress }} <b>{{ bar.zipcode }} {{ bar.town }}</b></p>
						</div>
					</div>
					<div class="clear"></div>
					<div class="superInfoBar noPadding">
						<div class="ongletBar">
							<div class="col-xs-6 col-sm-6 col-md-6 noPadding">
								<div class="information selectedOngletBar">
									<h3>Informations</h3>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 noPadding">
								<div class="avis">
									<h3>Avis</h3>
								</div>
							</div>
						</div>
						<div class="informationBar">
							<div class="containerPrice">
								<div class="row">
								
									<div class="col-xs-6 col-sm-3 col-md-3">
										<img src="{{asset('img/pictoBar/biere.svg')}}" alt="">
										<div class="contentPrice">
											<span>{{ bar.beerPrice }}€</span>
											<p>La pinte de bière</p>
										</div>
									</div>
									<div class="col-xs-6 col-sm-3 col-md-3">
										<img src="{{asset('img/pictoBar/cocktail.svg')}}" alt="">
										<div class="contentPrice">
											<span>{{ bar.cocktailPrice }}€</span>
											<p>Le cocktail</p>
										</div>
										
									</div>
									<div class="col-xs-6 col-sm-3 col-md-3">
										<img src="{{asset('img/pictoBar/soft.svg')}}" alt="">
										<div class="contentPrice">
											<span>{{ bar.softPrice }}€</span>
											<p>Le soft</p>
										</div>
									</div>
									<div class="col-xs-6 col-sm-3 col-md-3">
										<img src="{{asset('img/pictoBar/cafe.svg')}}" alt="">
										<div class="contentPrice">
											<span>{{ bar.coffeePrice }}€</span>
											<p>Le café</p>
										</div>
									</div>
								</div>
							</div>
							<div class="containerServices">
								<div class="petitplusInfoBar">
									<div class="row">
										{% if bar.handicappedAccess == 1 %}
											<div class="vignettePetitPlus col-xs-6 col-sm-4 col-md-3">
												<div class="vignettePetitPlusContent">
													<img src="{{asset('img/pictoBar/handicape.svg')}}" alt="Click and Cheers" />
													<p>Accessible<br>aux PMR</p>
												</div>
											</div>
										{% endif %}
										{% if bar.patio == 1%}
											<div class="vignettePetitPlus col-xs-6 col-sm-4 col-md-3">
												<div class="vignettePetitPlusContent">
													<img src="{{asset('img/pictoBar/terrasse.svg')}}" alt="Click and Cheers">
													<p>Terrasse<br>sympa</p>
												</div>
											</div>
										{% endif %}
										{% if bar.smokingArea == 1%}
											<div class="vignettePetitPlus col-xs-6 col-sm-4 col-md-3">
												<div class="vignettePetitPlusContent">
													<img src="{{asset('img/pictoBar/fumoir.svg')}}" alt="Click and Cheers" />
													<p>Espace<br>Fumeur</p>
												</div>
											</div> 
										{% endif %}
										{% if bar.breathalyser == 1%}
											<div class="vignettePetitPlus col-xs-6 col-sm-4 col-md-3">
												<div class="vignettePetitPlusContent">
													<img src="{{asset('img/pictoBar/ethylotest.svg')}}" alt="Click and Cheers">
													<p>Ethylotest<br>gratuit</p>
												</div>
											</div>
										{% endif %}

										{% if bar.babyfoot == 1%}
											<div class="vignettePetitPlus col-xs-6 col-sm-4 col-md-3">
												<div class="vignettePetitPlusContent">
													<img src="{{asset('img/pictoBar/babyfoot.svg')}}" alt="Click and Cheers">
													<p class="padding10">BabyFoot</p>
												</div>
											</div>
										{% endif %}

										{% if bar.billard == 1%}
											<div class="vignettePetitPlus col-xs-6 col-sm-4 col-md-3">
												<div class="vignettePetitPlusContent">
													<img src="{{asset('img/pictoBar/billard.svg')}}" alt="Click and Cheers">
													<p class="padding10">Billard</p>
												</div>
											</div>
										{% endif %}

										{% if bar.flipper == 1 %}
											<div class="vignettePetitPlus col-xs-6 col-sm-4 col-md-3">
												<div class="vignettePetitPlusContent">
													<img src="{{asset('img/pictoBar/flipper.svg')}}" alt="Click and Cheers">
													<p class="padding10">Flipper</p>
												</div>
											</div>
										{% endif %}

										{% if bar.canape == 1%}
											<div class="vignettePetitPlus col-xs-6 col-sm-4 col-md-3">
												<div class="vignettePetitPlusContent">
													<img src="{{asset('img/pictoBar/canape.svg')}}" alt="Click and Cheers">
													<p class="padding10">Canapé</p>
												</div>
											</div>
										{% endif %}
										{% if bar.clim == 1 %}
											<div class="vignettePetitPlus col-xs-6 col-sm-4 col-md-3">
												<div class="vignettePetitPlusContent">
													<img src="{{asset('img/pictoBar/climatisation.svg')}}" alt="Click and Cheers">
													<p class="padding10">Climatisation</p>
												</div>
											</div>
										{% endif %}
										{% if bar.valet == 1%}
											<div class="vignettePetitPlus col-xs-6 col-sm-4 col-md-3">
												<div class="vignettePetitPlusContent">
													<img src="{{asset('img/pictoBar/voiturier.png')}}" alt="Click and Cheers">
													<p>Service<br>Voiturier</p>
													<p class="vignettePetitPlusPrix">{{ bar.valetCost }}<span> €</span></p>
												</div>
											</div>
										{% endif %}
									</div>
									<div class="clear"></div>
								</div>
							</div>
							
							{% for carte in bar.carte if carte.visible == true %}
								{% if carte.getWebPath %}
										<div class="carteBarPDF col-xs-12 col-sm-12 col-md-12">
											<a href="{{asset(carte.getWebPath)}}" target="_blank">
												<img src="{{asset('img/carteBar.png')}}" alt="Click and Cheers">
												<p>VOIR LA CARTE DU BAR</p>
											</a>
										</div>
										<div class="clear"></div>
								{% endif %}
							{% endfor %}
							<div class="showPromoHappyHourBar">
								{% if bar.getPromotionByDay(today).getOption('value').value != 0 %}

									<p class="showPromotionBar">{{bar.getPromotionByDay(today).getOption('value').value}}% de réduction</p>
									{% if bar.getPromotionByDay(today).getOption('restriction').value %}
										<p class="conditionsShowBar"><span>Conditions :</span> {{ bar.getPromotionByDay(today).getOption('restriction').value }}</p>
									{% else %}	
										<p class="conditionsShowBar">Pas de conditions</p>
									{% endif %}
								{% endif %}
								{% if bar.getHappyHourByDay(today).getOption('value').value !=0  %}
									<p class="showHappyHourBar">{{bar.getHappyHourByDay(today).getOption('value').value}}% de réduction de {{ bar.getHappyHourByDay(today).getOption('beginning').value }}h à {{ bar.getHappyHourByDay(today).getOption('ending').value }}h</p>
									{% if bar.getHappyHourByDay(today).getOption('restriction').value %}
										<p class="conditionsShowBar"><span>Conditions :</span> {{ bar.getHappyHourByDay(today).getOption('restriction').value }}</p>
									{% else %}
										<p class="conditionsShowBar">Pas de conditions</p>
									{% endif %}
											
								{% endif %}
							</div>
							<div class="descriptionBar noPadding">
								{% if bar.description %}	
										<p>{{bar.description}}</p>	
								{% endif %}

								<div class="dresscode">
									{% if bar.dresscode == 1%}
										<img src="{{asset('img/pictoBar/chic.png')}}" alt="Click and Cheers">
									{% elseif bar.dresscode == 2%}
										<img src="{{asset('img/pictoBar/decontracte.png')}}" alt="Click and Cheers">
									{% endif %}
								</div>
							</div>

						
							<div class="horaireBar">

								{% set days = {
									'1': 'Lundi', 
									'2': 'Mardi', 
									'3': 'Mercredi', 
									'4': 'Jeudi', 
									'5': 'Vendredi', 
									'6': 'Samedi', 
									'7': 'Dimanche'
								} %}
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12">
										<div class="col-xs-12 col-sm-6 col-md-6">
											<div class="boxInfoOpenBar">
												{% if bar.scheduleArray[today].status == "Ouvert" %}
													<p class="openBar">C'est ouvert</p>
													<p>Il est temps de sortir !</p>
												{% else %}
													<p class="closeBar">C'est fermé</p>
													<p>Pour une autre fois</p>
												{% endif %}
											</div>
										</div>
										<div class="center col-xs-12 col-sm-6 col-md-6">
												<div class="interligneFicheBar col-xs-3 col-xs-offset-5 col-sm-offset-4 col-md-4 col-sm-offset-4 col-md-4 noPadding">
													<img src="{{asset('img/barOuvert.png')}}" alt="Click and Cheers">
												</div>
												<div class="interligneFicheBar col-xs-4 col-sm-4 col-md-4 noPadding">
													<img src="{{asset('img/barFerme.png')}}" alt="Click and Cheers">
												</div>
											{% for i in 1..7 %}
												<div class="interligneFicheBar col-xs-5 col-sm-4 col-md-4 noPadding">
													<p>{{ days[i]|slice(0, 3)}}</p>
												</div>
												{% if bar.scheduleArray[days[i]].status == "Ouvert" %}
													<div class="interligneFicheBar col-xs-3 col-sm-4 col-md-4 noPadding">
														<span>{{ bar.scheduleArray[days[i]].open }}h</span>
													</div>
													<div class="interligneFicheBar col-xs-4 col-sm-4 col-md-4 noPadding">
														<span>{{ bar.scheduleArray[days[i]].close }}h</span>
													</div>
												{% else %}
													<div class="interligneFicheBar center col-xs-4 col-sm-8 col-md-8 noPadding">
														<span class="fermeture">FERMÉ</span>
													</div>
												{% endif %}
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						


							<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
							<script>
							  var geocoder;
							  var map;
							  function initialize() {
							    geocoder = new google.maps.Geocoder();
							    var latlng = new google.maps.LatLng(-34.397, 150.644);
							    var mapOptions = {
							      zoom: 15,
							      center: latlng
							    }
							    var address = '{{ bar.adress }}, {{ bar.town }}, {{ bar.country }}';
							    geocoder.geocode( { 'address': address}, function(results, status) {
							      if (status == google.maps.GeocoderStatus.OK) {
							        map.setCenter(results[0].geometry.location);
							        var marker = new google.maps.Marker({
							            map: map,
							            position: results[0].geometry.location
							        });
							      } else {
							        alert('Geocode was not successful for the following reason: ' + status);
							      }
							    });
							    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
							  }
							  google.maps.event.addDomListener(window, 'load', initialize);

							</script>

								<div class="mapView">
									<div class="metro">
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-12">
												<div class="transportSliderWrapper">
													
												</div>

											</div>
										</div>
									</div>
									<div id="map-canvas"></div>
								</div>

							<div id="geocode" class="hidden">{{ bar.geocode }}</div>
						</div>
						<div class="avisBar">
							<h2 class="firstElmtFicheBar col-xs-5 col-sm-5 col-md-5 noPadding">Avis</h2>
							<div class="clear"></div>
							{% render(controller("CacBarBundle:Avis:index", {'id' : bar.id})) %}
						</div>
						<div class="clear"></div>
						<div class="shareBarRS">
							<div class="fb-share-button" data-href="{{ app.request.schemeAndHttpHost ~ app.request.getRequestUri()}}" data-layout="icon"></div> 
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="contentInfoBarNote">
						
					
						<div class="infoBarNote col-xs-12 col-sm-12 col-md-12 noPadding">

							{% if (bar.getPromotionByDay(today).getOption('value').value != 0 or bar.getHappyHourByDay(today).getOption('value').value != 0) %}
								<h1>Réservez avec la promo</h1>
							{% elseif bar.scheduleArray[today].status == "Fermé" %}	
								<h1 class="colorCac">Réservation</h1>
							{% else %}	
								<h1 class="colorCac">Réservation</h1>
							{% endif %}	

							<div class="infoReservation">

									<div class="col-xs-6 noPadding">
										<p>Réserver en un clic</p>
									</div>
									<div class="col-xs-6 noPadding">
										<p>Service 100% gratuit</p>
									</div>
									<div class="clear"></div>
							</div>

							<div class="contentReservationPromo">
									{% if bar.scheduleArray[today].status == 'Ouvert' %}
										{% if (bar.getPromotionByDay(today).getOption('value').value != 0 and bar.getHappyHourByDay(today).getOption('value').value != 0) %}
											<div class="col-xs-6 noPadding">
												<p class="kindOfPromo">Promo du jour</p>
												<div class="promotionPresent">
													<p class="reductionPresent">-{{ bar.getPromotionByDay(today).getOption('value').value }}%</p> 
													<p class="infoPrensent">Voir conditions</p>
												</div>
											</div>
											<div class="col-xs-6 noPadding">
												<p class="kindOfPromo">Happy Hour</p>
												<div class="HappyHourPresent">
													<p class="reductionPresent">-{{ bar.getHappyHourByDay(today).getOption('value').value }}%</p> 
													<p class="infoPrensent">De {{ bar.getHappyHourByDay(today).getOption('beginning').value }}h à {{ bar.getHappyHourByDay(today).getOption('ending').value }}h</p>
												</div>
											</div>
											<div class="clear"></div>
											
										{% elseif bar.getPromotionByDay(today).getOption('value').value != 0 %}	
											<p class="kindOfPromo">Promo du jour</p>
											<div class="promotionPresent">
												<p class="reductionPresent">-{{ bar.getPromotionByDay(today).getOption('value').value }}%</p> 
												<p class="infoPrensent">Voir conditions</p>
										{% elseif bar.getHappyHourByDay(today).getOption('value').value != 0 %}	
											<p class="kindOfPromo">Happy Hour</p>	
											<div class="HappyHourPresent">
												<p class="reductionPresent">-{{ bar.getHappyHourByDay(today).getOption('value').value }}%</p> 
												<p class="infoPrensent">De {{ bar.getHappyHourByDay(today).getOption('beginning').value }}h à {{ bar.getHappyHourByDay(today).getOption('ending').value }}h</p>
										{% else %}
											<div class="noOfferPresent margin20">
												<p>Découvrez cet établissement</p>
										{% endif %}
											</div>
										
											<div class="personneAndHourModule">
												<div class="avancementReservation">
													{% set months = {'1': 'janvier', '2': 'Février', '3': 'Mars', '4': 'Avril', '5': 'Mai', '6': 'Juin', '7': 'Juillet', '8': 'Août', '9': 'Septembre', '10': 'Octobre', '11': 'Novembre', '12': 'Décembre'} %}
													<div class="ReservationEtapeOK firstStepReservation">
														<p>

														{{today}}
														{{'now'|date('d')}}

													      {% for j in 1..12 %}

															{% if 'now'|date('m') == j %}
																{{ months[j] }}
															{% endif %}
														{% endfor %}</p>
													</div>
													<div class="ReservationEtapeNext">
														<p class="JS-choiceHour">Choisissez l'heure</p>
													</div>
													<div class="ReservationEtapetoDo lastStepReservation">
														<p class="JS-choiceNbPersonne">Nombre de personnes</p>
													</div>
													<div class="clear"></div>
												</div>

												<div class="contentHourReservation">

													{% set days = {'1': 'Lundi', '2': 'Mardi', '3': 'Mercredi', '4': 'Jeudi', '5': 'Vendredi', '6': 'Samedi', '7': 'Dimanche'} %}

													<div class="col-xs-12 col-sm-12 col-md-12 noPadding">
														<div class="textRight col-xs-5 col-sm-5 col-md-5 noPadding">
															<select class="hourReservation">
																<option></option>
																{% if bar.scheduleArray[today].open < bar.scheduleArray[today].close %}
																	{% if 'now'|date('H') > bar.scheduleArray[today].open %}
																		{% for i in 'now'|date('H')..bar.scheduleArray[today].close %}
																		    <option value="{{i}}">{{i}}h</option>
																		{% endfor %}
																	{%else%}
																		{% for i in bar.scheduleArray[today].open..bar.scheduleArray[today].close %}
																		    <option value="{{i}}">{{i}}h</option>
																		{% endfor %}
																	{% endif %}

																{% else %}

																	{% if 'now'|date('H') > bar.scheduleArray[today].open and 'now'|date('H') < 0  %}
																		{% for i in 'now'|date('H')..23 %}
																		    <option value="{{i}}">{{i}}h</option>
																		{% endfor %}
																		<option value="0">minuit</option>
																		{% for j in 1..(bar.scheduleArray[today].close - 1) %}
																			<option value="{{j}}">{{j}}h</option>
																		{% endfor %}
																	{% elseif 'now'|date('H') == 0 %}
																		<option value="0">minuit</option>
																		{% for j in 1..(bar.scheduleArray[today].close - 1) %}
																			<option value="{{j}}">{{j}}h</option>
																		{% endfor %}
																	{% elseif 'now'|date('H') < bar.scheduleArray[today].close and 'now'|date('H') > 0 %}
																		{% for j in 'now'|date('H')..(bar.scheduleArray[today].close - 1) %}
																			<option value="{{j}}">{{j}}h</option>
																		{% endfor %}
																	{% else %}
																		{% for i in bar.scheduleArray[today].open..23 %}
																		    <option value="{{i}}">{{i}}h</option>
																		{% endfor %}
																			<option value="0">minuit</option>
																		{% for j in 1..(bar.scheduleArray[today].close - 1) %}
																			<option value="{{j}}">{{j}}h</option>
																		{% endfor %}
																	{% endif %}
																{% endif %}
															</select>
														</div>
														<div class="center col-xs-2 col-sm-2 col-md-2 noPadding">
															<p>h</p>
														</div>
														<div class="positionLeft col-xs-5 col-sm-5 col-md-5 noPadding">
															<select class="minuteReservation">
																	<option></option>
																	<option value="00">00</option>
																{% for j in range(15, 45, 15) %}
																    <option value="{{j}}">{{j}}</option>
																{% endfor %}
															</select>
														</div>
														<div class="clear"></div>

														<div class="boutonReservationPromo ReservePersonne">
															<p>VALIDER CET HORAIRE</p>
														</div> 
													</div>
													<div class="clear"></div>
												</div>

												<div class="contentNbPersonneReservation">

													<div class="center col-xs-12 col-sm-12 col-md-12 noPadding">
														
														<select class="nbPersonneReservation">
															<option></option>
															{% for k in 2..15 %}
															    <option value="{{k}}">{{k}}</option>
															{% endfor %}
														</select>
														{% if bar.getPromotionByDay(today).getOption('value').value == 0 or bar.getPromotionByDay(today).getOption('value').value == 'Valeur' %}
														<div class="boutonReservationPromo JS-obtenirPromo JS-promoBox" data-bar-id="{{bar.id}}" data-valuepromo="0" data-bar-hour="">
														{% else %}
														<div class="boutonReservationPromo JS-obtenirPromo JS-promoBox" data-bar-id="{{bar.id}}" data-valuepromo="{{ bar.getPromotionByDay(today).getOption('value').value }}" data-bar-hour="">
														{% endif %}
															<p>VALIDER LA RESERVATION</p>
														</div> 

													</div>
													<div class="clear"></div>
												</div>

												<div class="boutonReservationPromo voirMaConfirmationDone completionAdresse">
												<p>VOIR MA RESERVATION</p>
											</div> 
												
											</div>

										{% if promoOfferte %}
											<div class="boutonReservationPromo voirMaConfirmationDone">
												<p>VOIR MA RESERVATION</p>
											</div> 
										{% else %}
											{% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
												<div class="boutonReservationPromo ReserveHour">
											{% else %}
												<div class="animConnexion boutonReservationPromo">
											{% endif %}
													{% if (bar.getPromotionByDay(today).getOption('value').value != 0 or bar.getHappyHourByDay(today).getOption('value').value != 0) %}
														<p>OBTENIR LA PROMO</p>
													{% else %}
														<p>RÉSERVER</p>
													{% endif %}
												</div> 
											
										{% endif %}
									{% else %}
											<div class="noOfferPresent margin20">
												<p class="reductionPresent">Bar Fermé</p>
											</div>
									{% endif %}
									


							</div>

							
							<div class="confirmationReservation">
								<div class="checkConfirmation" style="background-image : url('{{ asset('uploads/bar/'~bar.path) }}');">
									<p class='jourReservation'>{{'now'|date('d')}}</p>
									<p class='moisReservation'>

									{% set months = {'1': 'JANVIER', '2': 'FEVRIER', '3': 'MARS', '4': 'AVRIL', '5': 'MAI', '6': 'JUIN', '7': 'JUILLET', '8': 'AOUT', '9': 'SEPTEMBRE', '10': 'OCTOBRE', '11': 'NOVEMBRE', '12': 'DECEMBRE'} %}

								      {% for j in 1..12 %}

										{% if 'now'|date('m') == j %}
											{{ months[j] }}
										{% endif %}
									{% endfor %}
									</p>
								</div>
								<div class="contentConfirmation">
									<div class="textContentConfirmation">
										<div class="closeRappel">
											<img src="{{asset('img/crossClose.png')}}" alt="">
										</div>
										<h2>Réservation Confirmée</h2>
										{% if bar.getPromotionByDay(today).getOption('value').value == 0 %}
											<p class="rappelPromo">Votre réservation pour {{ bar.name }} est valable jusqu'à ce soir</p>
										{% else %}
											<p class="rappelPromo"><span class="rappelPromotion">-{{ bar.getPromotionByDay(today).getOption('value').value }}%</span>

											{% if bar.getHappyHourByDay(today).getOption('value').value !=0 %}

												<span class="rappelHappyHours">et -{{bar.getHappyHourByDay(today).getOption('value').value}}%</span> de {{ bar.getHappyHourByDay(today).getOption('beginning').value }}h à {{ bar.getHappyHourByDay(today).getOption('ending').value }}h
											{% endif %}
											</p>
										{% endif %}
										<p><a class="mesReservation" href="{{ path('fos_user_profile_show') }}">Voir mes reservations</a></p>

										{% if (bar.getPromotionByDay(today).getOption('restriction').value or bar.getHappyHourByDay(today).getOption('restriction').value) %}
											<p class="rappelCondition"><a href="{{ path('fos_user_profile_show') }}">Voir les conditions</a></p>
										{% endif %}

										<!-- <div class="contentButtonRappel">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12">
													<div class="col-xs-4 col-sm-4 col-md-4">
														<p>Voir les conditions</p>
													</div>
													<div class="col-xs-4 col-sm-4 col-md-4">
														<p>Inviter des amis à reserver</p>
													</div>
													<div class="col-xs-4 col-sm-4 col-md-4">
														<p>Annuler</p>
													</div>
												</div>
											</div>
											
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
{% endblock %}

{% block javascripts %}
{{parent()}}
<script src="{{ asset('js/reservationBar.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ asset('slick/slick.min.js') }}"></script>
<script>
    $(document).ready(function() {
        $('.SlickSlider').slick({
            autoplay: false,
            dots: true,
            adaptiveHeight: true
        });
    });
</script>
 <script>
	var map;
	var service;
	var infowindow;

	function initialize() {
	  var geocode = document.getElementById('geocode');
	  geocode = geocode.innerHTML;
	  geocode = geocode.split(',');
	  var geolat = geocode[0];
	  var geolong = geocode[1];
	  var pyrmont = new google.maps.LatLng(geolat,geolong);

	  map = new google.maps.Map(document.getElementById('map-canvas'), {
	    center: pyrmont,
	    zoom: 15
	  });

	  var request = {
	    location: pyrmont,
	    types: ['subway_station', 'train_station'],
	    rankBy: google.maps.places.RankBy.DISTANCE
	  };

	  infowindow = new google.maps.InfoWindow();
      var service = new google.maps.places.PlacesService(map);
	  service.nearbySearch(request, callback);
	}

	function callback(results, status) {
	  if (status == google.maps.places.PlacesServiceStatus.OK) {
	    var buttonHtml = '<div class="transportSliderController">';
	    for (var i = 0; i < results.length; i++) {
	      var place = results[i];
	      if(i < 3) {
	      	var slideHtml = '';
	      	if(i == 0) { 
	      		slideHtml = 
	      		'<div class="col-xs-12 col-sm-4 col-md-4"><div class="transportSliderSlide activ" data-id="slide-' + i + '"><img class="transportPic" src="{{ asset('img/L_M.png') }}" alt="metro"><p class="placeName">' + place.name + '</p></div></div>';
	      		// buttonHtml += '<div class="sliderController activ" data-id="slide-' + i + '"></div>';
	      	} else {
	      		slideHtml = 
	      		'<div class="col-xs-12 col-sm-4 col-md-4"><div class="transportSliderSlide" data-id="slide-' + i + '"><img class="transportPic" src="{{ asset('img/L_M.png') }}" alt="metro"><p class="placeName">' + place.name + '</p></div></div>';
	      		// buttonHtml += '<div class="sliderController" data-id="slide-' + i + '"></div>';
	      	}

	      	$('.transportSliderWrapper').append(slideHtml);
	      }

	     
	    }
	     $('.transportSliderWrapper').append('<div class="clear"></div>');
	    // buttonHtml += '</div>';
	    // $('.transportSliderWrapper').append(buttonHtml);
	  }
	}

	google.maps.event.addDomListener(window, 'load', initialize);

	$(document).ready(function() {
		$('.transportSliderWrapper').on('click', '.sliderController', function() {
			$('.transportSliderSlide.activ').removeClass('activ');
			$('.sliderController.activ').removeClass('activ');
			$('.sliderController[data-id="' + $(this).attr('data-id') + '"]').addClass('activ');
			$('.transportSliderSlide[data-id="' + $(this).attr('data-id') + '"]').addClass('activ');
		});
	});

	var positionElementInPage = $('.contentInfoBarNote').offset().top;

	$(window).scroll(function() {
		if ($(window).scrollTop() > positionElementInPage) {
			// fixed
			$('.contentInfoBarNote').addClass("floatable");
		}else{
			$('.contentInfoBarNote').removeClass("floatable");
		}
	});
</script>
{% endblock %}
