{% extends "::base.html.twig" %}

{% block title %}CacBarBundle:Bar:show{% endblock %}

{% block body %}
<h1>Welcome to the Bar:show page</h1>
<ul>
	<li>Nom de l'établissement : {{ bar.name }}</li>
	<li>Adresse : {{ bar.adress }}</li>
	<li>Ville : {{ bar.town }}</li>
	<li>Pays : {{ bar.country }}</li>
	<li>Code postal : {{ bar.zipcode }}</li>
	<li>Horaires : {{ bar.schedule }}</li>
	<li>Acces : {{ bar.access }}</li>
	<li>Auteur : {% if bar.author.username is defined %}{{ bar.author.username }}{% endif %}</li>
	<ul>
		{% for boss in bar.bigboss %}
			<li>{{ boss }}</li>
		{% endfor %}
	</ul>
	<ul>
		{% for category in bar.categories %}
			<li>{{ category }}</li>
		{% endfor %}
	</ul>
	<li>
		{% for category in bar.categories %}
			{{ category }}
			{% if not loop.last %}
			, 
			{% endif %}
		{% endfor %}
	</li>
	<li>Ordre des prix : {{ bar.priceRange }}</li>
	<li>Dresscode : {{ bar.dressCode }}</li>
	<li>Voiturier : {{ bar.valet }}</li>
	<li>Prix voiturier{{ bar.valetCost }}</li>
	<li>Acces handicapé : {{ bar.handicappedAccess }}</li>
	<li>Terrasse : {{ bar.patio }}</li>
	<li>Espace fumeur : {{ bar.smokingArea }}</li>
	<li>Alcotests gratuits : {{ bar.breathalyser }}</li>
</ul>

<h2>Editer le bar</h2>
<a href="{{ path('bar_edit', { 'id': bar.id }) }}">Editer</a> 
<h2>Supprimer le bar</h2>
{{ form(delete_form) }}

<h2>Notes</h2>
{% for comment in bar.comments %}
{{ comment.note }} - {{ comment.comment }}<br>
{% endfor %}

<h2>Noter le bar</h2>

<form id="note">
    <label>Commentaire <span>(255 caractères maximum)</span></label>
    <input type="text" class="commentText" name="comment" required><br>
    <label>Note <span>(sur 10)</span></label>
    <input type="text" class="noteText" name="note" required><br>
    <input type="hidden" class="barId" name="barId" value="{{ bar.id }}">
    <button type="submit">Noter</button>
</form>

<h2>Ajouter un manager</h2>
<a href="{{ path('bar_add_manager', { id : bar.id }) }}">Ajouter un manager</a>
{% endblock %}
