{% extends "::base.html.twig" %}

{% block title %}CacBarBundle:Bar:show{% endblock %}

{% block body %}
		<div class="topBar col-xs-12 col-sm-12 col-md-12 noPadding">
			<img src="{{ asset('uploads/bar/'~bar.path) }}">
			<!--<img src="{{asset('img/accueil.png')}}" alt="">
			<img src="{{asset('img/pershing.png')}}" alt="">
			<img src="{{asset('img/fondFicheBar.png')}}" alt="">-->
			<div class="infoNameBar">
				<h1>{{ bar.name }}</h1>
				{% if bar.priceRange ==  1 %}
				<p>€<span>€€€€</span></p>
				{% elseif bar.priceRange ==  2 %}
				<p>€€<span>€€€</span></p>
				{% elseif bar.priceRange ==  3 %}
				<p>€€€<span>€€</span></p>
				{% elseif bar.priceRange ==  4 %}
				<p>€€€€<span>€</span></p>
				{% elseif bar.priceRange ==  5 %}
				<p>€€€€€</p>
				{% else %}
				<p></p>
				{% endif %}

				<a href="{{ path('bar_edit', { 'id': bar.id }) }}">Editer ce bar</a> 
			</div>
		</div>
		<div class="infoBar col-xs-12 col-sm-12 col-md-12 noPadding">
			
			<div class="noteBar hidden-xs col-sm-3 col-md-3">
			{#	
				<div class="turn"><p class="topNote">8</p><div class="slash"></div><p class="bottomNote">10</p></div>
				<div class="clear"></div>
				<p class="comNote">Bonne adresse</p>
			#}
			</div>
			 
			
			<div class="noteBar col-xs-6 col-sm-3 col-md-3">
				<div class="right">
					<div class="ticketVerre">
						<div class="ticketBarTop">
							<h2>OFFRIR UN VERRE</h2>
							<h3>GRATUITEMENT</h3>
						</div>
						<div class="ticketCode">
							<input placeholder="Entre ton code">
							<input type="submit" value="Valider">
						</div>
						<div class="ticketBarBottom">
							<p>C'EST PARTIT !</p>
						</div>
					</div>
				</div>
			</div>
			<div class="noteBar col-xs-6 col-sm-3 col-md-3">
				<div class="ticket">
					<div class="ticketBarTop">
						<h2 class="font30">-50%</h2>
						<h3>SUR UNE CONSOMATION</h3>
					</div>
					<div class="ticketPromotion col-xs-12 col-sm-12 col-md-12">
					<!--<script language="javascript">
						var lejour = new Date();
						document.write(lejour.getDay());
						
					</script>-->
					{% set days = {
						'1': 'Lundi', 
						'2': 'Mardi', 
						'3': 'Mercredi', 
						'4': 'Jeudi', 
						'5': 'Vendredi', 
						'6': 'Samedi', 
						'7': 'Dimanche'
					} %}
						<div class="col-xs-7 col-sm-7 col-md-7">
							<p class="bold">Happy Hours</p>
							<p>De 16h à 18h</p>
						</div>
						<div class="col-xs-5 col-sm-5 col-md-5">
							<p class="reductionHappyHour">-70%</p> 
						</div>
						
						{# le {{days[2]}} -{{ bar.promotion.promotionArray[days[2]]['happy-hour'].value }}%</p> #}
					</div>
					<div class="clear"></div>
					<div class="ticketBarBottom">
						<p>OBTENIR LA PROMO</p>
					</div>
				</div>
			</div>
			<div class="noteBar hidden-xs col-sm-3 col-md-3">
			{#	
				<p class="comPosition">POSITION</p>
				<div class="turnPosition"><p class="topPosition">6</p><div class="slash"></div><p class="bottomPosition">535</p></div>
			#}	
			</div> 
		</div>
		<div class="contentSuperInfoBar col-xs-12 col-sm-12 col-md-12 noPadding">
			<div class="superInfoBar noPadding">
				<div class="ongletBar">
					<div class="information">
						<h3>INFORMATION</h3>
					</div>
					<div class="avis">
						<h3>AVIS</h3>
					</div>
				</div>
				<div class="informationBar">
					<div class="col-xs-12 col-sm-6 col-md-5">
						<h2>ACCES</h2>
						<h2>ADRESSE</h2>
						<p>{{ bar.adress }}</p>
						<p>{{ bar.zipcode }}<span>{{ bar.town }}</span></p>
						<h2>LES HORAIRES</h2>
						{% set days = {
							'1': 'Lundi', 
							'2': 'Mardi', 
							'3': 'Mercredi', 
							'4': 'Jeudi', 
							'5': 'Vendredi', 
							'6': 'Samedi', 
							'7': 'Dimanche'
						} %}
						{% for i in 1..7 %}
						<div class="col-xs-5 col-sm-4 col-md-4 noPadding">
							<p>{{ days[i] }}</p>
						</div>
						{% if bar.scheduleArray[days[i]].status == "Ouvert" %}
						<div class="col-xs-3 col-sm-4 col-md-4 noPadding">
							<span class="ouverture">{{ bar.scheduleArray[days[i]].open }}h</span>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 noPadding">
							<span class="fermeture">{{ bar.scheduleArray[days[i]].close }}h</span>
						</div>
						{% else %}
						<div class="center col-xs-4 col-sm-5 col-md-5 noPadding">
							<span class="fermeture">FERMER</span>
						</div>
						{% endif %}
						{% endfor %}
					</div>
					<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
					<script>
					  var geocoder;
					  var map;
					  function initialize() {
					    geocoder = new google.maps.Geocoder();
					    var latlng = new google.maps.LatLng(-34.397, 150.644);
					    var mapOptions = {
					      zoom: 15,
					      center: latlng
					    }
					    var address = '{{ bar.adress }}, {{ bar.town }}, {{ bar.country }}';
					    geocoder.geocode( { 'address': address}, function(results, status) {
					      if (status == google.maps.GeocoderStatus.OK) {
					        map.setCenter(results[0].geometry.location);
					        var marker = new google.maps.Marker({
					            map: map,
					            position: results[0].geometry.location
					        });
					      } else {
					        alert('Geocode was not successful for the following reason: ' + status);
					      }
					    });
					    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
					  }
					  google.maps.event.addDomListener(window, 'load', initialize);

					</script>
					<div class="col-xs-12 col-sm-6 col-md-7">
						<div class="mapView" style="border:1px solid #5ac4d4;">
							<div id="map-canvas"></div>
						</div>
						
					</div>
				</div>
				<div class="avisBar">
					<h2 class="col-xs-5 col-sm-5 col-md-5 noPadding">AVIS</h2>
					<p class="texte col-xs-7 col-sm-7 col-md-7 noPadding">0 avis</p>
					<p class="col-xs-12 col-sm-12 col-md-12 noPadding">Il n'y a encore aucun avis pour ce bar</p>
					<div class="racontezNous col-xs-12 col-sm-12 col-md-12 noPadding">
						<p>Et si vous étiez le premier ?</p>
						<img src="{{asset('img/avis.png')}}" alt="avis">
					</div>
				</div>
					<div class="clear"></div>
			</div>

			<div class="petitplusInfoBar">
				{% if bar.handicappedAccess == 1 %}
					<div class="vignettePetitPlus col-xs-6 col-sm-3 col-md-3 noPadding">
						<div class="vignettePetitPlusContent">
							<img class="col-xs-3 col-sm-3 col-md-3 noPadding" src="{{asset('img/pmr.png')}}" alt="Click and Cheers" />
							<p class="col-xs-9 col-sm-9 col-md-9 noPadding">Accessible<br>aux PMR</p>
						</div>
					</div>
				{% endif %}
				{% if bar.patio == 1%}
					<div class="vignettePetitPlus col-xs-6 col-sm-3 col-md-3 noPadding">
						<div class="vignettePetitPlusContent">
							<img src="{{asset('img/terrasse.png')}}" alt="Click and Cheers"><p>Terrasse<br>sympa</p>
						</div>
					</div>
				{% endif %}
				{% if bar.smokingArea == 1%}
					<div class="vignettePetitPlus col-xs-6 col-sm-3 col-md-3 noPadding">
						<div class="vignettePetitPlusContent">
							<img class="col-xs-3 col-sm-3 col-md-3 noPadding" src="{{asset('img/terrasse.png')}}" alt="Click and Cheers" />
							<p class="col-xs-9 col-sm-9 col-md-9 noPadding">Espace<br>Fumeur</p>
						</div>
					</div> 
				{% endif %}
				{% if bar.breathalyser == 1%}
					<div class="vignettePetitPlus col-xs-6 col-sm-3 col-md-3 noPadding">
						<div class="vignettePetitPlusContent">
							<img src="{{asset('img/ethylotest.png')}}" alt="Click and Cheers"><p>Ethylotest<br>gratuit</p>
						</div>
					</div>
				{% endif %}

				{% if bar.babyfoot == 1%}
					<div class="vignettePetitPlus col-xs-6 col-sm-3 col-md-3 noPadding">
						<div class="vignettePetitPlusContent">
							<img src="{{asset('img/ethylotest.png')}}" alt="Click and Cheers"><p class="padding10">BabyFoot</p>
						</div>
					</div>
				{% endif %}

				{% if bar.billard == 1%}
					<div class="vignettePetitPlus col-xs-6 col-sm-3 col-md-3 noPadding">
						<div class="vignettePetitPlusContent">
							<img class="col-xs-3 col-sm-3 col-md-3 noPadding" src="{{asset('img/ethylotest.png')}}" alt="Click and Cheers">
							<p class="col-xs-9 col-sm-9 col-md-9 noPadding padding10">Billard</p>
						</div>
					</div>
				{% endif %}

				{% if bar.flipper == 1 %}
					<div class="vignettePetitPlus col-xs-6 col-sm-3 col-md-3 noPadding">
						<div class="vignettePetitPlusContent">
							<img src="{{asset('img/ethylotest.png')}}" alt="Click and Cheers"><p class="padding10">Flipper</p>
						</div>
					</div>
				{% endif %}

				{% if bar.canape == 1%}
					<div class="vignettePetitPlus col-xs-6 col-sm-3 col-md-3 noPadding">
						<div class="vignettePetitPlusContent">
							<img src="{{asset('img/ethylotest.png')}}" alt="Click and Cheers"><p class="padding10">Canapé</p>
						</div>
					</div>
				{% endif %}
				{% if bar.valet == 1%}
					<div class="vignettePetitPlus col-xs-6 col-sm-3 col-md-3 noPadding">
						<div class="vignettePetitPlusContent">
							<img class="col-xs-3 col-sm-3 col-md-3 noPadding" src="{{asset('img/voiturier.png')}}" alt="Click and Cheers">
							<p class="col-xs-6 col-sm-6 col-md-6 noPadding">Service<br>Voiturier</p>
							<p class="col-xs-3 col-sm-3 col-md-3 noPadding vignettePetitPlusPrix">{{ bar.valetCost }}<span> €</span></p>
						</div>
					</div>
				{% endif %}
				<div class="clear"></div>
			</div>
			{% if bar.description %}
				<div class="descriptionBar noPadding">
					<h2 class="col-xs-5 col-sm-5 col-md-5 noPadding">DESCRPITION</h2>
					<p class="col-xs-12 col-sm-12 col-md-12">{{bar.description}}</p>
					<div class="clear"></div>
				</div>
			{% endif %}
			<div class="dresscode">
				{% if bar.dresscode == 1%}
					chic
				{% elseif bar.dresscode == 2%}
					Décontracté
				{% endif %}
			</div>
		</div>
		<!--<div class="col-xs-12 col-sm-12 col-md-12">
			{% if app.user == bar.author %}
				<a href="">Ajouter un barman à ce bar</a>
			{% endif %}
			<h1>Welcome to the Bar:show page</h1>
			<ul>
				<li>Nom de l'établissement : {{ bar.name }}</li>
				<li>Adresse : {{ bar.adress }}</li>
				<li>Ville : {{ bar.town }}</li>
				<li>Pays : {{ bar.country }}</li>
				<li>Code postal : {{ bar.zipcode }}</li>
				<li>Acces : {{ bar.access }}</li>
				<li>Auteur : {% if bar.author.username is defined %}{{ bar.author.username }}{% endif %}</li>
				<li>{{bar.schedule}}</li>
				
				<ul>
					Ca sert a quoi ca ? vu qu'on a deja l auteur au dessus
					{% for boss in bar.author %}
						<li>{{ boss }}</li>
					{% endfor %}
				</ul>
				<ul>
					{% for category in bar.categories %}
						<li>{{ category }}</li>
					{% endfor %}
				</ul>
				<li>
					{% for category in bar.categories %}
						{{ category }}
						{% if not loop.last %}
						, 
						{% endif %}
					{% endfor %}
				</li>
				<li>Ordre des prix : {{ bar.priceRange }}</li>
				<li>Dresscode : {{ bar.dressCode }}</li>
				<li>Voiturier : {{ bar.valet }}</li>
				<li>Prix voiturier : {{ bar.valetCost }}</li>
				<li>Acces handicapé : {{ bar.handicappedAccess }}</li>
				<li>Terrasse : {{ bar.patio }}</li>
				<li>Espace fumeur : {{ bar.smokingArea }}</li>
				<li>Alcotests gratuits : {{ bar.breathalyser }}</li>
			</ul>

			<h2>Editer le bar</h2>
			<a href="{{ path('bar_edit', { 'id': bar.id }) }}">Editer</a> 
			<h2>Supprimer le bar</h2>
			{{ form(delete_form) }}

			<h2>Notes</h2>
			{% for comment in bar.comments %}
			{{ comment.note }} - {{ comment.comment }}<br>
			{% endfor %}

			<h2>Noter le bar</h2>

			<form id="note">
			    <label>Commentaire <span>(255 caractères maximum)</span></label>
			    <input type="text" class="commentText" name="comment" required><br>
			    <label>Note <span>(sur 10)</span></label>
			    <input type="text" class="noteText" name="note" required><br>
			    <input type="hidden" class="barId" name="barId" value="{{ bar.id }}">
			    <button type="submit">Noter</button>
			</form>

			<h2>Ajouter un manager</h2>
			<a href="{{ path('barman_register', { id : bar.id }) }}">Ajouter un manager</a>
		</div>-->
{% endblock %}
