{% extends "::base.html.twig" %}

{% block title %}CacBarBundle:Bar:show{% endblock %}

{% block body %}
		<div class="topBar col-xs-12 col-sm-12 col-md-12 noPadding" style="background-image : url('{{ asset('uploads/bar/'~bar.path) }}');">
			
			<div class="infoNameBar">
				<h1>{{ bar.name }}</h1>
		
				<p>€€€€<span>€</span></p>

				{% if (is_granted('ROLE_BIGBOSS')) and (bar.author.id == user.id) %}

					<a href="{{ path('bar_edit', { 'id': bar.id }) }}">Editer ce bar</a>

				{% endif %}
			</div>
		</div>
		<div class="infoBar col-xs-12 col-sm-12 col-md-12 noPadding">
			
			<div class="noteBar hidden-xs col-sm-3 col-md-3">
			{#	
				<div class="turn"><p class="topNote">8</p><div class="slash"></div><p class="bottomNote">10</p></div>
				<div class="clear"></div>
				<p class="comNote">Bonne adresse</p>
			#}
			</div>
			 
			
			<div class="noteBar col-xs-6 col-sm-3 col-md-3">
				<div class="right">
					<div class="ticketVerre">
						<div class="ticketBarTop">
							<h2>OFFRIR UN VERRE</h2>
							<h3>GRATUITEMENT</h3>
						</div>
						<div class="ticketCode">
							<input placeholder="Entre ton code">
							<input type="submit" value="Valider">
						</div>
						<div class="ticketBarBottom">
							<p>C'EST PARTIT !</p>
						</div>
					</div>
				</div>
			</div>
			<div class="noteBar col-xs-6 col-sm-3 col-md-3">
				<div class="ticket">
					{% if promoOfferte %}
						<div class="ticketBarTop reservationDone">
							<p class="voirMaConfirmationDone">VOIR MA RESERVATION</p>
						</div>
						<div class="ticketPromotion col-xs-12 col-sm-12 col-md-12">
							{% if bar.getHappyHourByDay(today).getOption('value').value != 0 %}
								<div class="obtenirPromo" data-bar-id="{{bar.id}}">
									<div class="col-xs-7 col-sm-7 col-md-7">
										<p class="bold">Happy Hours</p>
										<p>De {{ bar.getHappyHourByDay(today).getOption('beginning').value }}h à {{ bar.getHappyHourByDay(today).getOption('ending').value }}h</p>
									</div>
									<div class="col-xs-5 col-sm-5 col-md-5">
										<p class="reductionHappyHour">-{{ bar.getHappyHourByDay(today).getOption('value').value }}%</p> 
									</div>
								</div>
							{% else %}
								<p>Tenez moi au courant<br>Dès qu'une promo est proposé dans ce bar</p>
							{% endif %}
							
							{# le {{days[2]}} -{{ bar.promotion.promotionArray[days[2]]['happy-hour'].value }}%</p> #}
						</div>
						<div class="clear"></div>
						<div class="ticketBarBottom">
							<p>POUR AUJOURD'HUI</p>
							<p class="testSuccess"></p>
						</div>
					{% else %}
						<div class="ticketBarTop">
						{% if bar.scheduleArray[today].status == 'Ouvert' %}
							{% if bar.getHappyHourByDay(today).getOption('value').value != 0 %}
								<img src="{{asset('img/pictoPromo.png')}}" alt="">
							{% endif %}
							{% if bar.getPromotionByDay(today).getOption('value').value == 0 %}

								<h2 class="font30 fontWeight200">PAS DE PROMO</h2>
								<h3>Mais <span>5 cheers</span> de fidélité</h3>

							{% else %}
								<div class="obtenirPromo" data-bar-id="{{bar.id}}">
									<h2 class="font30">-{{ bar.getPromotionByDay(today).getOption('value').value }}%</h2>
									<h3>SUR UNE CONSOMMATION</h3>
									<p class="voirMaConfirmation"></p>
								</div>
							{% endif %}
						{% else %}
							<p>Bar Fermé<p>
						{% endif %}
						</div>
						<div class="ticketPromotion col-xs-12 col-sm-12 col-md-12">
							{% if bar.getHappyHourByDay(today).getOption('value').value != 0 %}
								<div class="obtenirPromo" data-bar-id="{{bar.id}}">
									<div class="col-xs-7 col-sm-7 col-md-7">
										<p class="bold">Happy Hours</p>
										<p>De {{ bar.getHappyHourByDay(today).getOption('beginning').value }}h à {{ bar.getHappyHourByDay(today).getOption('ending').value }}h</p>
									</div>
									<div class="col-xs-5 col-sm-5 col-md-5">
										<p class="reductionHappyHour">-{{ bar.getHappyHourByDay(today).getOption('value').value }}%</p> 
									</div>
								</div>
							{% else %}
								<p>Tenez moi au courant<br>Dès qu'une promo est proposé dans ce bar</p>
							{% endif %}
							
							{# le {{days[2]}} -{{ bar.promotion.promotionArray[days[2]]['happy-hour'].value }}%</p> #}
						</div>
						<div class="clear"></div>
						<div class="ticketBarBottom">
						{% if bar.scheduleArray[today].status == 'Ouvert' %}
							{% if bar.getPromotionByDay(today).getOption('value').value == 0 %}
								<p class="obtenirPromo" data-bar-id="{{bar.id}}">RESERVEZ POUR AUJOURD'HUI</p>
								<p class="testSuccess"></p>
							{% else %}
								<p class="obtenirPromo" data-bar-id="{{bar.id}}">OBTENIR LA PROMO</p>
								<p class="testSuccess"></p>
							{% endif %}
						{% else %}
							<p> Bar Fermé<p>
						{% endif %}
						</div>
					{% endif %}
				</div>
			</div>
			<div class="noteBar hidden-xs col-sm-3 col-md-3">
			{#	
				<p class="comPosition">POSITION</p>
				<div class="turnPosition"><p class="topPosition">6</p><div class="slash"></div><p class="bottomPosition">535</p></div>
			#}	
			</div> 
			<div class="confirmationReservation">
				<div class="closeRappel">
					<img src="{{asset('img/crossClose.png')}}" alt="">
				</div>
				<h2>Confirmation</h2>
				{% if bar.getPromotionByDay(today).getOption('value').value == 0 %}
					<p class="rappelPromo">Votre réservation pour {{ bar.name }} est valable jusqu'à ce soir</p>
				{% else %}
					<p class="rappelPromo">Valable jusquà ce soir : -{{ bar.getPromotionByDay(today).getOption('value').value }}% pour {{ bar.name }}</p>
				{% endif %}
				<p class="rappelCondition">Cette réservation n'est valable que pour UNE personne</p>
				<div class="contentButtonRappel">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-4 col-sm-4 col-md-4">
								<p>Voir les conditions</p>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4">
								<p>Inviter des amis à reserver</p>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4">
								<p>Annuler</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="contentSuperInfoBar col-xs-12 col-sm-12 col-md-12 noPadding">
			<div class="superInfoBar noPadding">
				<div class="ongletBar">
					<div class="col-xs-6 col-sm-6 col-md-6 noPadding">
						<div class="information selectedOngletBar">
							<h3>Informations</h3>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 noPadding">
						<div class="avis">
							<h3>Avis</h3>
						</div>
					</div>
				</div>
				<div class="informationBar">
					<div class="col-xs-12 col-sm-6 col-md-5">
						<h2 class="firstElmtFicheBar">Accès</h2>
						<div class="transportSliderWrapper">
							
						</div>
						<h2>Adresse</h2>
						<p class="interligneFicheBar">{{ bar.adress }}</p>
						<p>{{ bar.zipcode }}<span>{{ bar.town }}</span></p>
						<h2>Les horaires</h2>
						{% set days = {
							'1': 'Lundi', 
							'2': 'Mardi', 
							'3': 'Mercredi', 
							'4': 'Jeudi', 
							'5': 'Vendredi', 
							'6': 'Samedi', 
							'7': 'Dimanche'
						} %}
						{% for i in 1..7 %}
						<div class="interligneFicheBar col-xs-5 col-sm-4 col-md-4 noPadding">
							<p>{{ days[i] }}</p>
						</div>
						{% if bar.scheduleArray[days[i]].status == "Ouvert" %}
						<div class="interligneFicheBar col-xs-3 col-sm-4 col-md-4 noPadding">
							<span class="ouverture">{{ bar.scheduleArray[days[i]].open }}h</span>
						</div>
						<div class="interligneFicheBar col-xs-4 col-sm-4 col-md-4 noPadding">
							<span class="fermeture">{{ bar.scheduleArray[days[i]].close }}h</span>
						</div>
						{% else %}
						<div class="interligneFicheBar center col-xs-4 col-sm-5 col-md-5 noPadding">
							<span class="fermeture">FERMER</span>
						</div>
						{% endif %}
						{% endfor %}
					</div>
					<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
					<script>
					  var geocoder;
					  var map;
					  function initialize() {
					    geocoder = new google.maps.Geocoder();
					    var latlng = new google.maps.LatLng(-34.397, 150.644);
					    var mapOptions = {
					      zoom: 15,
					      center: latlng
					    }
					    var address = '{{ bar.adress }}, {{ bar.town }}, {{ bar.country }}';
					    geocoder.geocode( { 'address': address}, function(results, status) {
					      if (status == google.maps.GeocoderStatus.OK) {
					        map.setCenter(results[0].geometry.location);
					        var marker = new google.maps.Marker({
					            map: map,
					            position: results[0].geometry.location
					        });
					      } else {
					        alert('Geocode was not successful for the following reason: ' + status);
					      }
					    });
					    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
					  }
					  google.maps.event.addDomListener(window, 'load', initialize);

					</script>
					<div class="hidden-xs col-sm-6 col-md-7">
						<div class="mapView" style="border:1px solid #5ac4d4;">
							<div id="map-canvas"></div>
						</div>
						
					</div>
					<div id="geocode" class="hidden">{{ bar.geocode }}</div>
				</div>
				<div class="avisBar">
					<h2 class="firstElmtFicheBar col-xs-5 col-sm-5 col-md-5 noPadding">Avis</h2>
					<p class="texte col-xs-7 col-sm-7 col-md-7 noPadding">0 avis</p>
					<p class="col-xs-12 col-sm-12 col-md-12 noPadding">Il n'y a encore aucun avis pour ce bar</p>
					<div class="racontezNous col-xs-12 col-sm-12 col-md-12 noPadding">
						<p>Et si vous étiez le premier ?</p>
						<img src="{{asset('img/avis.png')}}" alt="avis">
					</div>
				</div>
					<div class="clear"></div>
			</div>

			<div class="containerPriceAndServices">
				<div class="row">
					<div class="col-xs-6 col-sm-3 col-md-3">
						<img src="{{asset('img/pictoBar/biere.svg')}}" alt="">
						<div class="contentPrice">
							<span>{{ bar.beerPrice }}€</span>
							<p>La pinte de bière</p>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3">
						<img src="{{asset('img/pictoBar/cocktail.svg')}}" alt="">
						<div class="contentPrice">
							<span>{{ bar.cocktailPrice }}€</span>
							<p>Le cocktail</p>
						</div>
						
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3">
						<img src="{{asset('img/pictoBar/soft.svg')}}" alt="">
						<div class="contentPrice">
							<span>{{ bar.softPrice }}€</span>
							<p>Le soft</p>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3">
						<img src="{{asset('img/pictoBar/cafe.svg')}}" alt="">
						<div class="contentPrice">
							<span>{{ bar.coffeePrice }}€</span>
							<p>Le café</p>
						</div>
					</div>
				</div>

				<div class="petitplusInfoBar">
					{% if bar.handicappedAccess == 1 %}
						<div class="vignettePetitPlus col-xs-6 col-sm-4 col-md-3 noPadding">
							<div class="vignettePetitPlusContent">
								<img class="col-xs-2 col-sm-2 col-md-2 noPadding" src="{{asset('img/pictoBar/handicape.svg')}}" alt="Click and Cheers" />
								<p class="col-xs-9 col-sm-9 col-md-9 noPadding">Accessible<br>aux PMR</p>
							</div>
						</div>
					{% endif %}
					{% if bar.patio == 1%}
						<div class="vignettePetitPlus col-xs-6 col-sm-4 col-md-3 noPadding">
							<div class="vignettePetitPlusContent">
								<img src="{{asset('img/pictoBar/terrasse.svg')}}" alt="Click and Cheers"><p>Terrasse<br>sympa</p>
							</div>
						</div>
					{% endif %}
					{% if bar.smokingArea == 1%}
						<div class="vignettePetitPlus col-xs-6 col-sm-4 col-md-3 noPadding">
							<div class="vignettePetitPlusContent">
								<img class="col-xs-3 col-sm-3 col-md-3 noPadding" src="{{asset('img/pictoBar/fumoir.svg')}}" alt="Click and Cheers" />
								<p class="col-xs-9 col-sm-9 col-md-9 noPadding">Espace<br>Fumeur</p>
							</div>
						</div> 
					{% endif %}
					{% if bar.breathalyser == 1%}
						<div class="vignettePetitPlus col-xs-6 col-sm-4 col-md-3 noPadding">
							<div class="vignettePetitPlusContent">
								<img src="{{asset('img/pictoBar/ethylotest.svg')}}" alt="Click and Cheers"><p>Ethylotest<br>gratuit</p>
							</div>
						</div>
					{% endif %}

					{% if bar.babyfoot == 1%}
						<div class="vignettePetitPlus col-xs-6 col-sm-4 col-md-3 noPadding">
							<div class="vignettePetitPlusContent">
								<img src="{{asset('img/pictoBar/babyfoot.svg')}}" alt="Click and Cheers"><p class="padding10">BabyFoot</p>
							</div>
						</div>
					{% endif %}

					{% if bar.billard == 1%}
						<div class="vignettePetitPlus col-xs-6 col-sm-4 col-md-3 noPadding">
							<div class="vignettePetitPlusContent">
								<img class="col-xs-3 col-sm-3 col-md-3 noPadding" src="{{asset('img/pictoBar/billard.svg')}}" alt="Click and Cheers">
								<p class="col-xs-9 col-sm-9 col-md-9 noPadding padding10">Billard</p>
							</div>
						</div>
					{% endif %}

					{% if bar.flipper == 1 %}
						<div class="vignettePetitPlus col-xs-6 col-sm-4 col-md-3 noPadding">
							<div class="vignettePetitPlusContent">
								<img src="{{asset('img/pictoBar/flipper.svg')}}" alt="Click and Cheers"><p class="padding10">Flipper</p>
							</div>
						</div>
					{% endif %}

					{% if bar.canape == 1%}
						<div class="vignettePetitPlus col-xs-6 col-sm-4 col-md-3 noPadding">
							<div class="vignettePetitPlusContent">
								<img src="{{asset('img/pictoBar/canape.svg')}}" alt="Click and Cheers"><p class="padding10">Canapé</p>
							</div>
						</div>
					{% endif %}
					{% if bar.clim == 1 %}
						<div class="vignettePetitPlus col-xs-6 col-sm-4 col-md-3 noPadding">
							<div class="vignettePetitPlusContent">
								<img src="{{asset('img/pictoBar/climatisation.svg')}}" alt="Click and Cheers"><p class="padding10">Climatisation</p>
							</div>
						</div>
					{% endif %}
					{% if bar.valet == 1%}
						<div class="vignettePetitPlus col-xs-6 col-sm-4 col-md-3 noPadding">
							<div class="vignettePetitPlusContent">
								<img class="col-xs-3 col-sm-3 col-md-3 noPadding" src="{{asset('img/pictoBar/voiturier.png')}}" alt="Click and Cheers">
								<p class="col-xs-6 col-sm-6 col-md-6 noPadding">Service<br>Voiturier</p>
								<p class="col-xs-3 col-sm-3 col-md-3 noPadding vignettePetitPlusPrix">{{ bar.valetCost }}<span> €</span></p>
							</div>
						</div>
					{% endif %}
					<div class="clear"></div>
				</div>
			</div>
			{% if bar.description %}
				<div class="descriptionBar noPadding">
					<h2 class="col-xs-5 col-sm-5 col-md-5 noPadding">Description</h2>
					<p class="col-xs-12 col-sm-12 col-md-12">{{bar.description}}</p>
					<div class="clear"></div>
				</div>
			{% endif %}
			<div class="dresscode">
				{% if bar.dresscode == 1%}
					<img src="{{asset('img/pictoBar/chic.png')}}" alt="Click and Cheers">
				{% elseif bar.dresscode == 2%}
					<img src="{{asset('img/pictoBar/decontracte.png')}}" alt="Click and Cheers">
				{% endif %}
			</div>
				
				
{% if bar.carte.getValues()[0] is defined and bar.carte.getValues()[0].visible == true %}
	<a href="{{ asset(('uploads/carte-bar/' ~ bar.carte.getValues()[0].path)) }}" target="_blank">Voir la carte</a>
{% endif %}
		</div>
		
{% endblock %}

{% block javascripts %}
{{parent()}}
 <script src="{{ asset('js/jquery-2.1.0.js') }}" type="text/javascript" /></script>
 <script>
	var map;
	var service;
	var infowindow;

	function initialize() {
	  var geocode = document.getElementById('geocode');
	  geocode = geocode.innerHTML;
	  geocode = geocode.split(',');
	  var geolat = geocode[0];
	  var geolong = geocode[1];
	  var pyrmont = new google.maps.LatLng(geolat,geolong);

	  map = new google.maps.Map(document.getElementById('map-canvas'), {
	    center: pyrmont,
	    zoom: 15
	  });

	  var request = {
	    location: pyrmont,
	    types: ['subway_station', 'train_station'],
	    rankBy: google.maps.places.RankBy.DISTANCE
	  };
	  infowindow = new google.maps.InfoWindow();
      var service = new google.maps.places.PlacesService(map);
	  service.nearbySearch(request, callback);
	}

	function callback(results, status) {
	  if (status == google.maps.places.PlacesServiceStatus.OK) {
	    var buttonHtml = '<div class="transportSliderController">';
	    for (var i = 0; i < results.length; i++) {
	      var place = results[i];
	      if(i < 4) {
	      	var slideHtml = '';
	      	if(i == 0) { 
	      		slideHtml = '<div class="transportSliderSlide activ" data-id="slide-' + i + '"><img class="transportPic" src="{{ asset('img/L_M.png') }}" alt="metro">' + place.name + '</div>';
	      		buttonHtml += '<div class="sliderController activ" data-id="slide-' + i + '"></div>';
	      	} else {
	      		slideHtml = '<div class="transportSliderSlide" data-id="slide-' + i + '"><img class="transportPic" src="{{ asset('img/L_M.png') }}" alt="metro">' + place.name + '</div>';
	      		buttonHtml += '<div class="sliderController" data-id="slide-' + i + '"></div>';
	      	}
	      	$('.transportSliderWrapper').append(slideHtml);
	      }
	    }
	    buttonHtml += '</div>';
	    $('.transportSliderWrapper').append(buttonHtml);
	  }
	}

	google.maps.event.addDomListener(window, 'load', initialize);

	$(document).ready(function() {
		$('.transportSliderWrapper').on('click', '.sliderController', function() {
			$('.transportSliderSlide.activ').removeClass('activ');
			$('.sliderController.activ').removeClass('activ');
			$('.sliderController[data-id="' + $(this).attr('data-id') + '"]').addClass('activ');
			$('.transportSliderSlide[data-id="' + $(this).attr('data-id') + '"]').addClass('activ');
		});
	});
</script>
{% endblock %}
