{% extends "::base.html.twig" %}

{% block title %}CacBarBundle:Bar:show{% endblock %}

{% block body %}
<h1>Welcome to the Bar:show page</h1>
<ul>
	<li>{{ bar.name }}</li>
	<li>{{ bar.adress }}</li>
	<li>{{ bar.town }}</li>
	<li>{{ bar.country }}</li>
	<li>{{ bar.zipcode }}</li>
	<li>{{ bar.schedule }}</li>
	<li>{{ bar.access }}</li>
	<li>{{ bar.author }}</li>
	<ul>
		{% for manager in bar.managers %}
			{{ manager }}
		{% endfor %}
	</ul>
	<ul>
		{% for category in bar.categories %}
			{{ category }}
		{% endfor %}
	</ul>
	<li>
		{% for category in bar.categories %}
			{{ category }}
			{% if not loop.last %}
			, 
			{% endif %}
		{% endfor %}
	</li>
	<li>{{ bar.priceRange }}</li>
	<li>{{ bar.dressCode }}</li>
	<li>{{ bar.valet }}</li>
	<li>{{ bar.valetCost }}</li>
	<li>{{ bar.handicappedAccess }}</li>
	<li>{{ bar.patio }}</li>
	<li>{{ bar.smokingArea }}</li>
	<li>{{ bar.breathalyser }}</li>
</ul>

<h2>Editer le bar</h2>
<a href="{{ path('bar_edit', { 'id': bar.id }) }}">Editer</a> 
<h2>Supprimer le bar</h2>
{{ form(delete_form) }}
{% endblock %}
