{% extends "::base.html.twig" %}

{% block title %}Cartes{% endblock %}

{% block body %}
<h1>Cartes</h1>
	{% for carte in cartes %}
		<div class="container-carte">
			<p>{{carte.id}}</p>
			<p>{{carte.bar.name}}</p>
			<img src="{{ asset(('uploads/carte-bar/' ~ carte.path)) }}" alt="carte">
			<button class="validate" data-carte="{{carte.id}}" data-user="{{carte.bar.author.id}}">valider</button>
			<button class="unvalidate" data-carte="{{carte.id}}" data-user="{{carte.bar.author.id}}">unvalider</button>
		</div>
		<hr>
	{% endfor %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
	<script type="text/javascript">
	    $( "button.validate" ).on( "click", function() {
	    	var id = $(this).data('carte');
	    	var userId = $(this).data('user');
	        $.ajax( {
	            type: 'GET',
	            url: Routing.generate('validate_the_carte', { 'id': id, user : userId }),
	            success: function (data) {
	            	alert(data);
	            }
	        } );
	    });
	    $( "button.unvalidate" ).on( "click", function() {
	    	var id = $(this).data('carte');
	    	var userId = $(this).data('user');
	        $.ajax( {
	            type: 'GET',
	            url: Routing.generate('unvalidate_the_carte', { 'id': id, user : userId }),
	            success: function (data) {
	            	alert(data);
	            }
	        } );
	    });
	</script>    
{% endblock %}
