{% extends "::base.html.twig" %}

{% block title %}Cartes{% endblock %}

{% block body %}
<h1>Cartes</h1>
	{% for carte in cartes %}
		<div class="container-carte">
			<p>{{carte.id}}</p>
			<p>{{carte.bar.name}}</p>
			<img src="{{ asset(('uploads/carte-bar/' ~ carte.path)) }}" alt="carte">
			<button data-carte="{{carte.id}}">valider</button>
		</div>
		<hr>
	{% endfor %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
	<script type="text/javascript">
	    $( "button" ).on( "click", function() {
	    	var id = $(this).data('carte');
	        $.ajax( {
	            type: 'GET',
	            url: Routing.generate('validate_the_carte', { 'id': id }),
	            success: function (data) {
	            	alert('Carte validée');
	            }
	        } );
	    });
	</script>    
{% endblock %}
