{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Barman creation</h1>

    {% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('barman_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register col-xs-12 col-sm-12 col-md-12">

	<div class="inscription center col-xs-6 col-sm-6 col-md-6">
		{{ form_label(form.username) }}
		<br>
		{{ form_errors(form.username) }}
		{{ form_widget(form.username) }}
		<br>
		{{ form_label(form.email.first) }}
		<br>
		{{ form_errors(form.email.first) }}
		{{ form_widget(form.email.first) }}
		<br>
		<br>
		{{ form_label(form.email.second) }}
		<br>
		{{ form_errors(form.email.second) }}
		{{ form_widget(form.email.second) }}
		
	</div>
	<div class="inscription center col-xs-12 col-sm-12 col-md-12">
		{{ form_label(form.plainPassword.first) }}
		<br>
		{{ form_errors(form.plainPassword.first) }}
		{{ form_widget(form.plainPassword.first) }}
		<br>
		<br>
		{{ form_label(form.plainPassword.second) }}
		<br>
		{{ form_errors(form.plainPassword.second) }}
		{{ form_widget(form.plainPassword.second) }}

		{{ form_widget(form._token) }}
		<br>
        <input type="submit" value="Valider">
    </div>

    
</form>

{% endblock %}
