

{% set break = false %}
{% for promo in promoOffertes if not break %}
    
    {% if promo.createdAt | date("d/m/Y") >= 'now' | date("d/m/Y") %}
    	<h2>A venir</h2>
        {% set break = true %}
    {% endif %}
{% endfor %}

<div class="boxsReservation">

	{% for promo in promoOffertes %}	

		{% if promo.createdAt | date("d/m/Y") >= 'now' | date("d/m/Y") %}
			
				<div class="boxReservation">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-3 center">
							<p>
								{{ promo.createdAt | date("d") }}

								{% set months = {'1': 'janvier', '2': 'février', '3': 'mars', '4': 'avril', '5': 'mai', '6': 'juin', '7': 'juillet', '8': 'août', '9': 'septembre', '10': 'octobre', '11': 'novembre', '12': 'décembre'} %}

								    {% for j in 1..12 %}

										{% if promo.createdAt |date('m') == j %}
											{{ months[j] }}
										{% endif %}
									{% endfor %}

								{{ promo.createdAt | date("Y") }}
							</p>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3 center">
							<p><b>{{promo.bar.name}}</b></p>
							
							<div class="imgBarReservation" style="background-image : url({{ asset('uploads/bar/'~promo.bar.path) }});">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="contentPromoUser">
								{% if promo.bar.getPromotionByDay(today).getOption('value').value !=0 %}
									<p class="promoProfileUser">-{{ promo.bar.getPromotionByDay(today).getOption('value').value }}%</p>
								{% else %}
									<p class="padding20"></p>
								{% endif %}

								{% if promo.bar.getHappyHourByDay(today).getOption('value').value != 0 %}
									<p class="happyhProfileUser">
										<span>-{{promo.bar.getHappyHourByDay(today).getOption('value').value}}%</span> de {{ promo.bar.getHappyHourByDay(today).getOption('beginning').value }}h à {{ promo.bar.getHappyHourByDay(today).getOption('ending').value }}h</p>
								{% endif %}
							</div>

							
							<div class="ConditionProfileUser">
								<h3>Condition</h3>

								<div class="contentConditionProfileUser">
									{% if promo.bar.getPromotionByDay(today).getOption('restriction').value or promo.bar.getHappyHourByDay(today).getOption('restriction').value%}
										<p>{{ promo.bar.getPromotionByDay(today).getOption('restriction').value }}</p> 
										<p>{{ promo.bar.getHappyHourByDay(today).getOption('restriction').value }}</p>
									{% else %}
										<p>Pas de condition</p>
									{% endif %}

								</div>
							</div>
							
						</div>
						<div class="col-xs-12 col-sm-12 col-md-2 moreReservationUser">
							<p><a href="{{ path('bar_show', { id : promo.bar.id }) }}">Voir la fiche du bar</a></p>
							<p class="delete-promo" data-promo-id="{{promo.id}}">Annuler</p>
						</div>
					</div>
				</div>


		{% endif %}

		
	{% endfor %}

</div> 

{% set breakpast = false %}
{% for promo in promoOffertes if not breakpast %}
	 {% if promo.createdAt | date("d/m/Y") <= 'now' | date("d/m/Y") %}
    	<h2>Évènements passés</h2>
    	{% set breakpast = true %}
    {% endif %}	
{% endfor %}


<div class="boxsReservation">

	{% for promo in promoOffertes %}	

		{% if promo.createdAt | date("d/m/Y") <= 'now' | date("d/m/Y") %}
			
				
			<div class="boxReservation">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3 center">
						<p class="dateForPoints">
							{{ promo.createdAt | date("d") }}

							{% set months = {'1': 'janvier', '2': 'février', '3': 'mars', '4': 'avril', '5': 'mai', '6': 'juin', '7': 'juillet', '8': 'août', '9': 'septembre', '10': 'octobre', '11': 'novembre', '12': 'décembre'} %}

							    {% for j in 1..12 %}

									{% if promo.createdAt |date('m') == j %}
										{{ months[j] }}
									{% endif %}
								{% endfor %}

							{{ promo.createdAt | date("Y") }}
						</p>

						<p class="addPoints">5 pts</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 center">
						<p><b>{{promo.bar.name}}</b></p>
						<a href="{{ path('bar_show', { id : promo.bar.id }) }}">
							<div class="imgBarReservation" style="background-image : url({{ asset('uploads/bar/'~promo.bar.path) }});">
							</div>
						</a>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="contentPromoUser">


							<!-- <p class="promoProfileUser">-{{ promo.bar.getPromotionByDay('Lundi').getOption('value').value }}%</p>
							<p class="happyhProfileUser"><span>-50%</span> de 14h à 19h</p> -->
						</div>

						<div class="donnezAvisReservation">
							<h3>Donnez votre avis</h3>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-2 afterReservationUser">
						<a class="parrainage" href="#"><p>Parrainer un ami</p></a>
					</div>
				</div>
			</div>

		{% endif %}

		
	{% endfor %}

</div> 




{% set ifReservation = false %}

{% for promo in promoOffertes if not ifReservation %}
    	{% set ifReservation = true %}
{% endfor %}

{% if not ifReservation %}
	<p class="center">Vous n'avez pas de réservation.</p>
{% endif %}