{% extends '::base.html.twig' %}

{% block body %}

		<div class="welcome">
			<div class="patern">
			</div>
			<div class="centerWelcome">
			 	<h1>Rechercher un bar</h1>
			 	<div id="homeSearch">
			 		<input type="text" id="searchInput" data-target="{{ path('bars_search') }}">
			 		<div id="searchResults" class="noSearch">
			 		</div>
			 	</div>
			</div>
		</div>

		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="blocksWelcome">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4">
							<a href="{{ path('bars') }}"><div class="blockWelcome petitsPrix">
								<div class="hoverBlockWelcome"></div>
								<p>Les petits prix</p>
							</div></a>
						</div>

						<div class="col-xs-12 col-sm-4 col-md-4">
							<a href="{{ path('map') }}"><div class="blockWelcome carteHome">
								<div class="hoverBlockWelcome"></div>
								<p>Sur la carte</p>
							</div></a>
						</div>

						<div class="col-xs-12 col-sm-4 col-md-4">
							<a href="{{ path('bars') }}"><div class="blockWelcome plusReserve">
								<div class="hoverBlockWelcome"></div>
								<p>Les plus réservés</p>
							</div></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="explicationWelcome">
			<p class="brand">Click & cheers</p>
			<span class="brandBref">En bref</span>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="blocksWelcome explicationsBlock">
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="blockExplication">
									<h2>Découvrir</h2>
									<img src="{{asset('img/decouvreHome.svg')}}" alt="">
									<p>Découvrez de nouvelles adresses de nouveaux lieux, de nouveaux bars. </p>
								</div>
							</div>

							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="blockExplication">
									<h2>Economiser</h2>
									<img src="{{asset('img/economiseHome.svg')}}" alt="">
									<p>Nous négocions pour vous les meilleurs tarifs. Des promotions jusqu’à - 50 % dans vos adresses préférées</p>
								</div>
							</div>

							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="blockExplication">
									<h2>Parrainer</h2>
									<img src="{{asset('img/parrainerHome.svg')}}" alt="">
									<p>Parrainez vos amis dans les établissements que vous avez découvert grâce à click and cheers. </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
	var xhr = null,
        globalTimeout = null,
        $resultBody = $("#searchResults"),
		$searchInput = $("#searchInput"),
		searchPath = $searchInput.attr('data-target');

	$searchInput.keyup( function(event){

        if (globalTimeout != null)
            clearTimeout(globalTimeout);

        globalTimeout = setTimeout(function() {  
            var search = $searchInput.val();

            search = search.replace(/<\/?[^>]+>/gi, '');
            globalTimeout = null;

            if (search.length >= 2) {
                if (xhr != null) //abort last request if not over
                    xhr.abort();

                xhr = $.ajax({
                    url: searchPath,
                    dataType: "json",
                    method: "post",
                    data: {search: search},
                    success: function( data ) {
                        var strToAppend = '<div class="results">';
                        var count = 0;
                        $.each(data, function (key, val) {
                            if(count < 3) {
                                strToAppend += '<div class="singleResult" data-target="' + Routing.generate('bar_show', { id: val.id }) + '">'
                                        + '<div class="searchInfos">'
                                        + '<div class="searchName">' + val.name + '</div>'
                                        + '<div class="searchAdress">' + val.adress + ' ' + val.zipcode + ' ' + val.town + '</div>';

                                if(val.promotions[0].options[0].value != '') {
                                    strToAppend += '<div class="searchPromo"><span>- ' + val.promotions[0].options[0].value + ' %</span>';
                                    if(val.promotions[1].options[0].value != '') strToAppend += ' | <div class="searchHH"></div>';
                                    strToAppend += '</div>';
                                }


                                strToAppend += '</div>'
                                            + '<a class="searchLink" href="' + Routing.generate('bar_show', { id: val.id }) + '">En voir plus</a>'
                                            + '<div class="searchSeparator"></div>'
                                            + '</div>';
                            }
                            count++;
                        });
                        strToAppend += '</div>';
                        if(count > 3) {
                            strToAppend += '<div id="moreResults" data-search="' + search + '">Voir tous les résultats (' + count +')</div>';
                        }

                        $resultBody.empty().append(strToAppend).removeClass('noSearch');

                        if (data == '')
                            $resultBody.append('<div class="singleResult">Aucun résultat pour "' + search + '"</div>');
                    }
                });
            } else if(search.length == 0) {
                $resultBody.empty().addClass('noSearch');
            }
        }, 400);  
    });
    $('#searchResults').on('click', '.singleResult', function() {
        var link = $(this).attr('data-target');
        window.location.href = link;
    });
    $('#homeSearch').on('click', function(e) {
        e.stopPropagation();
        $('#searchResults').removeClass('hidden');
    });
    $(document).click(function(){  
        $('#searchResults').addClass('hidden');
    });
	</script>
{% endblock %}