{% extends '::base.html.twig' %}

{% block body %}
	<div class="mainContaineur">
		<div class="topPage col-xs-12 col-sm-12 col-md-12 noPadding">
		</div>

		<div class="contentPage col-xs-6 col-sm-6 col-md-6">
			<h2>Vos bars préférés</h2>
			<div class="vignetteBar col-xs-4 col-sm-4 col-md-4 noPadding">
				<img src="{{asset('img/boumboum.png')}}" alt="labibli">
			</div>
			<div class="vignetteBar col-xs-4 col-sm-4 col-md-4 noPadding">
				<img src="{{asset('img/bebert.png')}}" alt="labibli">
			</div>
			<div class="vignetteBar col-xs-4 col-sm-4 col-md-4 noPadding">
				<img src="{{asset('img/labibli.png')}}" alt="labibli">
			</div>



			<h2>Les meilleures promotions</h2>
			<div class="vignetteBar col-xs-4 col-sm-4 col-md-4 noPadding">
				<img src="{{asset('img/boumboum.png')}}" alt="labibli">
			</div>
			<div class="vignetteBar col-xs-4 col-sm-4 col-md-4 noPadding">
				<img src="{{asset('img/bebert.png')}}" alt="labibli">
			</div>
			<div class="vignetteBar col-xs-4 col-sm-4 col-md-4 noPadding">
				<img src="{{asset('img/labibli.png')}}" alt="labibli">
			</div>
		</div>

		<div class="contentPage col-xs-6 col-sm-6 col-md-6 jaloux">

			<div class="jaloux">
				<img src="{{asset('img/jaloux.png')}}" alt="labibli">
				<p>A chaque fois que vous allez boire un verre dans un bar partenaire click-and cheers vous obtenez un mot de avec votre addition</p>
				<p>Ce mot de passe vous permet d'offrir un verre gratuitement à un ami de votre choix. Attention de ne pas faire de jaloux...</p>
			</div>
			
		</div>





		


		<div class="clear"></div>

	</div>
	

{% endblock %}