{% extends '::base.html.twig' %}

{% block body %}
	<div class="mainContaineur">
		<div class="topPage col-xs-12 col-sm-12 col-md-12 noPadding">
		</div>

		<div class="contentPage col-xs-12 col-sm-6 col-md-6 bar">
			<h2>Vos bars préférés</h2>
			<div class="vignetteBar col-xs-4 col-sm-4 col-md-4 noPadding">
				<img src="{{asset('img/boumboum.png')}}" alt="labibli">
				<div class="shadowHover">
					<h3>BOUM BOUM</h3>
					<p class="prix">€<span>€</span><span>€</span></p>
					<p class="reduc">%</p>

				</div>
			</div>
			<div class="vignetteBar col-xs-4 col-sm-4 col-md-4 noPadding">
				<img src="{{asset('img/bebert.png')}}" alt="labibli">
				<div class="shadowHover">
					<h3>CHEZ BEBERT</h3>
					<p class="prix">€€<span>€</span></p>
					<p class="reduc"><span>%</span></p>
				</div>
			</div>
			<div class="vignetteBar col-xs-4 col-sm-4 col-md-4 noPadding">
				<img src="{{asset('img/labibli.png')}}" alt="labibli">
				<div class="shadowHover">
					<h3>LA BIBLIOTHEQUE</h3>
					<p class="prix">€€€</p>
					<p class="reduc">%</p>
				</div>
			</div>



			<h2>Les meilleures promotions</h2>
			<div class="vignetteBar col-xs-4 col-sm-4 col-md-4 noPadding">
				<img src="{{asset('img/boumboum.png')}}" alt="labibli">
				<div class="shadowHover">
					<h3>BOUM BOUM</h3>
					<p class="pourcentage">-40%</p>

				</div>
			</div>
			<div class="vignetteBar col-xs-4 col-sm-4 col-md-4 noPadding">
				<img src="{{asset('img/bebert.png')}}" alt="labibli">
				<div class="shadowHover">
					<h3>CHEZ BEBERT</h3>
					<p class="pourcentage">-30%</p>
				</div>
			</div>
			<div class="vignetteBar col-xs-4 col-sm-4 col-md-4 noPadding">
				<img src="{{asset('img/labibli.png')}}" alt="labibli">
				<div class="shadowHover">
					<h3>LA BIBLIOTHEQUE</h3>
					<p class="pourcentage">-50%</p>
				</div>
			</div>
		</div>

		<div class="contentPage col-xs-12 col-sm-6 col-md-6">

			<div class="jaloux">
				<img src="{{asset('img/jaloux.png')}}" alt="labibli">
				<p>A chaque fois que vous allez boire un verre dans un bar partenaire click-and cheers vous obtenez un mot de avec votre addition</p>
				<p>Ce mot de passe vous permet d'offrir un verre gratuitement à un ami de votre choix. Attention de ne pas faire de jaloux...</p>
			</div>
			
		</div>

		<div class="clear"></div>

		<div class="contentPage col-xs-12 col-sm-6 col-md-6">

			<div class="jaloux">
				<img src="{{asset('img/chut.png')}}" alt="labibli">
				<p>C'est pas parce que l'on vous offre des verres et qu'on vous fait profiter de promos de folies</p>
				<p>que l'on vous met au courant de tout les bons plans qu'on vous gâte toute l'année qu'il faut se vanter</p>
			</div>
			
		</div>

		<div class="contentPage col-xs-12 col-sm-6 col-md-6 bar">
			<h2>Les concepts</h2>
			<div class="vignetteBar col-xs-4 col-sm-4 col-md-4 noPadding">
				<img src="{{asset('img/boumboum.png')}}" alt="labibli">
				<div class="shadowHover">
					<h3>BOUM BOUM</h3>
				</div>
			</div>
			<div class="vignetteBar col-xs-4 col-sm-4 col-md-4 noPadding">
				<img src="{{asset('img/bebert.png')}}" alt="labibli">
				<div class="shadowHover">
					<h3>CHEZ BEBERT</h3>
				</div>
			</div>
			<div class="vignetteBar col-xs-4 col-sm-4 col-md-4 noPadding">
				<img src="{{asset('img/labibli.png')}}" alt="labibli">
				<div class="shadowHover">
					<h3>LA BIBLIOTHEQUE</h3>
				</div>
			</div>



			<h2>Nos coup de coeur</h2>
			<div class="vignetteBar col-xs-4 col-sm-4 col-md-4 noPadding">
				<img src="{{asset('img/boumboum.png')}}" alt="labibli">
				<div class="shadowHover">
					<h3>BOUM BOUM</h3>
					<span class="heart glyphicon glyphicon-heart"></span>
				</div>
			</div>
			<div class="vignetteBar col-xs-4 col-sm-4 col-md-4 noPadding">
				<img src="{{asset('img/bebert.png')}}" alt="labibli">
				<div class="shadowHover">
					<h3>CHEZ BEBERT</h3>
					<span class="heart glyphicon glyphicon-heart"></span>
				</div>
			</div>
			<div class="vignetteBar col-xs-4 col-sm-4 col-md-4 noPadding">
				<img src="{{asset('img/labibli.png')}}" alt="labibli">
				<div class="shadowHover">
					<h3>LA BIBLIOTHEQUE</h3>
					<span class="heart glyphicon glyphicon-heart"></span>
				</div>
			</div>
		</div>

		


		<div class="clear"></div>

	</div>
	

{% endblock %}