{% extends '::base.html.twig' %}

{% block body %}

		<div class="welcome">
			<div class="centerWelcome">
			 	<h1>Rechercher un bar</h1>
			 	<div class="homeSearch">
			 		<input type="text" id="searchInput" data-target="{{ path('ajax_search') }}">
			 		<div id="searchResults">
			 		</div>
			 	</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="blocksWelcome">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="blockWelcome petitsPrix">
								<p>Les petits prix</p>
							</div>
						</div>

						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="blockWelcome carteHome">
								<p>Sur la carte</p>
							</div>
						</div>

						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="blockWelcome plusReserve">
								<p>Les plus réservés</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="explicationWelcome">
			<p class="brand">Click & cheers</p>
			<span class="brandBref">En bref</span>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="blocksWelcome explicationsBlock">
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="blockExplication">
									<h2>Découvrir</h2>
									<img src="{{asset('img/decouvreHome.svg')}}" alt="">
									<p>Découvrez de nouvelles adresses de nouveaux lieux, de nouveaux bars. </p>
								</div>
							</div>

							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="blockExplication">
									<h2>Economiser</h2>
									<img src="{{asset('img/economiseHome.svg')}}" alt="">
									<p>Nous négocions pour vous les meilleurs tarifs. Des promotions jusqu’à - 50 % dans vos adresses préférées</p>
								</div>
							</div>

							<div class="col-xs-12 col-sm-4 col-md-4">
								<div class="blockExplication">
									<h2>Parrainer</h2>
									<img src="{{asset('img/parrainerHome.svg')}}" alt="">
									<p>Parrainez vos amis dans les établissements que vous avez découvert grâce à click and cheers. </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
	var xhr = null,
        globalTimeout = null,
        $resultBody = $("#searchResults"),
		$searchInput = $("#searchInput"),
		searchPath = $searchInput.attr('data-target');

	$searchInput.keyup( function(event){

        if (globalTimeout != null)
            clearTimeout(globalTimeout);

        globalTimeout = setTimeout(function() {  
            var search = $searchInput.val();

            search = search.replace(/<\/?[^>]+>/gi, '');
            globalTimeout = null;

            if (search.length >= 2) {
                if (xhr != null) //abort last request if not over
                    xhr.abort();

                xhr = $.ajax({
                    url: searchPath,
                    dataType: "json",
                    method: "post",
                    data: {search: search},
                    success: function( data ) {
                        var strToAppend = '';

                        $.each(data, function (key, val) {
                            strToAppend += '<div class="singleResult">'
                            			+ 'ID : ' + val.id + ', '
                            			+ 'Name : ' + val.name + ', '
                            			+ 'Description : ' + val.description + ', '
                            			+ 'Adresse : ' + val.adress + ', '
                            			+ 'Geocode : ' + val.geocode + ', '
                            			+ 'Ville : ' + val.town + ', '
                            			+ 'Code postal : ' + val.zipcode + ''
                            			+ 'Promotion du jour : ' + val.promotions[0].options[0].value + ''
                            			+ 'Happy-hour du jour : ' + val.promotions[1].options[0].value + ''
                            			+ '</div>';
                        });

                        $resultBody.empty().append(strToAppend);

                        if (data == '')
                            $resultBody.append('<div class="singleResult">Aucun résultat pour "' + search + '"</div>');
                    }
                });
            }
        }, 400);  
    });
	</script>
{% endblock %}