{% extends "::base.html.twig" %}

{% block title %}CacBarBundle:Bar:edit_promotion{% endblock %}

{% block body %}


<div class="file_button_container">

	

        <div class="row">
             <div class="col-xs-12 col-sm-12 col-md-12">

                <div class="ongletNewBar col-xs-2 col-sm-2 col-md-2 noPadding">
                    <div class="progressionCreation">
                        
                        <div class="progresseBarContent">
                            <div class="progresseBar Etape3Creation">
                                <p>75%</p>
                            </div>
                        </div>
                    </div>
                    <div class="ongletCreation" id="etablissement">
                        <p>Votre établissement</p>
                    </div>
                	<a href="javascript:history.back()">
	                    <div class="ongletCreation" id="photo">
	                        <p>Vos photos</p>
	                    </div>
	                </a>
                    <div class="ongletCreation selectedOngletCreation" id="promo">
                        <p>Vos offres</p>
                    </div>
                    <div class="ongletCreation" id="formule">
                        <p>Votre formule</p>
                    </div>
                </div>
                <div class="contentNewBar col-xs-10 col-sm-10 col-md-10 noPadding">
                    <div class="nameNewBar">
                        <h1>{{ bar.name}}</h1>
                    </div>

                    <div class="formPromo">
						{{ form_start(form) }}
							{{ form_errors(form.promotion) }}
							{{ form_widget(form.promotion) }}
		                    <div class="CreationBar col-xs-12 col-sm-12 col-md-12 noPadding">
		                    	<div class="servicesNewBar col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
		                    		
		                    		<p>Vos offres</p>
		                    		<div class="daysOngletNewBar">
		                    			{% set day = {
											'1': 'Lundi', 
											'2': 'Mardi', 
											'3': 'Mercredi', 
											'4': 'Jeudi', 
											'5': 'Vendredi', 
											'6': 'Samedi', 
											'7': 'Dimanche'
										} %}
										{% for i in 1..7 %}
											<div class="dayOngletNewBar" data-dayselected='{{i}}'>
												{{ day[i] }}
											</div>
										{% endfor %}
		                    		</div>
		                    	
				                    
											<div class="promotions center col-xs-12 col-sm-12 col-md-12">

													{% set days = {
														'1': 'Lundi', 
														'2': 'Mardi', 
														'3': 'Mercredi', 
														'4': 'Jeudi', 
														'5': 'Vendredi', 
														'6': 'Samedi', 
														'7': 'Dimanche'
													} %}

													{% set params = {
														'1': {
															'when':'beginning', 
															'word': 'de'
														}, 
														'2': {
															'when':'ending', 
															'word': 'à'
														}
													} %}
													{% for j in 1..7 %}

														<div class="promoHappyHour">

															<div class="etapePromotion col-xs-12 col-sm-6 col-md-6">
																<p>Promo du {{ days[j] }}</p>
																<div class="row">

																	<div class="center valuePromo">
																		<select class="promotion-value-picker" data-day="{{ days[j] }}">
																			<option>Valeur</option>
																			{% for i in 2..6 %}
																			    <option value="{{i}}0">{{i}}0%</option>
																			{% endfor %}
																		</select>
																	</div>
																</div>
																<div class="row">

																	<div class="center nbpromo col-xs-12 col-sm-12 col-md-12 noPadding">
																		<p>Nombre d'offres disponibles</p>
																		<select class="promotion-qt-picker" data-day="{{ days[j] }}">
																			<option value="Illimité">illimité</option>
																			{% set nbVerrePromo = {
																				'1': '10', 
																				'2': '20', 
																				'3': '30', 
																				'4': '40', 
																				'5': '50',
																				'6': '100'
																			} %}
																			{% for k in 1..6 %}
																			<option value="{{nbVerrePromo[k]}}">
																				{{nbVerrePromo[k]}}
																			</option>
																			{% endfor %}
																		</select>
																	</div>
																</div>
															</div>
															<div class="happyHours center col-xs-12 col-sm-6 col-md-6">
																<p>HAPPY HOURS</p>
																<div class="row">
																	<div class="center valuePromo">
																		<select class="hh-value-picker" data-day="{{ days[j] }}">
																			<option>Valeur</option>
																			{% for i in 3..7 %}
																			    <option value="{{i}}0">{{i}}0%</option>
																			{% endfor %}
																		</select>
																	</div>
																</div>
																<div class="row">
																	<div class="center nbpromo happyhoursTime col-xs-12 col-sm-12 col-md-12 noPadding">
																		{% for k in 1..2 %}
																				<p>{{ params[k]['word'] }}</p>

																				<select class="hh-picker" data-day="{{ days[j] }}" data-when="{{ params[k]['when'] }}">
																					<option></option>
																					{% for i in 0..23 %}
																					    <option value="{{i}}">{{i}}h</option>
																					{% endfor %}
																				</select>

																		{% endfor %}
																	</div>
																</div>
															</div>
														</div>
													{% endfor %}
													<div class="clear"></div>

											</div>
										
									  
								</div>                
								<div class="servicesNewBar col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
		                    		
		                    		<p>Programme de fidélité</p>
		                    		<div class="programmeFidelite">
		                    			<p>Adhérer au programme de fidélité de click and cheers :</p>
		                    			<br>
		                    			<span>En savoir plus</span>
		                    			<div class="programmeFidelitePlus closeProgrammeFidelitePlus">
		                    				<span>100% Gratuite, cette solution vous permet d’attirer de nouveaux clients</span>
		                    				<br>
		                    				<p>A chaque réservation les internautes gagnent des points. Ils peuvent les transformer en verre gratuit
											Ces verres ne peuvent être consommé que dans des établissements jamais réservé par le déteneur
											des points. Autrement dit, c’est l’occasion pour lui de découvrir de nouveaux bars.<br> 
											En participant à ce programme, vous serez un des nouveaux bar qu’il pourra découvrir.<br>
											Vous vous engeager en retour à offrir un verre à votre nouveaux clients.<br>
											C’est gagnant gagnant. Il gagne une conso, et vous  un nouveaux client qui ne vous connaissait pas.
											Super non ? </p>
		                    			</div>
		                    		</div>
		                    		
		                    	</div>
		                    </div>
	                    {{ form_end(form) }}
	                </div>
                </div>
            </div>
        </div>
</div>

	<div class="clear"></div>
	{% if plan == "free" %}
		<a href="{{ path("bars_abonnement", {'id': id }) }}">Passer cette étape</a>
	{% else %}
		<a href="{{ path("bars_offer", {'id': id }) }}">Passer cette étape</a>
	{% endif %}

{% endblock %}
