{% extends "::base.html.twig" %}

{% block title %}CacBarBundle:Promotion:show{% endblock %}

{% block body %}
<div class="mainContaineur">
	{% for day, value in promotions %}
		<ul>
			<li>{{ day }}</li>
			<ul><li>Happy Hour</li>
				<ul>
					<li>Begins : {{ value['happy-hour']['beginning'] }}</li>
					<li>Ends : {{ value['happy-hour']['ending'] }}</li>
					<li>Value : {{ value['happy-hour']['value'] }}%</li>
					<li>Condition : {{ value['happy-hour']['condition'] }}</li>
				</ul>
				<li>Promotion C&C</li>
				<ul>
					<li>Quantité : {{ value['promotion']['quantity'] }}</li>
					<li>Value : {{ value['promotion']['value'] }}%</li>
					<li>Condition : {{ value['promotion']['condition'] }}</li>
				</ul>
			</ul>
		</ul>
	{% endfor %}
</div>
{% endblock %}
