{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register col-xs-12 col-sm-12 col-md-12">
	
	<div class="inscription center col-xs-6 col-sm-6 col-md-6">
		{{ form_errors(form.gender) }}
		{{ form_widget(form.gender) }}
		<br>
	    {{ form_label(form.name) }}
	    <br>
		{{ form_errors(form.name) }}
		{{ form_widget(form.name) }}
		<br>
		<br>
		{{ form_label(form.firstname) }}
		<br>
		{{ form_errors(form.firstname) }}
		{{ form_widget(form.firstname) }}
		<br>
		<br>
		<br>
		<br>
		<br>
		{{ form_label(form.mobile_phone) }}
		<br>
		{{ form_errors(form.mobile_phone) }}
		{{ form_widget(form.mobile_phone) }}
		<br>
		<br>
		{{ form_label(form.fix_phone) }}
		<br>
		{{ form_errors(form.fix_phone) }}
		{{ form_widget(form.fix_phone) }}
		
	</div>

	<div class="inscription center col-xs-6 col-sm-6 col-md-6">
		{# form_label(form.username) }}
		<br>
		{{ form_errors(form.username) }}
		{{ form_widget(form.username) #}
		<br>
		<br>
		<br>
		{{ form_label(form.company) }}
		<br>
		{{ form_errors(form.company) }}
		{{ form_widget(form.company) }}
		<br>
		<br>
		{{ form_label(form.siret) }}
		<br>
		{{ form_errors(form.siret) }}
		{{ form_widget(form.siret) }}
		<br>
		<br>
		<br>
		{{ form_label(form.email.first) }}
		<br>
		{{ form_errors(form.email.first) }}
		{{ form_widget(form.email.first) }}
		<br>
		<br>
		{{ form_label(form.email.second) }}
		<br>
		{{ form_errors(form.email.second) }}
		{{ form_widget(form.email.second) }}
		
	</div>
	<div class="inscription center col-xs-12 col-sm-12 col-md-12">
		{{ form_label(form.plainPassword.first) }}
		<br>
		{{ form_errors(form.plainPassword.first) }}
		{{ form_widget(form.plainPassword.first) }}
		<br>
		<br>
		{{ form_label(form.plainPassword.second) }}
		<br>
		{{ form_errors(form.plainPassword.second) }}
		{{ form_widget(form.plainPassword.second) }}

		{{ form_widget(form._token) }}
		<br>
        <input type="submit" value="VALIDER">
    </div>

    
</form>
