{% extends "::baseNewBar.html.twig" %}

{% block title %}CacBarBundle:Bar:new{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/clockpicker.css')}}">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  <!-- jQuery is used only for this example; it isn't required to use Stripe -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type="text/javascript">
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_test_9vd1WLvO6NMijZRzXgUIYX1d');

    var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and re-submit
        $form.get(0).submit();
      }
    };

  </script>
{% endblock %}
{% block body %}

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="ongletNewBar col-xs-12 col-sm-2 col-md-2 noPadding">
			<div class="progressionCreation">
				
				<div class="progresseBarContent">
					<div class="progresseBar Etape4Creation">
						<p>99%</p>
					</div>
				</div>
			</div>
			<div class="col-xs-4 col-sm-12 col-md-12 noPadding">
				<div class="ongletCreation" id="etablissement">
					<p>Votre établissement</p>
				</div>
			</div>
			<div class="ongletCreation" id="photo">
                <p>Vos photos</p>
            </div>
			<a href="javascript:history.back()">
				<div class="col-xs-4 col-sm-12 col-md-12 noPadding">
					<div class="ongletCreation" id="promo">
						<p>Vos offres</p>
					</div>
				</div>
			</a>
			<div class="col-xs-4 col-sm-12 col-md-12 noPadding">
				<div class="ongletCreation selectedOngletCreation" id="formule">
					<p>Votre formule</p>
				</div>
			</div>
		</div>
		<div class="contentNewBar col-xs-12 col-sm-10 col-md-10 noPadding">
			<div class="nameNewBar">
				<h1>{{ bar.name}}</h1>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
					<div class="containerAbonnement">
						<div class="typeFormule">
							<p>Formule 1 : Shooter</p>
						</div>
						<div class="containerService">
							<div class="row">
								<div class="col-xs-6 col-sm-4 col-md-3">
									<div class="service">	
										<p>Vos photos</p>
										<img src="{{asset('img/pictoAbonnement/photo.png')}}" alt="">
									</div>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-3">
									<div class="service">	
										<p>Vos horaires</p>
										<img src="{{asset('img/pictoAbonnement/horaire.png')}}" alt="">
									</div>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-3">
									<div class="service">	
										<p>Vos services</p>
										<img src="{{asset('img/pictoAbonnement/service.png')}}" alt="">
									</div>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-3">
									<div class="service">	
										<p>Votre adresse</p>
										<img src="{{asset('img/pictoAbonnement/adresse.png')}}" alt="">
									</div>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-3">
									<div class="service">	
										<p>Système unique de parrainage</p>
										<img src="{{asset('img/pictoAbonnement/parrainage.png')}}" alt="">
									</div>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-3">
									<div class="service">	
										<p>Plan</p>
										<img src="{{asset('img/pictoAbonnement/plan.png')}}" alt="">
									</div>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-3">
									<div class="service">	
										<p>Vos offres</p>
										<img src="{{asset('img/pictoAbonnement/offre.png')}}" alt="">
									</div>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-3">
									<div class="service">	
										<p>Transports<br>en commun</p>
										<img src="{{asset('img/pictoAbonnement/transport.png')}}" alt="">
									</div>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-3">
									<div class="service">	
										<p>Un back office</p>
										<img src="{{asset('img/pictoAbonnement/backOffice.png')}}" alt="">
									</div>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-3">
									<div class="service">	
										<p>Assistance gratuite</p>
										<img src="{{asset('img/pictoAbonnement/assistance.png')}}" alt="">
									</div>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-3">
									<div class="service">	
										<p>Votre ambiance</p>
										<img src="{{asset('img/pictoAbonnement/ambiance.png')}}" alt="">
									</div>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-3">
									<div class="service">	
										<p>Satistiques</p>
										<img src="{{asset('img/pictoAbonnement/statistique.png')}}" alt="">
									</div>
								</div>
							</div>
						</div>
						<div class="myAbonnement">
							<h2>Abonnement mensuel : <span>Gratuit</span></h2>
							<p>Comission : 1€ par retour client validé</p>

							<button class="freemium"> Souscrire </button>
						</div>
						<div id="append-payment-free"></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
					<div class="containerAbonnement">
						<div class="typeFormule">
							<p>Formule 2 : Cosmopolitain</p>
						</div>
						<div class="containerService">
							<div class="row">
								<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
									<h3 class="serviceCosmo">Tout les services de la formule Shooter</h3>
									<h2 class="serviceCosmo">+</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-4">
									<div class="service">	
										<p>Gestion multi-comptes</p>
										<img src="{{asset('img/pictoAbonnement/backOffice.png')}}" alt="">
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4">
									<div class="service">	
										<p>Gestion multi-utilisateurs</p>
										<img src="{{asset('img/pictoAbonnement/multiUser.png')}}" alt="">
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4">
									<div class="service">	
										<p>Photos de votre établissement</p>
										<img src="{{asset('img/pictoAbonnement/photo.png')}}" alt="">
									</div>
								</div>
							</div>
						</div>
						<div class="myAbonnement">
							<h2>Abonnement mensuel : <span>49€</span></h2>
							<p>Comission : 1€ par retour client validé</p>

							<button class="premium"> Souscrire </button>
						</div>
						<div id="append-payment-premium"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
      
	<script type="text/javascript">
		$( "button.freemium" ).on( "click", function() {
	        $.ajax( {
	            type: 'GET',
	            url: Routing.generate('free-pay'),
	            success: function (data) {
	            	$('#append-payment-free').html(data);
	            }
	        } );
	    });

	    $( "button.premium" ).on( "click", function() {
	        $.ajax( {
	            type: 'GET',
	            url: Routing.generate('premium-pay'),
	            success: function (data) {
	            	$('#append-payment-premium').html(data);
	            }
	        } );
	    });

	</script>    
{% endblock %}
