

{% block stylesheets %}
   <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/clockpicker.css')}}">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
{% endblock %}
{% block body %}

<div class="edit">
  {{ form_start(edit_form) }}
      {{ form_errors(edit_form) }}

      <div class="row">
        
      <div class="contentNewBar col-xs-12 col-sm-12 col-md-12 noPadding">
          <div class="nameNewBar">

              {{ form_errors(edit_form.name) }}
              {{ form_widget(edit_form.name) }}
              <div id="finalName">{{bar.name}}</div>
          </div>
          <div id="map-canvas"></div>
          <div class="CreationBar col-xs-12 col-sm-12 col-md-12 noPadding">
                <div class="AdresseAndDresscode">
                    <div class="col-xs-6 col-sm-6 col-md-4 col-md-offset-2"> 
                        {{ form_label(edit_form.adress) }}<span>*</span>
                        <br>
                        {{ form_errors(edit_form.adress) }}
                        {{ form_widget(edit_form.adress) }}

                        {{ form_widget(edit_form.geocode) }}
                        <div class="completionAdresse">
                            {{ form_label(edit_form.zipcode) }}
                            <br>
                            {{ form_errors(edit_form.zipcode) }}
                            {{ form_widget(edit_form.zipcode, { 'id': 'postal_code' }) }}
                            <br>
                            {{ form_label(edit_form.town) }}
                            <br>
                            {{ form_errors(edit_form.town) }}
                            {{ form_widget(edit_form.town, { 'id': 'locality' } ) }}
                            <br>
                            {{ form_label(edit_form.region) }}
                            <br>
                            {{ form_errors(edit_form.region) }}
                            {{ form_widget(edit_form.region, { 'id': 'administrative_area_level_1' } ) }}
                            <br>
                            {{ form_label(edit_form.country) }}
                            <br>
                            {{ form_errors(edit_form.country) }}
                            {{ form_widget(edit_form.country, { 'id': 'country' }) }}
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4">
                        {{ form_label(edit_form.dressCode) }}<span>*</span>
                        <br>
                        {{ form_errors(edit_form.dressCode) }}
                        {{ form_widget(edit_form.dressCode) }}
                    </div>
                </div>
                <div class="col-xs-0 col-sm-0 col-md-2"></div>

                <div class="tarifMoyenNewBar col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                    <p>Les tarifs moyens (hors promotion)<span>*</span></p>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            {{ form_label(edit_form.beerPrice) }}<span>*</span>
                            <br>
                            {{ form_errors(edit_form.beerPrice) }}
                            {{ form_widget(edit_form.beerPrice) }}
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            {{ form_label(edit_form.cocktailPrice) }}<span>*</span>
                            <br>
                            {{ form_errors(edit_form.cocktailPrice) }}
                            {{ form_widget(edit_form.cocktailPrice) }}
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            {{ form_label(edit_form.softPrice) }}<span>*</span>
                            <br>
                            {{ form_errors(edit_form.softPrice) }}
                            {{ form_widget(edit_form.softPrice) }}
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            {{ form_label(edit_form.coffeePrice) }}<span>*</span>
                            <br>
                            {{ form_errors(edit_form.coffeePrice) }}
                            {{ form_widget(edit_form.coffeePrice) }}
                        </div>
                    </div>
                </div>
                <div class="servicesNewBar col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                    <p>Vos services</p>
                    <br>
                    <div class="choiceService col-xs-5 col-xs-offset-1 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 noPadding">
                        <div class="valetSecurity">
                            {{ form_errors(edit_form.valet) }}
                            {{ form_widget(edit_form.valet) }}
                            {{ form_label(edit_form.valet) }}
                            {{ form_errors(edit_form.valet) }}
                            {{ form_widget(edit_form.valetCost) }}
                        </div>
                        <div>
                            {{ form_errors(edit_form.handicappedAccess) }}
                            {{ form_widget(edit_form.handicappedAccess) }}
                            {{ form_label(edit_form.handicappedAccess) }}
                        </div>
                        <div>
                            {{ form_errors(edit_form.patio) }}
                            {{ form_widget(edit_form.patio) }}
                            {{ form_label(edit_form.patio) }}
                        </div>
                        <div>
                            {{ form_errors(edit_form.babyfoot) }}
                            {{ form_widget(edit_form.babyfoot) }}
                            {{ form_label(edit_form.babyfoot) }}
                        </div>
                        <div>
                            {{ form_errors(edit_form.clim) }}
                            {{ form_widget(edit_form.clim) }}
                            {{ form_label(edit_form.clim) }}
                        </div>
                </div>
                <div class="choiceService right col-xs-5 col-sm-4 col-md-4 noPadding">
                        <div>
                            {{ form_errors(edit_form.canape) }}
                            {{ form_widget(edit_form.canape) }}
                            {{ form_label(edit_form.canape) }}
                        </div>
                        <div>
                            {{ form_errors(edit_form.billard) }}
                            {{ form_widget(edit_form.billard) }}
                            {{ form_label(edit_form.billard) }}
                        </div>
                        <div>
                            {{ form_errors(edit_form.flipper) }}
                            {{ form_widget(edit_form.flipper) }}
                            {{ form_label(edit_form.flipper) }}
                        </div>
                        <div>
                            {{ form_errors(edit_form.breathalyser) }}
                            {{ form_widget(edit_form.breathalyser) }}
                            {{ form_label(edit_form.breathalyser) }}
                        </div>
                        <div>
                            {{ form_errors(edit_form.smokingArea) }}
                            {{ form_widget(edit_form.smokingArea) }}
                            {{ form_label(edit_form.smokingArea) }}
                        </div>
                    </div>
            </div> 
            <div class="servicesNewBar heureNewBar col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <p>Vos horaires<span>*</span></p>

                {{ form_errors(edit_form.schedule) }}
                {{ form_widget(edit_form.schedule) }}
                {% set days = {'1': 'Lundi', '2': 'Mardi', '3': 'Mercredi', '4': 'Jeudi', '5': 'Vendredi', '6': 'Samedi', '7': 'Dimanche'} %}
                {% set params = {'1': {'when':'open', 'word': 'de'}, '2': {'when':'close', 'word': 'à'}} %}
                {% for j in 1..7 %}
                  <div class="heure center col-xs-12 col-sm-12 col-md-12 noPadding">
                    <div class="left col-xs-3 col-sm-3 col-md-3 noPadding">
                      {{ days[j] }}
                    </div>


                    <div class="col-xs-1 col-sm-1 col-md-1 noPadding">
                      {{ params[1]['word'] }}
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 noPadding">
                      <select class="schedule-picker" data-day="{{ days[j] }}" data-when="{{ params[1]['when'] }}">
                        <option>{{ bar.scheduleArray[days[j]].open }}h</option>
                        {% for i in 0..23 %}
                           <option value="{{i}}">{{i}}h</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 noPadding">
                      {{ params[2]['word'] }}
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 noPadding">
                      <select class="schedule-picker" data-day="{{ days[j] }}" data-when="{{ params[2]['when'] }}">
                        <option>{{ bar.scheduleArray[days[j]].close }}h</option>
                        {% for i in 0..23 %}
                           <option value="{{i}}">{{i}}h</option>
                        {% endfor %}
                      </select>
                    </div>

                    {% if bar.scheduleArray[days[j]].status == "Ouvert" %}
                      <div class="col-xs-3 col-sm-3 col-md-3 noPadding">
                        Fermé <input class="close-day" type="checkbox" data-day="{{ days[j] }}" name="close-day">
                      </div>
                    {% else %}
                      <div class="col-xs-3 col-sm-3 col-md-3 noPadding">
                        Fermé <input class="close-day" type="checkbox" data-day="{{ days[j] }}" name="close-day" checked>
                      </div>
                    {% endif %}

                  </div>
                {% endfor %}
                <div class="clear"></div>
                <div class="descriptionNewBar col-xs-12 col-sm-12 col-md-8 col-md-offset-2">

                    {{ form_label(edit_form.description) }}
                    <br>
                    {{ form_errors(edit_form.description) }}
                    {{ form_widget(edit_form.description) }}


                </div>
            </div>      
      </div>
          

        
        
        {{ form_widget(edit_form._token) }}


        </div>

        <div class="subtitlePageRegisterBig">
        <p>Vos photos</p>
        </div>


        <div class="file_button_container">

          

                  {{ form_row(edit_form.file) }}
                  

                  <div class="showImg">
                    <img id="blah" src="{{ asset('uploads/bar/'~bar.path) }}" alt="Votre image">
                  </div>
         </div>

         <img id="lastPicture" src="{{ asset('uploads/bar/'~bar.path) }}">
    </div>
    <!--<div class="border access">
        {{ form_label(edit_form.access) }}
        {{ form_errors(edit_form.access) }}
        {{ form_widget(edit_form.access) }}
    </div>-->
    {#
        {% if edit_form.vars.value.canape == 1 %}
         <label class="btn btn-primary-checkbox petitplus active">
           <input type="checkbox" name="cac_barbundle_bar[canape]" id="cac_barbundle_bar_canape" value="1"> Canapé
         </label>
        {% else %}
         <label class="btn btn-primary-checkbox petitplus">
           <input type="checkbox" name="cac_barbundle_bar[canape]" id="cac_barbundle_bar_canape" value="1"> Canapé
         </label>
        {% endif %}
    #}
    
  {{ form_end(edit_form) }}
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery-2.1.0.js') }}" type="text/javascript" /></script>
    <script src="{{ asset('js/autocomplete-adress.js') }}" type="text/javascript" /></script>
     <script src="{{ asset('js/modernizr.custom.js') }}" type="text/javascript" /></script>
    <script src="{{ asset('js/svgcheckbx.js') }}" type="text/javascript" /></script>

    <script>
        $(document).ready(function() {
            $('#cac_barbundle_bar_name').on('blur', function() {
                var name = $('#cac_barbundle_bar_name').val();
                if(name != ""){
                    $('#finalName').html(name).removeClass('hidden');
                    $(this).addClass('hidden');
                }
            });
            $('#finalName').on('click', function() {
                $(this).addClass('hidden');
                $('#cac_barbundle_bar_name').removeClass('hidden').focus();
            });
        });
    </script>
{% endblock %}





