{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.Jcrop.min.css')}}">
{% endblock %}

{% block body %}
<div class="file_button_container">
        <div class="row">
             <div class="col-xs-12 col-sm-12 col-md-12">

                <div class="ongletNewBar col-xs-2 col-sm-2 col-md-2 noPadding">
                    <div class="progressionCreation">
                        
                        <div class="progresseBarContent">
                            <div class="progresseBar Etape2Creation">
                                <p>50%</p>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:history.back()">
                        <div class="ongletCreation" id="etablissement">
                            <p>Votre établissement</p>
                        </div>
                    </a>
                    <div class="ongletCreation selectedOngletCreation" id="photo">
                        <p>Vos photos et vos offres</p>
                    </div>
                    <div class="ongletCreation" id="promo">
                        <p>Vos offres</p>
                    </div>
                    <div class="ongletCreation" id="formule">
                        <p>Votre formule</p>
                    </div>
                </div>
                <div class="contentNewBar col-xs-10 col-sm-10 col-md-10 noPadding">
                    <div class="nameNewBar">
                        <h1>{{ bar.name}}</h1>
                    </div>
                    <div class="CreationBar col-xs-12 col-sm-12 col-md-12 noPadding">
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="row">
                            <div class="servicesNewBar col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                                
                                <p>Photo principale</p>
                                <br>

                                <div class="showImg">
                                    <img id="blah" src="#" alt="Votre image" />
                                </div>
                                <div class="addPicture">
                                    {{ form_row(form.file) }}
                                    <div class="addPictureHack">
                                        <p>+</p>
                                        <br>
                                         <span>Ajouter la photo principale</span>
                                    </div>
                                    
                                </div>
                                
                                
                                <input type="hidden" name="coords" id="coords" value="" data-ratio="">
                            <div class="clear"></div>
                            </div> 
                        </div>
                        {{ form_end(form) }}                  
                    </div>
                </div>
            </div>
        </div>

    

</div>

	<a href="{{ path("promotion_create", {'id': id }) }}">Passer cette étape</a>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.color.js') }}" type="text/javascript" /></script>
    <script src="{{ asset('js/jquery.Jcrop.min.js') }}" type="text/javascript" /></script>
    <script>
    $(document).ready(function(){
        var jcrop_api = '';

        function tooSmall() {
            alert('Image trop petite, largeur min 1280px, hauteur min 350px');
            $('#blah').attr('src', '#');
        }

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();
                var img = new Image();
                
                reader.onload = function (e) {
                    if(jcrop_api != '') {h
                        jcrop_api.destroy();
                        $('#blah').attr('style', '');
                    }
                    $('#blah').attr('src', e.target.result);

                    var image = $('#blah');
                    var oW = image.get(0).naturalWidth, oH = image.get(0).naturalHeight;
                    //var oH = image.height(), oW = image.width();
                    if(oW < 1280 || oH < 350) {
                        tooSmall();
                        return false;
                    }
                    var mW = $('.showImg').width(), mH = $('.showImg').height();
                    var ratio = mW/oW;

                    if(ratio > 1) ratio = 1;
                    var cX = 1280*ratio, cY = 350*ratio;
                    var minSize = [cX, cY], setSelect = [(oW*ratio-cX)/2, (oH*ratio-cY)/2, cX, cY];

                    $('#blah').Jcrop({
                        onSelect: changeCoords,
                        minSize: minSize,
                        onChange: changeCoords,
                        setSelect: setSelect
                    }, function () { jcrop_api = this });
                    if(ratio < 1) {
                        $('#coords').attr('data-ratio', ratio);
                        var nH = oH*ratio;
                        $('.jcrop-holder, .jcrop-keymgr + img').height(nH);
                        $('.jcrop-holder div div img').width(mW).height(nH);
                    }
                };
                
                reader.readAsDataURL(input.files[0]);
            }
        }

        function changeCoords(c) {
            var ratio = $('#coords').attr('data-ratio');
            c.ratio = ratio;
            $('#coords').val(JSON.stringify(c));
        }

        $("#form_file").change(function(){
            readURL(this);
            $(".showImg").stop(true,true).show(300);
            $(".file_button_container img").stop(true,true).show(300);
        });
    });
    </script>
{% endblock %}
