{% extends "::basepro.html.twig" %}

{% block title %}CacBarBundle:Bar:show{% endblock %}

{% block body %}
		<div class="topBar col-xs-12 col-sm-12 col-md-12 noPadding">
			<img src="{{ asset('uploads/bar/'~bar.path) }}">
			<!--<img src="{{asset('img/accueil.png')}}" alt="">
			<img src="{{asset('img/pershing.png')}}" alt="">
			<img src="{{asset('img/fondFicheBar.png')}}" alt="">-->
			<div class="infoNameBar">
				<h1>{{ bar.name }}</h1>
			</div>
		</div>

		<div class="onglets col-xs-12 col-sm-12 col-md-12 noPadding">
			<h3>RETOUR DU JOUR</h3>
		</div>

		<div class="contentSuperInfoBar col-xs-12 col-sm-12 col-md-12 noPadding">
			<div class="superInfoBar noPadding">
				<div class="informationBar">
				</div>	
			</div>
		</div>
{% endblock %}
