{% extends "::basepro.html.twig" %}

{% block title %}CacBarBundle:Bar:show{% endblock %}

{% block body %}
		<div class="topBarPro col-xs-12 col-sm-12 col-md-12 noPadding">
			<img src="{{ asset('uploads/bar/'~bar.path) }}">
			<div class="infoNameBar">
				<h1>{{ bar.name }}</h1>
			</div>
		</div>

		<div class="confirmationReservation">
			<div class="checkConfirmation" style="background-image : url('{{ asset('uploads/bar/'~bar.path) }}');">
				<p class='jourReservation'>{{'now'|date('d')}}</p>
				<p class='moisReservation'>

				{% set months = {'1': 'JANVIER', '2': 'FEVRIER', '3': 'MARS', '4': 'AVRIL', '5': 'MAI', '6': 'JUIN', '7': 'JUILLET', '8': 'AOUT', '9': 'SEPTEMBRE', '10': 'OCTOBRE', '11': 'NOVEMBRE', '12': 'DECEMBRE'} %}

			      {% for j in 1..12 %}

					{% if 'now'|date('m') == j %}
						{{ months[j] }}
					{% endif %}
				{% endfor %}
				</p>
			</div>
			<div class="contentConfirmation">
				<div class="textContentConfirmation">
					<div class="closeRappel">
						<img src="{{asset('img/crossClose.png')}}" alt="">
					</div>
					<h2>Modification Réussi !</h2>
					<p class="padding10">Vos modifications son pris en compte dès maintenant</p>
				</div>
			</div>
		</div>

		<div class="onglets col-xs-12 col-sm-12 col-md-12 noPadding">
			<h2>Vos offres</h2>
		</div>
			<div class="onglets col-xs-12 col-sm-12 col-md-12 noPadding">
				<div class="onglet ongletVerresOffert col-xs-6 col-sm-6 col-md-6 noPadding">
					<p>Gestion des offres</p>
				</div>
				<div class="onglet ongletVerresParrainage col-xs-6 col-sm-6 col-md-6 noPadding">
					<p>Gestion des parrainage</p>
				</div>
			</div>
			<div class="daysOngletNewBar">
				{% set day = {
					'1': 'Lundi', 
					'2': 'Mardi', 
					'3': 'Mercredi', 
					'4': 'Jeudi', 
					'5': 'Vendredi', 
					'6': 'Samedi', 
					'7': 'Dimanche'
				} %}
				{% for i in 1..7 %}
					<div class="dayOngletNewBar borderDayOngletNewBar" data-dayselected='{{i}}'>{{ day[i] }}</div>
				{% endfor %}
			</div>

			{% set days = {
				'1': 'Lundi', 
				'2': 'Mardi', 
				'3': 'Mercredi', 
				'4': 'Jeudi', 
				'5': 'Vendredi', 
				'6': 'Samedi', 
				'7': 'Dimanche'
			} %}

			<div class="coteneurBackOfficeBar col-xs-12 col-sm-12 col-md-12 noPadding">
				<div class="superContentBackOffice contentBackOffre noPadding">
				{{ form_start(edit_form) }}
				      {{ form_errors(edit_form) }}
				      {{ form_widget(edit_form.promotion) }}



					<div class="row">
					

					{% set params = {
						'1': {
							'when':'beginning', 
							'word': 'de'
						}, 
						'2': {
							'when':'ending', 
							'word': 'à'
						}
					} %}
					{% for j in 1..7 %}

						<div class="promoHappyHour">
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="contentBackOfficeBar">
									<div class="etapePromotion">
										<p>Promo du {{ days[j] }}</p>
											{% if bar.scheduleArray[day[j]].status == 'Ouvert' %}
												<div class="row">
													
													<div class="center valuePromo">

															<div class="JS-myPromoOfTheDay">{{ bar.getPromotionByDay(days[j]).getOption('value').value }}</div>
														
															<select class="promotion-value-picker" data-day="{{ days[j] }}">
																{% if bar.getPromotionByDay(days[j]).getOption('value').value > 0 %}
																	
																	<!-- <option value="{{ bar.getPromotionByDay(days[j]).getOption('value').value }}">{{ bar.getPromotionByDay(days[j]).getOption('value').value }}%</option> -->
																{% endif %}
																<option value="0">Pas de promo</option>
																{% for i in 2..6 %}
																    <option value="{{i}}0">{{i}}0%</option>
																{% endfor %}
															</select>
														
													</div>

												</div>
												<div class="row">
													<div class="center nbpromo col-xs-12 col-sm-12 col-md-12 noPadding">
														<p>Nombre d'offres disponibles</p>
														<select class="promotion-qt-picker" data-day="{{ days[j] }}">
															<option value="Illimité">{{ bar.getPromotionByDay(days[j]).getOption('quantity').value }}</option>

															{% set nbVerrePromo = {
																'1': '10', 
																'2': '20', 
																'3': '30', 
																'4': '40', 
																'5': '50',
																'6': '100'
															} %}
															{% for k in 1..6 %}
															<option value="{{nbVerrePromo[k]}}">
																{{nbVerrePromo[k]}}
															</option>
															{% endfor %}
														</select>
													</div>
												</div>
											{% else %}
												<p>Bar Fermé aujourd'hui</p>
											{% endif %}
									</div>
								</div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="contentBackOfficeBar">
									<div class="happyHours center">
										<p>HAPPY HOURS</p>
										{% if bar.scheduleArray[day[j]].status == 'Ouvert' %}
											<div class="row">
												<div class="center valuePromo">
													<div class="JS-myHHOfTheDay">{{ bar.getHappyHourByDay(days[j]).getOption('value').value }}</div>
													<div class="JS-myHHOfTheDayBeginning">{{ bar.getHappyHourByDay(days[j]).getOption('beginning').value }}</div>
													<div class="JS-myHHOfTheDayEnding">{{ bar.getHappyHourByDay(days[j]).getOption('ending').value }}</div>

													<select class="hh-value-picker" data-day="{{ days[j] }}">
													{% if bar.getHappyHourByDay(days[j]).getOption('value').value == 0 %}
														<option value="0">Pas de Happy Hour</option>
													
													{% endif %}
														{% for i in 3..7 %}
														    <option value="{{i}}0">{{i}}0%</option>
														{% endfor %}
													</select>
												</div>
											</div>
											<div class="row">
												<div class="center nbpromo happyhoursTime col-xs-12 col-sm-12 col-md-12 noPadding">
													{% for k in 1..2 %}
															<p>{{ params[k]['word'] }}</p>

															<select class="hh-picker" data-day="{{ days[j] }}" data-when="{{ params[k]['when'] }}">
																<option value="{{ bar.getHappyHourByDay(days[j]).getOption(params[k]['when']).value }}">{{ bar.getHappyHourByDay(days[j]).getOption(params[k]['when']).value }}h</option>
																{% for i in 0..23 %}
																    <option value="{{i}}">{{i}}h</option>
																{% endfor %}
															</select>

													{% endfor %}
												</div>
											</div>
										{% else %}
											<p>Bar Fermé aujourd'hui</p>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="row validationUpdatePromo">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="contentBackOfficeBar">
				    			{{ form_end(edit_form) }}
				    		</div>
				    	</div>
					</div>
				</div>
				<div class="superContentBackOffice contentBackparrainage noPadding">
					

					{{ form_start(edit_dayss_form, {'attr': {'id': 'form_sponsorship'}}) }}
						{% for day in 1..7 %}
							<div class="promoParrainnage">
								<input type="text" class="nbParrainnageToday" nbParrainnageToday="">
							</div>

							<!-- <select class="promotion-qt-picker" data-day="{{ days[day] }}">
								<option value="Illimité" class="nbParrainnageToday"></option>

								{% set nbVerrePromo = {
									'1': '10', 
									'2': '20', 
									'3': '30', 
									'4': '40', 
									'5': '50',
									'6': '100'
								} %}
								{% for k in 1..6 %}
								<option value="{{nbVerrePromo[k]}}">
									{{nbVerrePromo[k]}}
								</option>
								{% endfor %}
							</select> -->
							
						{% endfor %}

				      {{ form_errors(edit_dayss_form) }}
				      {{ form_widget(edit_dayss_form.promotion, {'id': 'form_sponsorship_json'}) }}
				 	{{ form_end(edit_dayss_form) }}
				</div>
			</div>
			
{% endblock %}


{% block javascripts %}
<script src="{{ asset('js/jquery-2.1.0.js') }}" type="text/javascript" /></script>
<script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript" /></script>
<script src="{{ asset('js/bootstrap-switch.min.js') }}" type="text/javascript" /></script>
<script src="{{ asset('js/function.js') }}" type="text/javascript" /></script>
<script src="{{ asset('js/function-pro.js') }}" type="text/javascript" /></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script src="{{ asset('js/modernizr.custom.js') }}" type="text/javascript" /></script>
<script src="{{ asset('js/svgcheckbx.js') }}" type="text/javascript" /></script>
 <script>
 $(document).ready(function() {
 	$('#cac_barbundle_promotion_dummy_submit').on('click', function() {
 		var form = $('form[name="cac_barbundle_promotion_dummy"]');
 		var formAction = form.attr('action');
 		var data = $('#cac_barbundle_promotion_dummy_promotion').val();

 		$.ajax({
	        type: 'POST',
	        url: formAction,
	        data: { data: data },
	        success: function (data) {
 				console.log(data);
 				confirmationReservation();
	        }
	    });
 		return false;
 	});
 });
</script>
<script src="{{ asset('js/gestionOffer.js') }}" type="text/javascript" /></script>
{% endblock %}