{% extends "::basepro.html.twig" %}

{% block title %}CacBarBundle:Bar:show{% endblock %}

{% block body %}
		<div class="topBarPro col-xs-12 col-sm-12 col-md-12 noPadding">
			<img src="{{ asset('uploads/bar/'~bar.path) }}">
			<div class="infoNameBar">
				<h1>{{ bar.name }}</h1>
			</div>
		</div>

		<div class="onglets col-xs-12 col-sm-12 col-md-12 noPadding">
			<h3>RETOURS DU JOUR</h3>
		</div>

		<div class="contentSuperInfoBar col-xs-12 col-sm-12 col-md-12 noPadding">
			<div class="superInfoBar overflowX noPadding">
				<div class="navRetourOffre col-xs-12 col-sm-12 col-md-12 noPadding">
					<div class="col-xs-10 col-sm-10 col-md-10 noPadding">
						<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
							<p>Référence</p>
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
							<p>Nom</p>
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
							<p>Prénom</p>
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
							<p>Etat</p>
						</div>
					</div>
					<div class="navValidationOffre col-xs-2 col-sm-2 col-md-2 noPadding">
						<div class="col-xs-6 col-sm-6 col-md-6 noPadding">
							<p>Ticket<br>Utilisé</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 noPadding">
							<p>NON<br>Présentation</p>
						</div>
					</div>
					
				</div>

				<div class="allOffre">
					{% for promo in promos %}

						<div class="retourOffre col-xs-12 col-sm-12 col-md-12 noPadding">

							{% if promo.etat == "validé" %}
								<div class="retourVerrePromotion offreValide col-xs-10 col-sm-10 col-md-10 noPadding">
							{% elseif promo.etat == "non validé" %}
								<div class="retourVerrePromotion offreNonValide col-xs-10 col-sm-10 col-md-10 noPadding">
							{% else %}	
								<div class="retourVerrePromotion col-xs-10 col-sm-10 col-md-10 noPadding">
							{% endif %}
							
								<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
									<p>{{promo.reference}}</p>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
									<p>{{promo.user.name}}</p>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
									<p>{{promo.user.firstname}}</p>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
									<p class="zone-etat-{{promo.id}}">{{promo.etat}}</p>
								</div>
							</div>
							<div class="validationOffre col-xs-2 col-sm-2 col-md-2 noPadding">
								<div class="validerOffre col-xs-6 col-sm-6 col-md-6 noPadding">
									<p class="validate-promo" data-promo-id="{{promo.id}}">V</p>
								</div>
								<div class="noValiderOffre col-xs-6 col-sm-6 col-md-6 noPadding">
									<p class="invalidate-promo" data-promo-id="{{promo.id}}">X</p>
								</div>
							</div>
							
						</div>
					{% endfor %}
				</div>
				

			</div>
		</div>
{% endblock %}
