{% extends "::basepro.html.twig" %}

{% block title %}CacBarBundle:Bar:show{% endblock %}

{% block body %}
		<div class="topBarPro col-xs-12 col-sm-12 col-md-12 noPadding">
			<img src="{{ asset('uploads/bar/'~bar.path) }}">
			<div class="infoNameBar">
				<h1>{{ bar.name }}</h1>
			</div>
		</div>

		<div class="onglets col-xs-12 col-sm-12 col-md-12 noPadding">
			<div class="onglet ongletVerresOffert col-xs-6 col-sm-6 col-md-6 noPadding">
				<p>GESTION DES VERRES OFFERTS</p>
			</div>
			<div class="onglet ongletVerresPromotion col-xs-6 col-sm-6 col-md-6 noPadding">
				<p>GESTION DES PROMOTIONS</p>
			</div>
		</div>

		<div class="contentSuperInfoBar col-xs-12 col-sm-12 col-md-12 noPadding">
			<div class="superInfoBar noPadding">
				<div class="ongletBarJour">
					{% for day in lists.days %}
						<div class="informationJour {{ day }}">
							<h3>{{ day }}</h3>
						</div>
					{% endfor %}
				</div>
				<div class="informationBar">
					<div class="gestion gestionVerreOffert col-xs-12 col-sm-12 col-md-12">
						<h2>Nombres de verres disponibles à l'offre</h2>
						<select class="promotion-qt-picker height40" data-day="{{ today }}">
							{% for number in lists.drinkNumber %}
								<option value="{{ number }}">{{ number }}</option>
							{% endfor %}
						</select>
						<p class="padding40">Condition*</p>
						<select>
							{% for restriction in restrictions %}
							<option value="{{ restriction.value }}">{{ restriction.name }}</option>
							{% endfor %}
						</select>


						<h2>Validité des verres offerts</h2>
						
						<select class="promotion-qt-picker height40">
							{% for duration in lists.drinkDuration %}
							<option value="{{ duration }}">{{ duration }}</option>
							{% endfor %}
						</select>

						<div class="imprimerCodePromo col-xs-12 col-sm-12 col-md-12 noPadding">
							<h2>MES CODES</h2>
							<div class="col-xs-6 col-sm-6 col-md-6 noPadding">
								 <input type="submit" id="_submit" name="_submit" value="IMPRIMER" />
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 noPadding">
								<select class="promotion-qt-picker height25">
									{% for number in lists.printNumber %}
									<option value="{{ number }}">{{ number }}</option>
									{% endfor %}
								</select>
							</div>

						</div>
					</div>

					<div class="gestion gestionPromotion col-xs-12 col-sm-12 col-md-12">
						<h2>Vos promotions</h2>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<select class="promotion-qt-picker height40" data-day="{{ today }}">
								{% if bar.promotion.promotionArray[today] is defined %}
								<option value="{{ bar.promotion.promotionArray[today].promotion.value }}">{{ bar.promotion.promotionArray[today].promotion.value }}%</option>
								{% endif %}
									{% for i in 2..6 %}
									    <option value="{{i}}0">{{i}}0%</option>
									{% endfor %}
							</select>
						</div>
						
						<div class="center col-xs-6 col-sm-6 col-md-6">
							<p>En distribuer au maximum</p>
							<input value="{% if bar.promotion.promotionArray[today] is defined %}{{ bar.promotion.promotionArray[today].promotion.quantity }}{% endif %}"/> pour ce jour
							<br>
							<br>
							<p>Condition*</p>
							<select>
							{% for restriction in restrictions %}
							<option value="{{ restriction.value }}">{{ restriction.name }}</option>
							{% endfor %}
							</select>
						</div>
						<h2>Vos happy hours</h2>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<select class="promotion-qt-picker height40" data-day="{{ today }}">
								{% if bar.promotion.promotionArray[today] is defined %}
								<option value="{{ bar.promotion.promotionArray[today]['happy-hour'].value }}">{{ bar.promotion.promotionArray[today]['happy-hour'].value }}%</option>
								{% endif %}
										{% for i in 2..6 %}
										    <option value="{{i}}0">{{i}}0%</option>
										{% endfor %}
							</select>
						</div>
						<div class="center col-xs-6 col-sm-6 col-md-6">
							<p>Horaires des happy hours</p>
							De
							<select class="promotion-qt-picker" data-day="{{ today }}">
								{% if bar.promotion.promotionArray[today] is defined %}
								<option value="{{ bar.promotion.promotionArray[today]['happy-hour'].beginning }}">{{ bar.promotion.promotionArray[today]['happy-hour'].beginning }}h</option>
								{% endif %}
										{% for i in 0..23 %}
										    <option value="{{i}}">{{i}}h</option>
										{% endfor %}
							</select>
							à
							<select class="promotion-qt-picker" data-day="{{ today }}">
								{% if bar.promotion.promotionArray[today] is defined %}
								<option value="{{ bar.promotion.promotionArray[today]['happy-hour'].ending }}">{{ bar.promotion.promotionArray[today]['happy-hour'].ending }}h</option>
								{% endif %}
										{% for i in 0..23 %}
										    <option value="{{i}}">{{i}}h</option>
										{% endfor %}
							</select>

							<br>
							<br>

							<p>Condition*</p>

							<select>
							{% for restriction in restrictions %}
							<option value="{{ restriction.value }}">{{ restriction.name }}</option>
							{% endfor %}
							</select>
						</div>
						
					</div>
					
				</div>
				
					<div class="clear"></div>
			</div>
			<div class="infoPromoPro">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<h4>IMPORTANT :</h4>
					<p>
						Je m'engage à offrir les verres promis sans réserves à tout clients muni d'une offre valide.
					</p>
				</div>

				<div class="col-xs-6 col-sm-6 col-md-6">
					<input type="submit" id="_submit" name="_submit" value="VALIDER" />
				</div>
				<div class="clear"></div>
			</div>
		</div>
{% endblock %}
