{% extends "::basepro.html.twig" %}

{% block title %}Options{% endblock %}

{% block body %}
		<div class="topBarPro col-xs-12 col-sm-12 col-md-12 noPadding">
			<img src="{{ asset('uploads/bar/'~bar.path) }}">
			<div class="infoNameBar">
				<h1>{{ bar.name }}</h1>
			</div>
		</div>

		<div class="onglets col-xs-12 col-sm-12 col-md-12 noPadding">
			<h2>Les options</h2>
			<p class="mesOptions">Afficher mes options</p>
		</div>
		<div class="onglets ongletsOptionPro col-xs-12 col-sm-12 col-md-12 noPadding">
			<div class="ongletOptionPro ongletVerresOffert carte col-xs-2 col-sm-2 col-md-2 col-xs-offset-1 noPadding">
				<p>Carte PDF</p>
			</div>
			<div class="ongletOptionPro ongletVerresPromotion miseAvant col-xs-2 col-sm-2 col-md-2 noPadding">
				<p>Mise en avant</p>
			</div>
			<div class="ongletOptionPro ongletVerresPromotion sms col-xs-2 col-sm-2 col-md-2 noPadding">
				<p>SMS</p>
			</div>
			<div class="ongletOptionPro ongletVerresPromotion email col-xs-2 col-sm-2 col-md-2 noPadding">
				<p>E-mail</p>
			</div>
			<div class="ongletOptionPro ongletVerresPromotion js-event col-xs-2 col-sm-2 col-md-2 noPadding">
				<p>Bandeau</p>
			</div>
		</div>


		<div class="coteneurBackOfficeBar col-xs-12 col-sm-12 col-md-12 noPadding">
			<div class="contentOptionBar">

				<div class="contentOption contentCarte col-xs-12 col-sm-12 col-md-12">
					<h2>Description</h2>
					<p>Affichez votre carte de cocktails sur votre page restaurant permet une augmentation des retours. Vous donnez à vos clients la possibilité de se faire une meilleure idée de votre établissement. Montrez votre savoir-faire, vos cocktails les plus innovant et attirez de nouveau clients.</p>

					<h2>Nombre de visites sur votre fiche</h2>
					<p class="numberOption">{{bar.score}}</p>

					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<h2>Tarifs HT</h2>
							<p>4,90€/MOIS</p>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<h2>Conditions</h2>
							<p class="conditionPDF">Voir les conditions</p>
						</div>
					</div>
				</div>
				<div class="contentOption center contentCarte col-xs-12 col-sm-12 col-md-12">	
					{% if bar.carte.getValues()[0] is not defined or bar.carte.getValues()[0]|length == 0 %}
						{% render(controller("CacBarBundle:CarteBar:new", {'barId' : bar.id})) %}
					{% else %}
						{% for carte in bar.carte if carte.visible == true %}
							{% if carte.getWebPath %}
									<div class="cartePDFinPro col-xs-12 col-sm-12 col-md-12">
										<a href="{{asset(carte.getWebPath)}}" target="_blank">
											<img src="{{asset('img/carteBar.png')}}" alt="Click and Cheers">
											<p>VOIR LA CARTE DU BAR</p>
										</a>
									</div>
									<div class="clear"></div>
							{% endif %}
						{% endfor %}
					
						{% render(controller("CacBarBundle:CarteBar:update", {'id' : bar.carte.getValues()[0].id})) %}
					{% endif %}
				</div>

				<div class="contentOption contentSms col-xs-12 col-sm-12 col-md-12">
					<h2>Description</h2>
					<p>
                        Envoyez des vous permet de communiquer sur le moyen le plus efficace à ce jour, avec l'ensemble des clients ayant réservé pour votre établissement via Click and Cheers.<br>
					    Vos clients recevront un SMS avec comme expéditeur le nom de votre établissement même si ils ne vous ont pas enregistré dans leur répertoire téléphonique. Magique !
                    </p>

					<h2>Votre SMS</h2>
					<div class="contentTextSMS">
						<div class="insideTextSMS">
							<p id="compteur"><span id="sms-word-count">17</span>/160 (maximum 160 caractères)</p>
						<textarea id="message" name="message" class="textSMS" maxlength="160">




STOP au XXXXX</textarea>
						</div>
						
					</div>

					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<h2>Tarifs HT</h2>
							<p><b>0,09€/SMS</b></p>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<h2>Nombre de contact mobile disponible</h2>
							<p><b>{{ clients|length }} contacts</b></p>
						</div>
					</div>

				</div>
				<div class="contentOption center contentSms col-xs-12 col-sm-12 col-md-12">
                    {% if clients|length == 0 %}
                        <p class="sendSMS disabled" id="send-sms" title="Vous n'avez aucun contact">Envoyer mon SMS</p>
                    {% else %}
                        <button class="sendSMS" id="send-sms">Envoyer mon SMS</button>
                    {% endif %}
				</div>

                <div class="clear"></div>

				<div class="contentOption contentEmail col-xs-12 col-sm-12 col-md-12">
					<!--<h2>Description</h2>
					<p>Envoyez des e-mails à vos clients. Il s’agit du moyen le plus économique à ce jour pour communiquer massivement.
					Grâce à notre plateforme, vous envoyez des e-mails qu’à des personnes ayant dèjà réservé dans votre établissement.<br>
					Cela vous permet de cibler précisement vos destinataires et d’optimiser le taux d’ouverture. 
					Vous pouvez inclure du texte ainsi qu’une image, prévisualiser votre e-mail avant l’envoi, et obtenir des statistiques.</p>


					<div class="row">
						<div class="col-xs-12 col-sm-7 col-md-7">
							<h2>Texte de votre e-mail</h2>
							<div class="contentTextEmail">
								<div class="insideTextEmail">
									<p>Soyez bref, clair et explicite</p>
									<textarea id="emailOption" name="emailOption" class="emailOption"></textarea>
								</div>
								
							</div>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-5">
							<h2>Ajoutez une image</h2>
							<p class="btnAddImageEmail">Depuis mon ordinateur</p>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 col-sm-7 col-md-7">
							<h2>Tarifs HT</h2>
							<p><b>0,05€ / SMS</b></p>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-5">
							<h2>Nombre de contacts diponibles</h2>
							<p><b>172 contacts -> rendre dynamique</b></p>
						</div>
					</div>-->
					<div class="prochainement">
						<img src="{{asset('img/mailDispo.png')}}" alt="">
						<p>Bientôt disponible</p>
					</div>
				</div>
				<!--<div class="contentOption center contentEmail col-xs-12 col-sm-12 col-md-12">
							<p class="sendEmail">Prévisualiser mon e-mail</p>
				</div>-->

				<div class="contentOption contentMiseAvant col-xs-12 col-sm-12 col-md-12">
					<h2>Description</h2>
					<p>La mise en avant vous permet d’être plus visible par les internautes. Vous aurez donc plus de réservations. Elle vous place dans les blocs quatre fois plus grands que ceux de la fiche standard et cette option ne remplace pas votre fiche standard, vous apparaissez donc deux fois sur une même page. </p>

					<h2>Exemple :</h2>
					<div class="contentExemple">
						<div class="col-xs-12 col-sm-12 col-md-12 noPadding">
							{% set i = 0 %}
							{% set myBar = bar.id %}
							{% for bar in bars %}
								{% if i < 3 %}
									{% if bar.id != myBar %}
										<div class="barInList col-xs-12 col-sm-6 col-md-3 noPadding">
											<div class="contentImageBar" style="background-image:url({{ asset('uploads/bar/'~bar.path) }})">
												<a href="{{ path('bar_show', { id : bar.id }) }}"><div class="shadowbarInList col-xs-12 col-sm-12 col-md-12">
													<h3 id="firstWord{{ bar.id }}">{{ bar.name }}</h3>
													
												</div></a>
											</div>
										</div>
										{% set i = i+1 %}
									{% endif %}
								{% endif %}
							{% endfor %}
							<div class="barInList col-xs-12 col-sm-6 col-md-3 noPadding">
								<div class="contentImageBar" style="background-image:url({{ asset('uploads/bar/'~bar.path) }})">
									<a href="{{ path('bar_show', { id : bar.id }) }}"><div class="shadowbarInList col-xs-12 col-sm-12 col-md-12">
										<h3 id="firstWord{{ bar.id }}">{{ bar.name }}</h3>
										
									</div></a>
								</div>
							</div>
							<div class="HightlightLeft col-xs-12 col-sm-6 col-md-6 noPadding">
								<div class="barInListHighlight barInList col-xs-12 col-sm-12 col-md-12 noPadding">
									<div class="contentImageBar" style="background-image:url({{ asset('uploads/bar/'~bar.path) }})">
										<a href="{{ path('bar_show', { id : bar.id }) }}"><div class="shadowbarInList col-xs-12 col-sm-12 col-md-12">
											<h3 id="firstWord{{ bar.id }}">{{ bar.name }}</h3>
										</div></a>
									</div>
								</div>
							</div>
							{% set nbHighlight = highlight | length %}

							{% set boucle = 0 %}
							{% if nbHighlight < 2 %}
								{% for bar in bars %}
									{% if boucle < 1 %}
										{% if bar.id != myBar %}
											<div class="HightlightRight col-xs-12 col-sm-6 col-md-6 noPadding">
												<div class="barInListHighlight barInList col-xs-12 col-sm-12 col-md-12 noPadding">
													<div class="contentImageBar" style="background-image:url({{ asset('uploads/bar/'~bar.path) }})">
														<a href="{{ path('bar_show', { id : bar.id }) }}"><div class="shadowbarInList col-xs-12 col-sm-12 col-md-12">
															<h3 id="firstWord{{ bar.id }}"> {{ bar.name }} </h3>
														</div></a>
													</div>
												</div>
											</div>
											{% set boucle = boucle+1 %}
										{% endif %}
									{% endif %}
								{% endfor%}
							{% else %}
							
								{% set k = 0 %}
								{% if  highlight[k].bar.id == bar.id %}
									{% set k = 1 %}
								{% endif %} 
								<div class="HightlightRight col-xs-12 col-sm-6 col-md-6 noPadding">
									<div class="barInListHighlight barInList col-xs-12 col-sm-12 col-md-12 noPadding">
										<div class="contentImageBar" style="background-image:url({{ asset('uploads/bar/'~highlight[k].bar.path) }})">
											<a href="{{ path('bar_show', { id : highlight[k].bar.id }) }}"><div class="shadowbarInList col-xs-12 col-sm-12 col-md-12">
												<h3 id="firstWord{{ highlight[k].bar.id }}"> {{ highlight[k].bar.name }} </h3>
											</div></a>
										</div>
									</div>
								</div>
							{% endif %}
						</div>
					</div>
					<div class="clear"></div>


					<h2>Tarifs HT</h2>
					<p class="center">0,89€/jours</p>
				</div>
				<div class="contentOption center contentMiseAvant col-xs-12 col-sm-12 col-md-12">	
					<div class="mettreBarEnAvant">
						{% set miseEnAvant = false %}

						{% if nbHighlight > 0 %}
							{% for j in 0..nbHighlight-1%}
								{% if highlight[j].bar.id == myBar %}
									{% set miseEnAvant = true %}
								{% endif %}
							{% endfor %}
						{% endif %}

						{% if miseEnAvant %}
							<p class="removeBarEnAvant" data-bar-id="{{bar.id}}">Suspendre la mise en avant de mon bar</p>
						{% else %}
							<p class="barEnAvant" data-bar-id="{{bar.id}}">Mettre mon bar en avant</p>
						{% endif %}
					</div>
				</div>

				<div class="contentOption contentEvent col-xs-12 col-sm-12 col-md-12">
                    {% if bar.event is not null %}
                        {% render(controller("CacBarBundle:Event:edit", {'id' : bar.event.id})) %}
                    {% else %}
                        {% render(controller("CacBarBundle:Event:new", {'id' : bar.id})) %}
                    {% endif %}
                </div>

				<div class="contentOption contentMesOptions col-xs-12 col-sm-12 col-md-12">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<h2>En cours</h2>
							{% render(controller("CacPaymentBundle:Default:displayOptions" , { 'barId': bar.id } )) %}
						</div>

						<div class="col-xs-12 col-sm-6 col-md-6">
							<h2>Historique</h2>

							<div class="optionFinies">
								{% render(controller("CacPaymentBundle:Default:displayFinishedOptions")) %}
							</div>
						</div>
					</div>	
				</div>
			</div>

		</div>
{% endblock %}
