{% extends "::basepro.html.twig" %}

{% block title %}CacBarBundle:Bar:show{% endblock %}

{% block body %}
		<div class="topBarPro col-xs-12 col-sm-12 col-md-12 noPadding">
			{% if bar.path %}
				<img src="{{ asset('uploads/bar/'~bar.path) }}">
			{% else %}
				<img src="{{asset('img/defaultImageBar.jpg')}}" alt="">
			{% endif %}
			<!--<img src="{{asset('img/accueil.png')}}" alt="">
			<img src="{{asset('img/pershing.png')}}" alt="">
			<img src="{{asset('img/fondFicheBar.png')}}" alt="">-->
			<div class="infoNameBar">
				<h1>{{ bar.name }}</h1>
			</div>
		</div>

		<div class="onglets col-xs-12 col-sm-12 col-md-12 noPadding">
			<h3>OPTIONS</h3>
		</div>


		<div class="contentSuperInfoBar col-xs-12 col-sm-12 col-md-12 noPadding">
			<div class="superInfoBar noPadding">
				<div class="ongletBarJour">
					<div class="informationJour sms">
						<h3>PACK SMS</h3>
					</div>

					<div class="informationJour email">
						<h3>PACK E-MAIL</h3>
					</div>

					<div class="informationJour carte">
						<h3>CARTE PDF</h3>
					</div>

					<div class="informationJour miseAvant">
						<h3>MISE EN AVANT</h3>
					</div>

					<div class="informationJour mesOptions">
						<h3>AFFICHER MES OPTIONS</h3>
					</div>
				</div>

				<div class="contentOption contentSms col-xs-12 col-sm-12 col-md-12">
					<h2>Description</h2>
					<p>Envoyez un sms à l’ensemble des personnes ayant honoré un ticket ou un verre dans votre établissement.<br>
					Cette solution vous permet de communiquer avec des personnes qui ont déjà évoquer un intéret pour votre établissement. Un ciblage qui permet un meilleur retour sur investissement</p>

					<h2>Nombre de vos clients (Ayant communiqué un téléphone portable)</h2>
					<p>78</p>

					<h2>Tarifs HT</h2>
					<p>0,4€/SMS</p>

				</div>
				<div class="contentOption contentEmail col-xs-12 col-sm-12 col-md-12">
					<h2>Description</h2>
					<p>Envoyez un E-mail à l’ensemble des personnes ayant honoré un ticket ou un verre dans votre établissement.<br>
					Cette solution vous permet de communiquer avec des personnes qui ont déjà évoquer un intéret pour votre établissement. Un ciblage qui permet un meilleur retour sur investissement</p>

					<h2>Nombre de vos clients (Ayant communiqué un téléphone portable)</h2>
					<p>188</p>

					<h2>Tarifs HT</h2>
					<p>0,25€/E-MAIL</p>
				</div>
				<div class="contentOption contentCarte col-xs-12 col-sm-12 col-md-12">
					<h2>Description</h2>
					<p>Affichez votre carte de coktails sur votre page restaurant permet une augmentation des retours. Vous donnez à vos client la possibilité de se faire une meilleure idée de votre établissement. Montrez votre savoir faire, vos coktails les plus innovant et attirez de nouveau clients</p>

					<h2>Nombre de visites sur votre fiche</h2>
					<p>188</p>

					<h2>Tarifs HT</h2>
					<p>5€/MOIS</p>
				</div>
				<div class="contentOption contentMiseAvant col-xs-12 col-sm-12 col-md-12">
					<h2>Description</h2>
					<p>La mise en avant vous permet d’être plus visible par les internautes. Vous aurez donc plus de réservations. La mise en avant vous place dans les blocs 4 fois plus grands que la fiche standard. Cette option ne remplace pas votre fiche standard, vous apparaissez donc 2 fois sur une même page. </p>

					<h2>Exemple :</h2>
					<div class="contentExemple">
						<div class="col-xs-12 col-sm-12 col-md-12 noPadding">
							{% set i = 0 %}
							{% set myBar = bar.id %}
							{% for bar in bars %}
								{% if i < 3 %}
									{% if bar.id != myBar %}
										<div class="barInList col-xs-12 col-sm-6 col-md-3 noPadding">
											<img src="{{ asset('uploads/bar/'~bar.path) }}">
											<a href="{{ path('bar_show', { id : bar.id }) }}"><div class="shadowbarInList col-xs-12 col-sm-12 col-md-12">
												<h3 id="firstWord{{ bar.id }}">{{ bar.name }}</h3>
												{% if bar.priceRange ==  1 %}
												<p class="prix">€{#<span class="percentage">€€€€</span>#}</p>
												{% elseif bar.priceRange ==  2 %}
													<p class="prix">€€</p>
												{% elseif bar.priceRange ==  3 %}
													<p class="prix">€€€</p>
												{% elseif bar.priceRange ==  4 %}
													<p class="prix">€€€€</p>
												{% elseif bar.priceRange ==  5 %}
													<p class="prix">€€€€€</p>
												{% else %}
												<p></p>
												{% endif %}
												<p class="reduc">%</p>
											</div></a>
										</div>
										{% set i = i+1 %}
									{% endif %}
								{% endif %}
							{% endfor %}
							<div class="barInList col-xs-12 col-sm-6 col-md-3 noPadding">
								<img src="{{ asset('uploads/bar/'~bar.path) }}">
								<a href="{{ path('bar_show', { id : bar.id }) }}"><div class="shadowbarInList col-xs-12 col-sm-12 col-md-12">
									<h3 id="firstWord{{ bar.id }}">{{ bar.name }}</h3>
									{% if bar.priceRange ==  1 %}
									<p class="prix">€{#<span class="percentage">€€€€</span>#}</p>
									{% elseif bar.priceRange ==  2 %}
										<p class="prix">€€</p>
									{% elseif bar.priceRange ==  3 %}
										<p class="prix">€€€</p>
									{% elseif bar.priceRange ==  4 %}
										<p class="prix">€€€€</p>
									{% elseif bar.priceRange ==  5 %}
										<p class="prix">€€€€€</p>
									{% else %}
									<p></p>
									{% endif %}
									<p class="reduc">%</p>
								</div></a>
							</div>
							<div class="HightlightLeft col-xs-12 col-sm-6 col-md-6 noPadding">
								{#{{highlight[0].bar.id}}#}
								<div class="barInListHighlight barInList col-xs-12 col-sm-12 col-md-12 noPadding">
									<img src="{{ asset('uploads/bar/'~bar.path) }}">
									<a href="{{ path('bar_show', { id : bar.id }) }}"><div class="shadowbarInList col-xs-12 col-sm-12 col-md-12">
										<h3 id="firstWord{{ bar.id }}">{{ bar.name }}</h3>
										{% if bar.priceRange ==  1 %}
										<p class="prix">€{#<span class="percentage">€€€€</span>#}</p>
										{% elseif bar.priceRange ==  2 %}
											<p class="prix">€€</p>
										{% elseif bar.priceRange ==  3 %}
											<p class="prix">€€€</p>
										{% elseif bar.priceRange ==  4 %}
											<p class="prix">€€€€</p>
										{% elseif bar.priceRange ==  5 %}
											<p class="prix">€€€€€</p>
										{% else %}
										<p></p>
										{% endif %}
										<p class="reduc">%</p>
									</div></a>
								</div>
							</div>
						

						</div>

					</div>
					<div class="clear"></div>


					<h2>Tarifs HT</h2>
					<p class="center">0,79€/jours</p>

					<div class="mettreBarEnAvant">
						<p data-bar-id="{{bar.id}}">Mettre mon bar en avant</p>
					</div>
				</div>

				<div class="contentOption contentMesOptions col-xs-12 col-sm-12 col-md-12">
					
						
					
					<p class="closeMesOptions">
						<img src="{{asset('img/crossClose.png')}}" alt="">
					</p>
					<h2 class="titleMesOptions">Mes options</h2>
					<h2>EN COURS</h2>
					<div class="mesOptionsEnCoursHeader col-xs-12 col-sm-12 col-md-12 noPadding">
						<div class="col-xs-5 col-sm-5 col-md-5 noPadding"></div>
						<div class="col-xs-5 col-sm-5 col-md-5 noPadding">
							<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
								<p>Souscrit le</p>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
								<p>Tarif HT</p>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
								<p>Quantité</p>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
								<p>Statut</p>
							</div>

						</div>
						<div class="col-xs-2 col-sm-2 col-md-2 noPadding">
							<p>TOTAL HT</p>
						</div>
					</div>



					<div class="mesOptionsEnCours col-xs-12 col-sm-12 col-md-12 noPadding">
						<div class="col-xs-5 col-sm-5 col-md-5 noPadding">
							<p class="textLeft dataMiseEnAvant" data-genre="Mise en avant">Mise en avant</p>
						</div>
						<div class="col-xs-5 col-sm-5 col-md-5 noPadding">
							<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
								<p class="dataDate" data-date="12/09/2014">12/09/2014</p>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
								<p class="dataPrix" data-prix="1€/Jour">1€/Jour</p>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
								<p class="dataQuantity" data-quantity="X">X</p>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
								<p class="dataStatus" data-status="En cours">En cours</p>
							</div>
						</div>
						<div class="col-xs-2 col-sm-2 col-md-2 noPadding">
							<p class="dataTotal" data-total="13€">13€</p>
						</div>
						<div class="closeMesOptionEnCours">
							<img src="{{asset('img/crossClosePetit.png')}}" alt="">
						</div>
					</div>
					<div class="mesOptionsEnCours col-xs-12 col-sm-12 col-md-12 noPadding">
						<div class="col-xs-5 col-sm-5 col-md-5 noPadding">
							<p class="textLeft dataMiseEnAvant" data-genre="Pack SMS">Pack SMS</p>
						</div>
						<div class="col-xs-5 col-sm-5 col-md-5 noPadding">
							<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
								<p class="dataDate" data-date="12/09/2014">12/09/2014</p>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
								<p class="dataPrix" data-prix="1€/Jour">1€/Jour</p>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
								<p class="dataQuantity" data-quantity="X">X</p>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
								<p class="dataStatus" data-status="En cours">En cours</p>
							</div>
						</div>
						<div class="col-xs-2 col-sm-2 col-md-2 noPadding">
							<p class="dataTotal" data-total="14€">14€</p>
						</div>
						<div class="closeMesOptionEnCours">
							<img src="{{asset('img/crossClosePetit.png')}}" alt="">
						</div>
					</div>
					<div class="clear"></div>
					<h2 class="padding10">HISTORIQUE</h2>

					<div class="mesOptionsEnCoursHeader col-xs-12 col-sm-12 col-md-12 noPadding">
						<div class="col-xs-3 col-sm-3 col-md-3 noPadding"></div>
						<div class="col-xs-2 col-sm-2 col-md-2 noPadding">
							<p>Arrété le</p>
						</div>
						<div class="col-xs-5 col-sm-5 col-md-5 noPadding">
							<div class="col-xs-3 col-sm-3 col-md-3 noPadding"></div>
							<div class="col-xs-3 col-sm-3 col-md-3 noPadding"></div>
							<div class="col-xs-3 col-sm-3 col-md-3 noPadding"></div>
							<div class="col-xs-3 col-sm-3 col-md-3 noPadding"></div>
						</div>
						<div class="col-xs-2 col-sm-2 col-md-2 noPadding"></div>
					</div>

					<div class="optionFinies">
						<div class="mesOptionsEnCours col-xs-12 col-sm-12 col-md-12 noPadding">
							<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
								<p class="textLeft">Mise en avant</p>
							</div>
							<div class="col-xs-2 col-sm-2 col-md-2 noPadding">
								<p>12/09/2014</p>
							</div>
							<div class="col-xs-5 col-sm-5 col-md-5 noPadding">
								<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
									<p>12/09/2014</p>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
									<p>1€/Jour</p>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
									<p>X</p>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 noPadding">
									<p>En cours</p>
								</div>
							</div>
							<div class="col-xs-2 col-sm-2 col-md-2 noPadding">
								<p>13€</p>
							</div>
						</div>
					</div>
					
				</div>
				<div class="clear"></div>
			</div>

		</div>
{% endblock %}
