{% extends "::basepro.html.twig" %}

{% block title %}CacBarBundle:Bar:show{% endblock %}

{% block body %}
		<div class="topBar col-xs-12 col-sm-12 col-md-12 noPadding">
			<img src="{{ asset('uploads/bar/'~bar.path) }}">
			<!--<img src="{{asset('img/accueil.png')}}" alt="">
			<img src="{{asset('img/pershing.png')}}" alt="">
			<img src="{{asset('img/fondFicheBar.png')}}" alt="">-->
			<div class="infoNameBar">
				<h1>{{ bar.name }}</h1>
			</div>
		</div>

		<div class="onglets col-xs-12 col-sm-12 col-md-12 noPadding">
			<h3>OPTIONS</h3>
		</div>


		<div class="contentSuperInfoBar col-xs-12 col-sm-12 col-md-12 noPadding">
			<div class="superInfoBar noPadding">
				<div class="ongletBarJour">
					<div class="informationJour sms">
						<h3>PACK SMS</h3>
					</div>

					<div class="informationJour email">
						<h3>PACK E-MAIL</h3>
					</div>

					<div class="informationJour carte">
						<h3>CARTE PDF</h3>
					</div>

					<div class="informationJour miseAvant">
						<h3>MISE EN AVANT</h3>
					</div>
				</div>

				<div class="contentOption contentSms col-xs-12 col-sm-12 col-md-12">
					<h2>Description</h2>
					<p>Envoyez un sms à l’ensemble des personnes ayant honoré un ticket ou un verre dans votre établissement.<br>
					Cette solution vous permet de communiquer avec des personnes qui ont déjà évoquer un intéret pour votre établissement. Un ciblage qui permet un meilleur retour sur investissement</p>

					<h2>Nombre de vos clients (Ayant communiqué un téléphone portable)</h2>
					<p>78</p>

					<h2>Tarifs HT</h2>
					<p>0,4e/SMS</p>

				</div>
				<div class="contentOption contentEmail col-xs-12 col-sm-12 col-md-12">
					<h2>Description</h2>
					<p>Envoyez un E-mail à l’ensemble des personnes ayant honoré un ticket ou un verre dans votre établissement.<br>
					Cette solution vous permet de communiquer avec des personnes qui ont déjà évoquer un intéret pour votre établissement. Un ciblage qui permet un meilleur retour sur investissement</p>

					<h2>Nombre de vos clients (Ayant communiqué un téléphone portable)</h2>
					<p>188</p>

					<h2>Tarifs HT</h2>
					<p>0,25e/E-MAIL</p>
				</div>
				<div class="contentOption contentCarte col-xs-12 col-sm-12 col-md-12">
					<h2>Description</h2>
					<p>Affichez votre carte de coktails sur votre page restaurant permet une augmentation des retours. Vous donnez à vos client la possibilité de se faire une meilleure idée de votre établissement. Montrez votre savoir faire, vos coktails les plus innovant et attirez de nouveau clients</p>

					<h2>Nombre de visite sur votre fiche</h2>
					<p>188</p>

					<h2>Tarifs HT</h2>
					<p>5e/MOIS</p>
				</div>
				<div class="contentOption contentMiseAvant col-xs-12 col-sm-12 col-md-12">
					Mise en Avant
				</div>
			</div>

		</div>
{% endblock %}
