{% for entity in entities if entities|length > 0 %}
    <tr>
        <td><a href="{{ path('avis_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
        <td>{{ entity.message }}</td>
        <td>
            {% if app.user == entity.user %} 
                <a href="{{ path('avis_delete', { 'id': entity.id }) }}">delete</a>
            {% endif %}
        </td>
    </tr>
{% else %}
    <p class="texte col-xs-7 col-sm-7 col-md-7 noPadding">0 avis</p>
    <p class="col-xs-12 col-sm-12 col-md-12 noPadding">Il n'y a encore aucun avis pour ce bar</p>
    <div class="racontezNous col-xs-12 col-sm-12 col-md-12 noPadding">
        <p>Et si vous étiez le premier ?</p>
        <img src="{{asset('img/avis.png')}}" alt="avis">
    </div>
{% endfor %}
