{% for entity in entities if entities|length > 0 %}
    <div class="commentaire">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">

                <p class="nameCommentaire">{{entity.user.firstname}}</p>
                <!-- <td><a href="{{ path('avis_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> -->
                <p class="contentCommentaire">"{{ entity.message }}"</p>

                <p class="deleteCommentaire">
                    {% if app.user == entity.user %} 
                        <a href="{{ path('avis_delete', { 'id': entity.id }) }}">Supprimer</a>
                    {% endif %}
                </p>
                <p class="noteCommentaire">
                    <span>9</span>/10
                </p>
            </div>
        </div>
    </div>
{% else %}
    <p class="col-xs-7 col-sm-7 col-md-7 noPadding"><span class="colorCac">0 avis</span></p>
    <p class="col-xs-12 col-sm-12 col-md-12 noPadding">Il n'y a encore aucun avis pour ce bar</p>
    <div class="racontezNous col-xs-12 col-sm-12 col-md-12 noPadding">
        <p>Et si vous étiez le premier ?</p>
        <img src="{{asset('img/avis.png')}}" alt="avis">
    </div>
{% endfor %}
