  <script type="text/javascript">
    jQuery(function($) {
      $('#payment-form').submit(function(e) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
    });
  </script>
  <div class="contentPayment">
    <div class="explicationCarteCredit">
      <p><b>Ceci n'est qu'une autorisation de prélèvement</b></p>
      <p>Vous serez débité tous les 30 jours glissant à compter d'aujourd'hui</p>
    </div>
    <div class="payementWithCard">
      <form action="{{ path('free-pay') }}" method="POST" id="payment-form">
        <span class="payment-errors"></span>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="col-xs-12 col-md-8">
               <div class="form-row ">
                <label>
                  <input type="text" data-stripe="number" placeholder="Numéro de carte bancaire" maxlength="16"/>
                </label>
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
               <div class="form-row">
                <label>
                  <input type="text" data-stripe="cvc" placeholder="Code de sécurité"  maxlength="3"/>
                </label>
              </div>
            </div>
            <div class="clear"></div>
            <div class="padding10">
              <div class="col-xs-12 col-md-8">
                <div class="row">
                  <div class="col-xs-12">
                    <p class="toLeft">Expire le :</p>
                  
                    <div class="form-row toLeft contentPaymentDate">
                      <label>
                        <select class="schedule-picker" data-stripe="exp-month">
                          <option>Mois</option>
                          {% for i in 1..12 %}
                                <option value="{{i}}">{{i}}</option>
                          {% endfor %}
                        </select>
                        <!-- <input type="text" size="2" data-stripe="exp-month"/> -->
                      </label>
                   
                  
                      <label>
                        <select class="schedule-picker" data-stripe="exp-year">
                          <option>Année</option>
                          {% for i in "now"|date("Y")..("now"|date("Y")+10) %}
                                <option value="{{i}}">{{i}}</option>
                          {% endfor %}
                        </select>
                      </label>
                    </div>
                  </div>

                    <!-- <input type="text" size="4" data-stripe="exp-year"/> -->
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                 <button type="submit">Valider</button>
              </div>
            </div>
            <div class="clear"></div>
            <div class="cardVisu">
              <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="col-xs-3 col-md-3">
                      <img src="{{asset('img/payment/visa.jpg')}}" alt="">
                    </div>
                    <div class="col-xs-3 col-md-3">
                      <img src="{{asset('img/payment/masterCard.png')}}" alt="">
                    </div>
                    <div class="col-xs-3 col-md-3">
                      <img src="{{asset('img/payment/amex.png')}}" alt="">
                    </div>
                    <div class="col-xs-3 col-md-3">
                      <img src="{{asset('img/payment/cb.png')}}" alt="">
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div> 
