  <script type="text/javascript">
    jQuery(function($) {
      $('#payment-form').submit(function(e) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
    });
  </script>

  <form action="{{ path('premium-pay') }}" method="POST" id="payment-form">
    <span class="payment-errors"></span>

    <div class="form-row">
      <label>
        <span>Card Number</span>
        <input type="text" size="20" data-stripe="number"/>
      </label>
    </div>

    <div class="form-row">
      <label>
        <span>Expiration (MM/YYYY)</span>
        <select class="schedule-picker" data-stripe="exp-month">
          {% for i in 1..12 %}
                <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
        <!-- <input type="text" size="2" data-stripe="exp-month"/> -->
      </label>
      <span> / </span>
      <select class="schedule-picker" data-stripe="exp-year">
        {% for i in "now"|date("Y")..("now"|date("Y")+10) %}
              <option value="{{i}}">{{i}}</option>
        {% endfor %}
      </select>
      <!-- <input type="text" size="4" data-stripe="exp-year"/> -->
    </div>

    <div class="form-row">
      <label>
        <span>CVC</span>
        <input type="text" size="4" data-stripe="cvc" placeholder="123"/>
      </label>
    </div>
    
    <button type="submit">Submit Payment</button>
  </form>
